<template>
  <div>
    <!-- <el-container style="padding: 0 20px;margin-bottom: 16px;">
      <el-main>
        <el-card class="fillter-box" style="padding-bottom: 20px;">
          <div style="padding: 20px;">
            <div style="text-align: left; font-weight: bold;color: #000;height: 40px;line-height: 40px;">
              请输入查询条件
            </div>
            <div style="text-align: left;" class="inputInfo">
              <div>
                <label style="padding-right: 2%">
                  <span slot="label">绩效年份</span>
                </label>
                <el-input v-model.number="reqBody.year" placeholder="请输入绩效年份(格式:YYYY)" type="number"
                  style="width: 30%; height: 40px; " />
              </div>
              <div>
                <label style="padding-right: 2%">
                  <span slot="label">绩效季度</span>
                </label>
                <el-select v-model="reqBody.quarter" clearable placeholder="请选择绩效季度" filterable
                  style="width: 30%; height: 40px;">
                  <el-option v-for="item in quarterList" :key="item.reCode" :label="item.reName"
                    :value="item.reCode"></el-option>
                </el-select>
              </div>
            </div>
            <div style="float: right;">
              <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>
            </div>
          </div>
        </el-card>
      </el-main>
    </el-container> -->
    <el-card class="table-box">
      <div class="teble-top">
        <div class="teble-top-left">
          <div class="table-blue"></div>
          <span style="text-align: left; height: 40px; font-weight: bold;color: #000;">
            待处理任务列表
          </span>
          <el-table class="elTable" v-loading="loading" element-loading-text="查询中，请稍后..." border :data="resDate"
            tooltip-effect="dark"
            :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold' }">
            <el-table-column align="center" type="index" label="" fixed
              :index="index => { return (currentPage - 1) * pageSize + index + 1; }" width="60"></el-table-column>
            <el-table-column prop="processName" label="任务类型" min-width="180" align="center">
            </el-table-column>
            <el-table-column prop="title" label="任务名称" min-width="230" align="center">
              <template slot-scope="scope">
                <div>
                  <a href="javascript:;" @click="goEnviro(scope.row)" style="color: #606266;">{{ scope.row.title }}</a>
                </div>
              </template>
            </el-table-column>
            <!-- <el-table-column prop="manageCom" label="申请机构" min-width="80" align="center">
            </el-table-column>
            <el-table-column prop="staffName" label="申请人" min-width="80" align="center">
            </el-table-column> -->
            <el-table-column prop="applyDate" label="申请时间" min-width="150" align="center">
            </el-table-column>
            <el-table-column prop="lastApplyDate" label="最后提交时间" min-width="150" align="center">
            </el-table-column>
          </el-table>
          <div class="block" style="text-align: center; margin-top: 20px">
            <el-pagination :current-page="currentPage" @size-change="handleSizeChange"
              @current-change="handleCurrentChange" :page-sizes="[10, 50, 300, 500]" :page-size="pageSize"
              layout="total, sizes, prev, pager, next, jumper" :total="count" style="float: right;"></el-pagination>
          </div>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
export default {
  name: 'layout',
  data () {
    return {
      sels: [], // 列表选中列
      loading: false,
      resDate: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      count: 0,
      reqBody: {
        year: '',
        quarter: ''
      },
      // 绩效季度
      quarterList: [
        {
          reCode: 1,
          reName: '一季度'
        },
        {
          reCode: 2,
          reName: '二季度(年中)'
        },

        {
          reCode: 3,
          reName: '三季度'
        },
        {
          reCode: 4,
          reName: '四季度(年度)'
        }
      ]
    }
  },
  created () {
    this.getPage()
  },
  methods: {
    // 查询
    handleQuery () {
      this.currentPage = 1
      this.getPage()
    },
    // 绩效查询
    async getPage () {
      var para = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.reqBody
      }
      console.log('获取列表请求参数', para)
      approveProcessList.pendingTaskList(para).then(res => {
        console.log('获取列表-----------------------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.count = res.data.content.records
          this.total = res.data.content.count
          this.resDate = res.data.content.data
          this.resDate.forEach(elme => {
            if (elme.processName === '分公司绩效结果汇总审批') {
              elme.title = elme.manageCom + elme.title
            }
          });
          console.log('表格数据', this.resDate)
        }
      }).then(() => {
        // this.listLoading = false;
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange: function (num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.getPage()
    },
    // 点击任务名称跳转页面
    async goEnviro (row) {
      console.log(row)
      // http://gherp.guohualife.com:7001/cas/login
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res.data)
        if (res.data.content.result === '0') {
          if (row.processName === '员工绩效等级审批') {
            var a = row.hrPerformanceGatherId + "&userNo=" + res.data.content.userNo + "&kid=";
            let Base64 = require('js-base64').Base64;
            var decodeStr = Base64.encode(a);
            console.log("encode：" + decodeStr)
            const { href } = this.$router.resolve({
              path: '/performance/meritsExamine',
              query: {
                hrPerformanceGatherId: decodeStr
              }
            })
            window.open(href, '_blank')
          } else if (row.processName === '分公司绩效结果汇总审批') {
            var a = row.hrPerformanceGatherId + "&userNo=" + res.data.content.userNo + "&kid=";
            let Base64 = require('js-base64').Base64;
            var decodeStr = Base64.encode(a);
            console.log("encode：" + decodeStr)
            const { href } = this.$router.resolve({
              path: '/performance/meritsReCheck',
              query: {
                hrPerformanceGatherId: decodeStr
              }
            })
            window.open(href, '_blank')
          } else {
            var a = row.hrEmpPerformanceId + "&userNo=" + res.data.content.userNo + "&kid=" + 
              window.sessionStorage.getItem('kid') + "&isShow=" + '展示';
            let Base64 = require('js-base64').Base64;
            var decodeStr = Base64.encode(a);
            console.log("encode：" + decodeStr)
            const { href } = this.$router.resolve({
              path: '/performance/productDeal',
              query: {
                hrPerformanceId: decodeStr
              }
            })
            window.open(href, '_blank')
          }
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
.el-header,
.el-footer {
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
}

.inputInfo {
  width: 100%;
  display: flex;
  font-weight: 500;
  flex-flow: row wrap;
}

.inputInfo div {
  width: 49.5%;
  padding-bottom: 2px;
}

.inputInfo div label {
  display: inline-block;
  width: 32%;
  /* //width: 135px; */
  width: 180px;
  height: 40px;
  line-height: 40px;
}

.input {
  background-color: #f6f7f9;
}

.elTable {
  border: 1px solid #d1d2ce;
}

.my-message-box .el-message-box__content {
  text-align: center !important;
}

/deep/ .table-box {
  border-radius: 4px;
  // margin: 0 20px 18px 10px;
  margin-bottom: 20px;
  padding: 10px;
  
  .teble-top {
    margin: 10px 0 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teble-top-left {
      .table-blue {
        content: '';
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        display: inline-block;
      }

      .elTable {
        margin-top: 15px;
      }

      .table-title {
        height: 28px;
        font-size: 20px;
        font-family: MicrosoftYaHeiSemi;
        font-weight: bold;
        color: #303133;
        line-height: 28px;
        margin-left: 10px;
      }
    }
  }

  .el-card__body {
    padding: 20px;
  }

  .el-table {
    width: 100%;
    margin-bottom: 16px;

    &::before {
      height: 0;
    }

    .el-table__header,
    .el-table__body {
      width: 100% !important;
    }

    th.el-table__cell {
      background-color: transparent;
    }

    td.el-table__cell {
      border: none;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    margin-bottom: 16px;

    .el-table-header {
      background-color: #e9f0ff;

      .el-table__cell {
        background-color: transparent;
        padding: 0;

        .cell {
          font-size: 14px;
          font-family: MicrosoftYaHeiSemibold;
          color: #303133;
        }
      }
    }

    .cell {
      padding-left: 20px;
      white-space: nowrap;
      font-size: 14px;
      font-family: MicrosoftYaHei;
    }
  }

  .more-oper {
    display: flex;
    justify-content: space-between;

    * {
      padding: 0;
      line-height: 100%;
      font-size: 14px;
      margin: 0;
    }

    .btn-more {
      i.el-icon-more {
        margin-left: 5px;
        cursor: pointer;
        color: #aeafb2;
        transition: all 0.3s;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 10px;

        &:hover {
          color: #666769;
          background-color: lightgray;
        }
      }
    }
  }
}
</style>
<style>
.el-tooltip__popper {
  background: #409eff !important;
  color: #fff;
}
</style>
<style lang="less">
.inputInfo {
  .el-input__inner {
    background-color: #f6f7f9;
  }
}

.el-dialog {
  position: relative;
  margin: 0 auto 50px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 30%;
}

.el-input__inner {
  font-size: 13.5px;
}

.el-form-item__label {
  width: 30%;
}

.el-select__tags {
  overflow: hidden;
  flex-wrap: wrap;
}
</style>
