<template>
  <div class="app-content">
    <el-card class="fillter-box">
        <!-- <h3>请输入查询条件</h3> -->
        <span style="font-weight: bold;">请输入查询条件</span>
        <el-form :model="queryForm" ref="dynamicValidateForm" style="text-align: left;padding-top: 10px;">
          <el-row>
            <el-col :span="6">
              <el-form-item prop="compType" label="机构层级">
                <el-select
                  v-model="queryForm.compType"
                  placeholder="请选择机构层级"
                  @change="queryDeptByComCode"
                  clearable
                  filterable>
                  <el-option v-for="item in compTypeList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="companyCode" label="所属机构">
                <el-select
                  v-model="queryForm.companyCode"
                  placeholder="请选择所属机构"
                  @change="queryDeptByComCode"
                  clearable
                  filterable>
                  <el-option v-for="item in orgList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="deptId" label="所属部门">
                <el-select
                  v-model="queryForm.deptId"
                  placeholder="请选择所属部门"
                  clearable
                  filterable>
                  <el-option v-for="item in deptList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="staffStatus" label="员工状态">
                <el-select
                  v-model="queryForm.staffStatus"
                  placeholder="请选择状态"
                  clearable
                  filterable>
                  <el-option v-for="item in statusList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item prop="cycle" label="考核周期">
                <el-select
                  v-model="queryForm.cycle"
                  placeholder="请选择考核周期"
                  clearable
                  filterable>
                  <el-option v-for="item in cycleList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="examiner" label="考核对象">
                <el-select
                  v-model="queryForm.examiner"
                  placeholder="请选择考核对象"
                  clearable
                  filterable>
                  <el-option v-for="item in examinerList" :key ="item" :label="item" :value="item"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="staffCode" label="员工编码">
                <el-input v-model="queryForm.staffCode" placeholder="请输入员工编码" clearable></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item prop="staffName" label="员工姓名">
                <el-input v-model="queryForm.staffName" placeholder="请输入员工姓名" clearable></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <el-form-item prop="targetStatus" label="确认状态">
                <el-select
                  v-model="queryForm.targetStatus"
                  placeholder="请选择状态"
                  clearable
                  filterable>
                  <el-option v-for="item in confirmList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <el-row type="flex" justify="end">
          <el-col class="query_button" :span="6">
            <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>            
          </el-col>
        </el-row>
    </el-card>
    <el-card class="table-content-box">
      <div class="table-title-box">
        <span>员工考核指标权重明细表</span>
        <div style="display: flex;">
          <el-button type="primary" size="small" icon="el-icon-circle-check" @click="confirm" v-if="userInfo.comCode === '86'">确认</el-button>
          <el-button type="primary" size="small" icon="el-icon-download" @click="templateDownload">下载导入模板</el-button>
          <!-- <el-button type="primary" size="small" icon="el-icon-upload2" @click="uploadTemplate">导入</el-button> -->
          <el-upload
            class="upload-demo"
            ref="uploadDemo"
            action
            :http-request="uploadTemplate"
            :before-upload="beforeUploadFile"
            :on-exceed="handleExceed"
            :limit="1"
            accept=".xls, .xlsx"
            :file-list="fileList">
            <el-button type="primary" size="small" icon="el-icon-upload2" :loading="uploadLoading">导入</el-button>
          </el-upload>
          <el-button type="primary" size="small" icon="el-icon-download" @click="exportTemplate">导出</el-button>
          <el-button type="primary" size="small" icon="el-icon-delete" @click="excise">删除</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        @selection-change="selsChange"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold','text-align': 'center' }">
        <el-table-column fixed="left" type="selection" width="50" align="center"></el-table-column>
        <!-- <el-table-column align="center" type="index" label="序号" fixed
          :index="index => { return (currentPage - 1) * pageSize + index + 1; }" width="60"></el-table-column> -->
        <el-table-column fixed="left" prop="staffCode" label="员工编号" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" prop="staffName" label="姓名" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" prop="cycle" label="考核周期" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" prop="compType" label="所属机构层级" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" prop="examiner" label="考核对象类型" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" prop="staffLevel" label="员工层级" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="managecomzfName" label="总/分公司" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="companyName" label="所属机构" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="deptName" label="所属部门" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="subjectName" label="处室" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="hrRankName" label="职务" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="hrStationName" label="岗位" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="kpiWeight" label="组织KPI考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="jobPerformance" label="工作绩效考评" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="policyImplementation" label="总公司政策执行情况考核" min-width="200" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="riskManagement" label="风险管理及合规考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="assetsLiability" label="资产负债管理考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="consumerProtection" label="消费者权益保护考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="serviceEvaluation" label="服务评价管理考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="workPlan" label="专项工作计划考核" min-width="180" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="managementLevel" label="机构\部门经营管理水平考核" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="deptSatisfaction" label="部门满意度评价" min-width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="honesty" label="廉洁从业指标考核" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="zhWeight" label="分管条线权重1（综合）" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="ybWeight" label="分管条线权重2（银保）" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="dyWeight" label="分管条线权重3（多元）" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="xqWeight" label="分管条线权重4（续期）" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="yyNoxqWeight" label="分管条线权重5（运营-不含续期）" min-width="140" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="yyWeight" label="分管条线权重6（运营）" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="wpWeight" label="分管条线权重7（委派/风险合规）" min-width="140" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="remark" label="调整原因" min-width="120" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="staffStatus" label="员工状态" min-width="90" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="targetStatus" label="确认状态" min-width="90" align="center" :show-overflow-tooltip="true">
          <template slot-scope="{row}">
            {{row.targetStatus == 0 ? "未确认" : "已确认"}}
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="200" align="center">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewHistoryOperate(row)">查看历史</el-button>
            <el-button size="mini" @click="modify(row)">修改</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="bottom-box">
        <div></div>
        <el-pagination
          :total="total"
          :current-page="currentPage"
          :page-size="pageSize"
          :page-sizes="[10, 50, 300, 500]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"></el-pagination>
      </div>
    </el-card>

    <el-dialog title= '删除原因'
      :visible.sync="deleteReasonDialog"
      @closed="resetForm"
      center>
      <el-form :model="deleteReasonForm" ref="deleteReasonForm" :rules="deleteReasonFormRule">
        <el-form-item prop="reason">
          <el-input v-model="deleteReasonForm.reason" type="textarea" rows="10" placeholder="请输入删除原因"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="deleteReasonDialog = false">取 消</el-button>
        <el-button type="primary" @click="makeSureExcise('deleteReasonForm')">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="考核指标权重明细" :visible.sync="editDialog" @closed="resetForm" width="60%" :close-on-click-modal="false" center>
      <el-form class="edit-dialog-form" :model="editForm" ref="editFormRef" :rules="editFormRules">
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item label="考核对象" prop="examiner" :rules="[{ required: true, message: '请输入考核对象', trigger: 'change' }]">
              <el-select
                  v-model="editForm.examiner"
                  placeholder="请选择考核对象"
                  clearable
                  filterable>
                  <el-option v-for="item in examinerList" :key ="item" :label="item" :value="item"></el-option>
                </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="员工层级" prop="staffLevel" :rules="[{ required: true, message: '请输入员工层级', trigger: 'change' }]">
              <el-select
                  v-model="editForm.staffLevel"
                  placeholder="请选择员工层级"
                  clearable
                  filterable>
                  <el-option v-for="item in staffLevelList" :key ="item" :label="item" :value="item"></el-option>
                </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="组织KPI考核" prop="kpiWeight">
              <el-input clearable v-model="editForm.kpiWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item required label="工作绩效考评" prop="jobPerformance">
              <el-input clearable v-model="editForm.jobPerformance" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item required label="总公司政策执行情况考核" prop="policyImplementation">
              <el-input clearable v-model="editForm.policyImplementation" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item required label="风险管理及合规考核" prop="riskManagement">
              <el-input clearable v-model="editForm.riskManagement" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item required label="资产负债管理考核" prop="assetsLiability">
              <el-input clearable v-model="editForm.assetsLiability" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item required label="消费者权益保护考核" prop="consumerProtection">
              <el-input clearable v-model="editForm.consumerProtection" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="服务评价管理考核" prop="serviceEvaluation">
              <el-select clearable v-model="editForm.serviceEvaluation" placeholder="请选择">
                <el-option key="1" label="分公司服务评价等级较差的，需基于分公司负责人考核总分扣分，具体参照服务评价管理办法执行" 
                  value="分公司服务评价等级较差的，需基于分公司负责人考核总分扣分，具体参照服务评价管理办法执行">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item label="专项工作计划考核" prop="workPlan">
              <el-select clearable v-model="editForm.workPlan" placeholder="请选择">
                <el-option key="1" label="-5分到+10分" value="-5分到+10分">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="机构\部门经营管理水平考核" prop="managementLevel">
              <el-select clearable v-model="editForm.managementLevel" placeholder="请选择">
                <el-option key="1" label="±10分" value="±10分">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="部门满意度评价" prop="deptSatisfaction">
              <el-select clearable v-model="editForm.deptSatisfaction" placeholder="请选择">
                <el-option key="1" label="调整类考核指标，具体参照绩效管理办法" value="调整类考核指标，具体参照绩效管理办法">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item label="廉洁从业指标考核" prop="honesty">
              <el-select clearable v-model="editForm.honesty" placeholder="请选择">
                <el-option key="1" label="调整类考核指标，具体参照绩效管理办法" value="调整类考核指标，具体参照绩效管理办法">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="分管条线权重1（综合）" prop="zhWeight">
              <el-input clearablet v-model="editForm.zhWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="分管条线权重2（银保）" prop="ybWeight">
              <el-input clearable v-model="editForm.ybWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item label="分管条线权重3（多元）" prop="dyWeight">
              <el-input clearable v-model="editForm.dyWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="分管条线权重4（续期）" prop="xqWeight">
              <el-input clearable v-model="editForm.xqWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="分管条线权重5（运营-不含续期）" prop="yyNoxqWeight">
              <el-input clearable v-model="editForm.yyNoxqWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle">
          <el-col :span="8">
            <el-form-item label="分管条线权重6（运营）" prop="yyWeight">
              <el-input clearable v-model="editForm.yyWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="分管条线权重7（委派）" prop="wpWeight">
              <el-input clearable v-model="editForm.wpWeight" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="调整原因" prop="remark">
              <el-input clearable v-model="editForm.remark" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialog = false">取 消</el-button>
        <el-button type="primary" :loading="editSubmitLoading" @click="submitModify('editFormRef')">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title= '查看历史'
      class="view_history_dialog"
      :visible.sync="viewHistoryDialog"
      width="70%"
      center>
        <el-table v-loading="loading2" element-loading-text="查询中，请稍后..." :data="historyTableData" border
          :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold','text-align': 'center' }">
          <el-table-column align="center" prop="cycle" label="考核周期" min-width="180"/>
          <el-table-column align="center" prop="examiner" label="考核对象类型" min-width="180"/>
          <el-table-column align="center" prop="staffLevel" label="员工层级" min-width="180"/>
          <el-table-column align="center" prop="kpiWeight" label="组织KPI考核" min-width="180"/>
          <el-table-column align="center" prop="jobPerformance" label="工作绩效考评" min-width="180"/>
          <el-table-column align="center" prop="policyImplementation" label="总公司政策执行情况考核" min-width="180"/>
          <el-table-column align="center" prop="riskManagement" label="风险管理及合规考核" min-width="180"/>
          <el-table-column align="center" prop="assetsLiability" label="资产负债管理考核" min-width="180"/>
          <el-table-column align="center" prop="consumerProtection" label="消费者权益保护考核" min-width="180"/>
          <el-table-column align="center" prop="serviceEvaluation" label="服务评价管理考核" min-width="180"/>
          <el-table-column align="center" prop="workPlan" label="专项工作计划考核" min-width="180"/>
          <el-table-column align="center" prop="managementLevel" label="机构\部门经营管理水平考核" min-width="200"/>
          <el-table-column align="center" prop="deptSatisfaction" label="部门满意度评价" min-width="180"/>
          <el-table-column align="center" prop="honesty" label="廉洁从业指标考核" min-width="180"/>
          <el-table-column align="center" prop="zhWeight" label="分管条线权重1（综合）" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="ybWeight" label="分管条线权重2（银保）" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="dyWeight" label="分管条线权重3（多元）" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="xqWeight" label="分管条线权重4（续期）" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="yyNoxqWeight" label="分管条线权重5（运营-不含续期）" min-width="140" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="yyWeight" label="分管条线权重6（运营）" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="wpWeight" label="分管条线权重7（委派/风险合规）" min-width="140" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="remark" label="调整原因" min-width="180"/>
          <el-table-column align="center" prop="traceType" label="操作" min-width="150">
            <template slot-scope="{row}">
              {{row.traceType == 0 ? "调整" : "删除"}}
            </template>
          </el-table-column>
          <el-table-column align="center" prop="makeDate" label="时间" min-width="180">
            <template slot-scope="{row}">
              {{new Date(row.makeDate).toLocaleString()}}
            </template>
          </el-table-column>
        </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="viewHistoryDialog = false">取 消</el-button>
        <el-button type="primary" @click="viewHistoryDialog = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
import assessmentDetail from '@/api/assessmentDetail'
export default {
  name: 'assessmentDetail',
  data () {
    let validateDemandNo = (rule, value, callback) => {
      let reg = /^([0-9]\d{0,1}|100)$/
      if (reg.test(value)) {
        callback()
      } else {
        callback(new Error('请输入0-100的整数！'))
      }
    }
    return {
      // 用户信息
      userInfo: {},
      queryForm:{
        companyCode: '',
        deptId: '',
        staffStatus: '',
        cycle: '',
        staffName: '',
        staffCode: '',
        targetStatus: '',
        compType: '',
        examiner: ''
      },
      // 机构
      orgList: [],
      // 所属部门
      deptList: [],
      // 员工状态
      statusList: [{
        value: '01',
        label: '在职'
      },{
        value: '03',
        label: '离司'
      }],
      // 确认状态
      confirmList: [{
        label: "未确认",
        value: "0 "
      },{
        label: "已确认",
        value: "1"
      }],
      // 上传loading
      uploadLoading: false,
      fileList: [],
      // 表格loading
      loading: false,
      tableData: [],
      selectList: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      // 删除原因弹框
      deleteReasonDialog: false,
      deleteReasonForm: {
        reason: ''
      },
      deleteReasonFormRule: {
        reason: [
          { required: true, message: '删除原因不能为空', trigger: 'blur' },
        ]
      },
      // 点击哪条数据的操作栏
      hrPfcEmpTargetId: '',
      // 修改框
      editDialog: false,
      // 修改框表单
      editForm: {
        staffLevel: '',
        examiner: '',
        cycle: '',
        kpiWeight: '',
        jobPerformance: '',
        deptSatisfaction: '',
        riskManagement: '',
        assetsLiability: '',
        serviceEvaluation: '',
        consumerProtection: '',
        policyImplementation: '',
        workPlan: '',
        managementLevel: '',
        honesty: '',
        zhWeight: '',
        ybWeight: '',
        dyWeight: '',
        xqWeight: '',
        yyNoxqWeight: '',
        yyWeight: '',
        wpWeight: '',
        remark: ''
      },
      editFormRules: {
        kpiWeight: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ],
        jobPerformance: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ],
        policyImplementation: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ],
        riskManagement: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ],
        assetsLiability: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ],
        consumerProtection: [
          { required: true, message: '请输入0-100的整数！', trigger: 'change', trigger: 'blur' },
          { required: true, validator: validateDemandNo, trigger: 'blur', trigger: 'change' }
        ]
      },
      editSubmitLoading: false,
      // 查看历史弹出框
      viewHistoryDialog: false,
      historyTableData: [],
      loading2: false,
      // 机构层级
      compTypeList: [
      {
          value: '总公司',
          label: '总公司'
        },
        {
          value: '分公司',
          label: '分公司'
        },
        {
          value: '三级机构',
          label: '三级机构'
        },
        {
          value: '四级机构',
          label: '四级机构'
        }
      ],
      // 考核周期
      cycleList: [{
        label: "年度",
        value: "年度"
      },{
        label: "季度",
        value: "季度"
      }],
      // 考核对象集合
      examinerList: [
        '总公司前线部门级管理人员','总公司后线部门级管理人员（财务、精算）','总公司后线部门级管理人员（法律合规部）','总公司后线部门级管理人员（风险管理部）',
        '总公司后线部门级管理人员（健康险事业部）','总公司后线部门级管理人员（运营）','总公司后线部门级管理人员（企划）','总公司后线部门级管理人员（投资）',
        '总公司后线部门级管理人员（董办）','总公司后线部门级管理人员（康养、行政）','总公司后线部门级管理人员（其他）','总公司资产负债管理秘书处员工',
        '总公司从事资产配置的专业人员','总公司其他干部及员工',
        '分公司负责人','分公司班子副职','机构委派负责人','分公司风险合规负责人','分公司部门级（前线）','分公司部门级（后线）',
        '分公司室主任级','分公司员工','中心支公司负责人','中心支公司班子副职','三级机构部门经理级（前线）','三级机构部门经理级（后线）',
        '三级机构员工','四级机构负责人','四级机构其它干部及员工'
      ],
      // 员工层级集合
      staffLevelList: [
        '总公司-A类正职','总公司-A类副职','总公司-B类','总公司-C类','分公司班子成员','分公司部门级及三级机构（含本部）班子','分公司室主任级及三级机构（含本部）经理级（前线）',
        '分公司室主任级及三级机构（含本部）经理级（后线）','机构员工级（前线）','机构员工级（后线）','全部人员（适用于城市型分公司）'
      ]
    }
  },
  created () {
    this.queryComCode()
    this.handleQuery()
    this.getUserInfo()
  },
  methods: {
    //当前登录用户
    async getUserInfo() {
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户res-----', res)
        if (res.data.content.result === '0') {
          this.userInfo = res.data.content
          console.log('用户信息', this.userInfo)
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    },
    // 查询
    handleQuery() {
      this.currentPage = 1
      this.getPage()
    },
    async getPage () {
      this.loading = true
      const params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.queryForm
      }
      console.log('查询考核指标明细请求参数',params)
      assessmentDetail.queryTargetList(params).then(res => {
        this.loading = false
        if (res.data.content.result === '0') {
          this.total = res.data.content.records
          this.tableData = res.data.content.data
          console.log('考核指标明细数据', this.tableData)
        } else if (res.data.content.result === '1') {
          this.$message.error(res.data.resultMessage || '查询失败（resultMessage: null）')
        }
      })
    },
    // 查询机构
    queryComCode() {
      assessmentDetail.queryOrgList().then(res => {
        // console.log(res)
        if (res.data.content.result == '0') {
          this.orgList = res.data.content.resultContent
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 机构级联部门
    queryDeptByComCode() {
      if (this.queryForm.companyCode) {
        assessmentDetail.queryDeptByComCode({manageComCode: this.queryForm.companyCode}).then(res => {
          if (res.data.content.result == '0') {
            this.deptList = res.data.content.resultContent
          } else {
            this.$message.error(res.data.content.resultMessage)
          }
        })
      }
    },
    // 表格选择事件
    selsChange(val) {
      this.selectList = val
    },
    // 查询修改轨迹
    viewHistoryOperate(row) {
      this.loading2 = true
      const params = {
        staffCode: row.staffCode,
        cycle: row.cycle
      }
      // console.log(params)
      assessmentDetail.queryTargetTrace(params).then(res => {
        // console.log(res)
        if (res.data.content.result === '0') {
          this.historyTableData = res.data.content.resultContent
        } else {
          this.$message.error(res.data.content.resultMessage || '操作失败！')
        }
        this.loading2 = false
      })
      this.viewHistoryDialog = true
    },
    // 修改
    modify(row) {
      this.hrPfcEmpTargetId = row.hrPfcEmpTargetId
      this.editForm = Object.assign(this.editForm, row)
      this.editForm.remark = ''
      // console.log(this.editForm)
      this.editDialog = true
    },
    // 提交修改
    submitModify(formName) {
      this.editSubmitLoading = true
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.sendSubmitRequest()
        } else {
          this.editSubmitLoading = false
          // this.$message.error("存在填写不合规范的字段！")
        }
      })
    },
    sendSubmitRequest() {
      const params = {
        hrPfcEmpTargetId: this.hrPfcEmpTargetId,
        ...this.editForm
      }
      assessmentDetail.updateTarget(params).then(res => {
        // console.log(res)
        this.editSubmitLoading = false
        if (res.data.content.result === '0') {
          this.$message.success(res.data.content.resultMessage || '修改成功！')
          this.editDialog = false
          this.handleQuery()
        } else {
          this.$message.error(res.data.content.resultMessage || '修改失败！')
        }
      })      
    },
    // 确认
    confirm() {
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择需要确认的数据')
        return
      }
      // const qs = require('qs')targetStatus == 0
      console.log(this.selectList)
      if (this.selectList.map(el => el.targetStatus).indexOf('1') !== -1) {
        return this.$message.warning('存在是“已确认”状态的任务，请先进行核实！')
      }
      let params = {
        // targetIdList: qs.stringify(this.selectList.map(el => el.hrPfcEmpTargetId)),
        targetIdList: this.selectList.map(el => el.hrPfcEmpTargetId),
      }
      console.log('确认请求参数', params)
      assessmentDetail.notarize(params).then(res => {
        if (res.data.content.result === '0') {
          this.handleQuery()
          this.$message.success(res.data.content.resultMessage || '确认成功！')
        } else {
          this.$message.error(res.data.content.resultMessage || '确认失败！')
        }
      })
    },
    // 下载导入模板
    templateDownload() {
      assessmentDetail.download({fileName: 'targetDetail'}).then(res => {
        // if (res.data.content.result === '0') {
          const data = res.data
          const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))      
          const link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          link.setAttribute('download', '导入模板.xlsx')
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          this.$message.success('导出成功！')          
        // } else {
        //   this.$message.error(res.data.content.resultMessage || '导出失败！')
        // }
      })
    },
    // 导入
    uploadTemplate(file) {
      this.uploadLoading = true
      let formdata = new FormData()
      formdata.append('file', file.file)
      assessmentDetail.importTarget(formdata).then(res => {
        this.uploadLoading = false
        this.$refs.uploadDemo.clearFiles()
        if (res.data.content.result == '0') {
          this.handleQuery()
          this.$message.success(res.data.content.resultMessage || "导入成功！")
        } else {
          this.$message.error(res.data.content.resultMessage || "导入失败！")
        }
      })
    },
    handleExceed() {
      this.$message.warning('当前限制选择 1 个文件')
    },
    beforeUploadFile(file) { 
      const extension = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extension !== 'xls' && extension !== 'xlsx') {
        this.$message.warning('只能上传excel的文件')
        return false
      }
    },
    // 导出
    exportTemplate() {
      assessmentDetail.exportTarget(this.queryForm).then(res => {
        // if (res.data.content.result === '0') {
          const data = res.data
          const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))      
          const link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          link.setAttribute('download', '员工考核指标明细表.xlsx')
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          this.$message.success('导出成功！')          
        // } else {
        //   this.$message.error(res.data.content.resultMessage || '导出失败！')
        // }
      })
    },
    // 删除
    excise() {
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择需要删除的数据')
        return
      }
      this.deleteReasonDialog = true
    },
    makeSureExcise(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          // let targetIdList = this.selectList.map(el => el.hrPfcEmpTargetId)
          let params = {
            targetIdList: this.selectList.map(el => el.hrPfcEmpTargetId),
            ...this.deleteReasonForm
          }
          // console.log(params)
          assessmentDetail.deleteTarget(params).then(res => {
            if (res.data.content.result === '0') {
              this.handleQuery()
              this.deleteReasonDialog = false
              this.$message.success(res.data.content.resultMessage || '删除成功！')
            } else {
              this.$message.error(res.data.content.resultMessage || '删除失败！')
            }
          })
        } else {
          this.$message.warning('请填写必填项')
        }
      })
    },
    // 关闭弹框时重置表单
    resetForm() {
      if (!!this.$refs.editFormRef) this.$refs.editFormRef.resetFields()
      else this.$refs['deleteReasonForm'].resetFields()
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange(size) {
      this.currentPage = 1
      this.pageSize = size
      this.getPage()
    },
    handleCurrentChange(num) {
      this.currentPage = num
      this.getPage()
    },
  }
}
</script>

<style lang="less" scoped>
.el-select-dropdown{
  max-width: 200px;
  // overflow: auto;
  // white-space: nowrap;
  // word-wrap:break-word;
  // overflow:hidden;
  white-space: pre-wrap;
}
// .el-select-dropdown__item {
//   overflow: auto;
//   white-space: nowrap;
// }
</style>
<style lang="less" scoped>
.app-content{
  padding: 10px 30px;
  h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }
  // 查询card
  .fillter-box{
    margin-bottom: 20px;
    /deep/ .el-card__body{
      padding: 20px;
      // 查询表单
      .el-row{
        // padding: 0 20px;
        .el-form-item{
          margin-bottom: 10px;
        }
        .el-form-item__label{
          width: calc(100% - 240px);
          min-width: 80px;
          text-align: left;
        }
        .el-input{
          width: 240px;
        }
      } 
      // 查询按钮
      .query_button{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .table-blue {
  content: '';
  width: 6px;
  height: 16px;
  background: #409eff;
  border-radius: 3px 0;
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
}
  // 表格card
  .table-content-box{
    /deep/ .el-card__body{
      padding: 20px;
    }
    .table-title-box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      span{
        height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }
      span::before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
      .el-button{
        margin-left: 10px;
      }
      /deep/ .upload-demo{
        .el-upload{
          height: 100%;
          .el-button{
            height: 100%;
          }
        }
        .el-upload-list{
          display: none;
        }        
      }
    }
    .el-table{
      border: 1px solid #d1d2ce;
    }
  }
  .bottom-box{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .edit-dialog-form{
    /deep/ .el-form-item{
      display: flex;
      justify-content: center;
      align-items: center;
      .el-form-item__label{
        // width: calc(100% - 180px);
        width: 105px;
        line-height: initial;
        text-align: left;
      }
      .el-form-item__content{
        flex-shrink: 0;
        margin-left: 0 !important;
        .el-input__inner{
          width: 200px;
        }
      }
    }
  }
}
// 表格表头边框
/deep/ .table-content-box .el-table--border{
  border: 1px solid #d1d2ce;
}
/deep/ .table-content-box .el-table--border th.el-table__cell, .el-table__fixed-right-patch{
  border-right: 1px solid #d1d2ce;
  border-bottom: 1px solid #d1d2ce;
}
// 表格内容边框
/deep/ .table-content-box .el-table td.el-table__cell{
  border-bottom: 1px solid #d1d2ce;
}
/deep/ .table-content-box .el-table--border .el-table__cell{
  border-right: 1px solid #d1d2ce;
}
</style>
