<template>
  <div class="app-content">
    <el-card class="table-content-box">
      <div style="text-align: center;">
        <el-row>
          <el-col :span="24" style="font-size: 25px; font-weight: bold; line-height: 60px;" v-if="tableData.length > 0">
            <span>
              {{ tableData[0].year }}年{{ tableData[0].quarter | formatTitle }}员工绩效等级校正审批
            </span>
          </el-col>
        </el-row>
      </div>
      <div class="table-title-box" style="padding-top: 10px;">
        <span>部门/机构员工绩效等级审批</span>
        <div>
          <el-button type="primary" size="small" icon="el-icon-folder-checked" @click="saveTableData('N')"
            v-loading="vLoading.submitLoading" :disabled="vLoading.submitLoading"
            v-if="statusName === '校正审批中' && userNo === workflowInfo.auditCode" v-preventReClick>保存</el-button>
          <el-button type="primary" size="small" icon="el-icon-circle-check" @click="saveTableData('Y')"
            v-loading="vLoading.submitLoading" :disabled="vLoading.submitLoading"
            v-if="statusName === '校正审批中' && userNo === workflowInfo.auditCode" v-preventReClick>提交</el-button>
          <el-button type="primary" size="small" icon="el-icon-download" @click="exportExcel"
            v-preventReClick>导出</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold', 'text-align': 'center' }">
        <el-table-column label="员工信息">
          <el-table-column align="center" type="index" label="序号" fixed
            :index="index => { return (currentPage - 1) * pageSize + index + 1; }" width="60"></el-table-column>
          <el-table-column align="center" prop="staffCode" label="员工编码" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="staffName" label="姓名" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="cycle" label="考核周期" width="auto" :show-overflow-tooltip="true">
            <template slot-scope="{row}">
              {{ row.quarter | formatQuarter }}
            </template>
          </el-table-column>
          <el-table-column align="center" prop="managecomzfName" label="总/分公司" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="companyName" label="所属机构" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="deptName" label="部门" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="subjectName" label="室/处" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="hrStationName" label="岗位名称" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="rankCode" label="行政职级" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="hrRankName" label="职务" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="inComDate" label="入司日期" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" label="绩效成绩">
          <el-table-column sortable align="center" prop="totalScore" label="得分合计" width="110">
          </el-table-column>
          <el-table-column sortable align="center" prop="assessGrade" label="考核等级(初算)" width="140">
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" label="审批绩效等级">
          <el-table-column sortable align="center" prop="revisePerformanceGrade" label="建议绩效等级" width="130">
            <template slot-scope="{row}">
              <el-select v-if="row.statusName === '校正审批中' && userNo === workflowInfo.auditCode"
                v-model="row.revisePerformanceGrade" placeholder="请选择" clearable filterable>
                <el-option v-for="item in finalGradeList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
              <span v-else>{{ row.revisePerformanceGrade }}</span>
            </template>
          </el-table-column>
          <el-table-column sortable align="center" prop="staffLevel" label="员工层级" width="110">
          </el-table-column>
          <el-table-column sortable align="center" prop="reviseRanking" label="建议排名" width="110"
            v-if="['2', '4'].includes(quarter)">
            <template slot-scope="{row}">
              <el-input v-model="row.reviseRanking"
                v-if="row.statusName === '校正审批中' && userNo === workflowInfo.auditCode"></el-input>
              <span v-else>{{ row.reviseRanking }}</span>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" prop="remark" label="备注" width="120">
        </el-table-column>
        <el-table-column align="center" label="操作" width="110">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewDetail(row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block" style="text-align: center; padding: 10px 0 20px 0">
        <el-pagination :current-page="currentPage" @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[100, 130, 150]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
          :total="count" style="float: right;"></el-pagination>
      </div>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;">
      <div class="table-title-box">
        <div
          style="font-weight: bold;font-size: 18px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 0 0">
          <span>附：绩效考核分布比例</span>
        </div>
      </div>
      <el-table :data="checkGradeList" style="width: 40%;text-align: center;border: 1px #c3c3c3 solid" border
        :cell-style="{ borderColor: '#c3c3c3' }" :span-method="objectSpanMethod"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'text-align': 'center', 'borderColor': '#c3c3c3' }">
        <el-table-column align="center" prop="checkGrade" label="绩效等级" min-width="15%"></el-table-column>
        <el-table-column align="center" prop="ratio" label="绩效等级占比标准分布" min-width="19%"></el-table-column>
        <el-table-column align="center" label="根据各考核指标得分初算">
          <el-table-column align="center" prop="firstNum" label="人数" min-width="12.5%"></el-table-column>
          <el-table-column align="center" prop="firstProportion" label="占比" min-width="12.5%"></el-table-column>
        </el-table-column>
        <el-table-column align="center" label="审批绩效等级">
          <el-table-column align="center" prop="auditNum" label="人数" min-width="12.5%"></el-table-column>
          <el-table-column align="center" prop="auditProportion" label="占比" min-width="12.5%"></el-table-column>
        </el-table-column>
      </el-table>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;">
      <div class="table-title-box">
        <div
          style="font-weight: bold;font-size: 18px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 0 0">
          <span>操作履历</span>
        </div>
      </div>
      <div style="padding: 0 0 20px 0;">
        <el-table v-loading="loading" border :data="operateHistoryList" tooltip-effect="dark"
          :header-cell-style="{ color: '#303133', 'text-align': 'center' }">
          <el-table-column align="center" type="index" label="" fixed width="60"></el-table-column>
          <el-table-column prop="processName" width="auto" label="步骤名称" align="center">
          </el-table-column>
          <el-table-column prop="processTime" label="处理时间" width="auto" align="center">
          </el-table-column>
          <el-table-column prop="userName" label="处理人" width="auto" align="center">
          </el-table-column>
          <el-table-column prop="processComment" label="处理意见" width="auto" align="center">
          </el-table-column>
        </el-table>
      </div>
    </el-card>
  </div>
</template>

<script>
import meritsExamine from '@/api/meritsExamine'
export default {
  name: 'personnelManagement',
  data() {
    return {
      userNo: '',
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 100,
      total: 0,
      count: 0,
      // 绩效审批id
      hrPerformanceGatherId: '',
      // 流程信息
      workflowInfo: {},
      // 按钮展示加载中
      vLoading: {
        submitLoading: false,
        passLoading: false,
        backLoading: false
      },
      // 绩效等级
      checkGradeList: [
        { checkGrade: 'AAA（卓越）', ratio: '10%-15%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'AA（优秀）', ratio: '20%-25%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'A（良好）', ratio: '50%-60%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'B（需改善）', ratio: '>10%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'C（不胜任）', ratio: '>10%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' }
      ],
      // 绩效等级集合
      finalGradeList: [
        'AAA（卓越）', 'AA（优秀）', 'A（良好）', 'B（需改善）', 'C（不胜任）'
      ],
      statusName: '',
      quarter: '',
      // 操作履历
      operateHistoryList: [],
    }
  },
  created() {
    // 初始化数据
    this.init()
    // 初始化查询数据
    this.getPage()
    // 查询流程信息
    this.queryWorkflowInfo()
    // 查询绩效成绩占比
    this.queryProportion()
  },
  methods: {
    // 初始化数据
    async init() {
      console.log('window', window)
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.decode(this.$route.query.hrPerformanceGatherId);//解密
      console.log("decode：" + decodeStr)
      console.log("encode：" +  Base64.encode("1882&userNo=003686&kid="))
      this.hrPerformanceGatherId = decodeStr.substring(0, decodeStr.indexOf("&userNo="))
      // this.hrPerformanceGatherId = '1191'
      this.userNo = decodeStr.substring(decodeStr.indexOf("&userNo=") + 8, decodeStr.indexOf("&kid="))
      console.log('初始化数据：', this.hrPerformanceGatherId, this.userNo)
    },
    // 根据业务号和类型查询流程信息
    async queryWorkflowInfo() {
      const para = {
        busId: this.hrPerformanceGatherId,
        busType: '8613'
      }
      meritsExamine.queryWorkflowInfo(para).then(res => {
        console.log('查询流程信息res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.workflowInfo = res.data.content.resultContent
          this.operateHistoryList = res.data.content.resultContent.operateHistoryList
          console.log('流程信息', this.workflowInfo)
        }
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange: function (num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.getPage()
    },
    // 分页查询绩效校正列表
    async getPage() {
      const para = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        hrPerformanceGatherId: this.hrPerformanceGatherId
      }
      console.log('分页查询绩效校正列表请求参数', para)
      meritsExamine.queryPerfCheckList(para).then(res => {
        console.log('分页查询绩效校正列表res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.count = res.data.content.records
          this.total = res.data.content.count
          this.tableData = res.data.content.data
          this.statusName = this.tableData[0].statusName
          this.quarter = this.tableData[0].quarter
          this.tableData.forEach(item => {
            if (!item.revisePerformanceGrade) {
              item.revisePerformanceGrade = item.assessGrade
            }
          });
          console.log('绩效校正列表', this.tableData)
          console.log('状态', this.statusName)
          console.log('季度', this.quarter)
        }
      })
    },
    // 导出
    exportExcel() {
      const params = {
        hrPerformanceGatherId: this.hrPerformanceGatherId
      }
      meritsExamine.exportPerfCheck(params).then(res => {
        // console.log(res)
        // if (res.data.content.result === '0') {
        const data = res.data
        const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))
        const link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', '部门/机构绩效等级审批列表.xlsx')
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        this.$message.success('导出成功！')
        // } else {
        //   this.$message.error(res.data.content.resultMessage)
        // }
      })
    },
    // 表格选择事件
    selsChange() { },
    // 查看详情
    viewDetail(row) {
      console.log('查看详情', row)
      var a = row.hrPerformanceId + "&userNo=" + this.userNo;
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.encode(a);
      console.log("encode：" + decodeStr)
      const { href } = this.$router.resolve({
        path: '/performance/productDeal',
        query: {
          hrPerformanceId: decodeStr
        }
      })
      window.open(href, '_blank')
    },
    // 保存/提交
    saveTableData(isSubmit) {
      console.log('window', window)
      this.vLoading.submitLoading = true
      if (isSubmit === 'Y') {
        for (let i = 0; i < this.tableData.length; i++) {
          if (!this.tableData[i].revisePerformanceGrade) {
            this.vLoading.submitLoading = false
            return this.$message({
              message: '请将序号' + (i + 1) + '中的"建议绩效等级"内容填写完整！',
              type: 'warning'
            });
          }
          if (!this.tableData[i].reviseRanking && ['2', '4'].includes(this.tableData[i].quarter)) {
            this.vLoading.submitLoading = false
            return this.$message({
              message: '请将序号' + (i + 1) + '中的"建议排名"内容填写完整！',
              type: 'warning'
            });
          }
        }
      }
      this.checkGradeList.forEach(item => {
        item.firstNum = '';
        item.firstProportion = '';
        item.auditNum = '';
        item.auditProportion = '';
      })
      let params = {
        userNo: this.userNo,
        traceId: this.workflowInfo.traceId,
        comment: '通过',
        isSubmit: isSubmit,
        hrPerformanceGatherId: this.hrPerformanceGatherId,
        perfCheckReqList: this.tableData,
        proportionList: this.checkGradeList
      }
      console.log('绩效校正提交参数', params)
      meritsExamine.submitPerfCheck(params).then(res => {
        console.log('绩效校正提交返回结果', res.data)
        if (res.data.content.result === '0') {
          if (isSubmit === 'Y') {
            this.$message.success('提交成功！')
          } else {
            this.$message.success('暂存成功！')
          }
          this.vLoading.submitLoading = false
          this.getPage()
          // 查询绩效成绩占比
          this.queryProportion()
          if (isSubmit === 'Y') {
            if (window.opener && window.opener.location.replace.name) {
              window.opener.location.reload()
            }
            window.close()
          }
        } else {
          this.vLoading.submitLoading = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 查询绩效成绩占比
    async queryProportion() {
      const para = {
        hrPerformanceGatherId: this.hrPerformanceGatherId
      }
      meritsExamine.queryProportion(para).then(res => {
        console.log('查询绩效成绩占比res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          var performanceList = res.data.content.resultContent
          // 清空绩效等级
          this.checkGradeList.forEach(temp => {
            temp.auditNum = ''
            temp.auditProportion = ''
          })
          performanceList.forEach(item => {
            this.checkGradeList.forEach(temp => {
              if (item.checkGrade === temp.checkGrade) {
                temp.firstNum = item.firstNum == null ? '' : item.firstNum
                temp.firstProportion = item.firstProportion == null ? '' : item.firstProportion
                temp.auditNum = item.auditNum == null ? '' : item.auditNum
                temp.auditProportion = item.auditProportion == null ? '' : item.auditProportion
              }
            })
          });
          console.log('绩效成绩占比', this.checkGradeList)
        }
      })
    },
    // 合并行
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 1) {
        if (rowIndex === 3) {
          return {
            rowspan: 2, // 纵向合并单元格的数量
            colspan: 1 // 横向合并单元格的数量，纵向单元格数是0的话说明他是被合并的，横向单元格数也就为0不显示了，这里不考虑横向合并所以写死的是1
          };
        } else if (rowIndex === 4) {
          return {
            rowspan: 0, // 纵向合并单元格的数量
            colspan: 0 // 横向合并单元格的数量，纵向单元格数是0的话说明他是被合并的，横向单元格数也就为0不显示了，这里不考虑横向合并所以写死的是1
          };
        }
      }
    },
  },
  filters: {
    // 标题
    formatTitle(val) {
      if (val == 1) {
        return '第1季度'
      } else if (val == 2) {
        return '第2季度暨年中'
      } else if (val == 3) {
        return '第3季度'
      } else if (val == 4) {

        return '第4季度暨年度'
      } else {
        return '—————'
      }
    },
    formatQuarter(val) {
      if (val === '1') {
        return '第1季度'
      } else if (val === '2') {
        return '第2季度（年中）'
      } else if (val === '3') {
        return '第3季度'
      } else if (val === '4') {
        return '第4季度（年度）'
      } else {
        return '————'
      }
    }
  }
}
</script>

<style lang="less" scoped>
.app-content {
  padding: 10px 30px;

  h3 {
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }

  // 表格card
  .table-content-box {
    padding: 15px;

    .table-title-box {
      display: flex;
      justify-content: space-between;

      // margin-bottom: 15px;
      span {
        height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }

      span::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
    }
  }
}

// /deep/ .el-form-item {
//   margin-bottom: 0px;
// }
// 表格表头边框
/deep/ .table-content-box .el-table--border th.el-table__cell,
.el-table__fixed-right-patch {
  border-right: 1px solid #d1d2ce;
  border-bottom: 1px solid #d1d2ce;
}

// 表格内容边框
/deep/ .table-content-box .el-table td.el-table__cell {
  border-bottom: 1px solid #d1d2ce;
}

/deep/ .table-content-box .el-table--border .el-table__cell {
  border-right: 1px solid #d1d2ce;
}

#comment .el-form-item {
  margin-bottom: 0px;
}

#comment {
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}
</style>
