<template>
  <div class="app-content">
    <el-card class="fillter-box" v-if="isShowExamine">
      <h3>请输入查询条件</h3>
      <el-form :model="queryForm" ref="dynamicValidateForm" style="text-align: left;padding-top: 10px;">
        <el-row>
          <el-col :span="6">
            <el-form-item prop="staffName" label="员工姓名">
              <el-input v-model="queryForm.staffName" placeholder="请输入员工姓名" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="finalGrade" label="绩效等级">
              <el-select clearable v-model="queryForm.finalGrade" placeholder="请选择绩效等级" filterable>
                <el-option v-for="item in finalGradeList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="staffLevel" label="员工层级">
              <el-select clearable v-model="queryForm.staffLevel" placeholder="请选择员工层级" filterable>
                <el-option v-for="item in staffLevelList" :key="item" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-row type="flex" justify="end">
        <el-col class="query_button" :span="6">
          <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>
        </el-col>
      </el-row>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;">
      <div class="table-title-box"
        style="font-weight: bold;font-size: 18px;display: flex;align-items: center;flex-direction: row;margin: 15px 0 15px 0">
        <span>分公司绩效考核结果列表</span>
        <div style="text-align: right;padding-right: 20px;">
          <el-button v-if="workflowInfo.stepCode === 'step01'" type="primary" icon="el-icon-arrow-up"
            @click="isDimissionShow = true" v-preventReClick>作废</el-button>
          <el-button type="primary" icon="el-icon-download" @click="exportExcel" v-preventReClick>导出</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold', 'text-align': 'center' }">
        <el-table-column label="员工信息">
          <el-table-column align="center" type="index" label="序号" fixed
            :index="index => { return (currentPage - 1) * pageSize + index + 1; }" width="60"></el-table-column>
          <el-table-column align="center" prop="staffCode" label="员工编码" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="staffName" label="姓名" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="cycle" label="考核周期" width="auto" :show-overflow-tooltip="true">
            <template slot-scope="{row}">
              {{ row.quarter | formatQuarter }}
            </template>
          </el-table-column>
          <el-table-column align="center" prop="managecomzfName" label="总/分公司" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="companyName" label="所属机构" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="deptName" label="部门" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="subjectName" label="室/处" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="hrStationName" label="岗位名称" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="hrRankName" label="职务" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="inComDate" label="入司日期" width="auto" :show-overflow-tooltip="true">
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" label="绩效成绩">
          <el-table-column align="center" prop="totalScore" label="得分合计" width="auto">
          </el-table-column>
          <el-table-column align="center" prop="assessGrade" label="考核等级（初算）" width="140">
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" prop="staffLevel" label="员工层级" width="auto">
        </el-table-column>
        <el-table-column align="center" prop="finalGrade" label="最终绩效等级" width="120">
        </el-table-column>
        <el-table-column v-if="['2', '4'].includes(quarter)" align="center" prop="finalRanking" label="最终排名" width="auto">
        </el-table-column>
        <el-table-column align="center" prop="remark" label="备注" width="auto">
        </el-table-column>
        <el-table-column fixed="right" align="center" label="操作" width="110">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewDetail(row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block" style="text-align: center; padding: 10px 0 20px 0">
        <el-pagination :current-page="currentPage" @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[10, 50, 300, 500]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
          :total="count" style="float: right;"></el-pagination>
      </div>
      <!--作废模态框-->
      <el-dialog title="作废" :visible.sync="isDimissionShow" :close-on-click-modal="false" width="500px">
        <el-form :model="editForm" label-width="140px" ref="editForm">
          <el-form-item label="作废原因" prop="comment" :rules="[
            { required: true, message: '请输入作废原因', trigger: 'change' }
          ]">
            <el-input type="textarea" v-model="editForm.comment" style="width:250px" clearable></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click.native="resetForm('editForm')">取消</el-button>
          <el-button type="primary" @click.native="reviewCancel('editForm')" v-preventReClick>提交</el-button>
        </div>
      </el-dialog>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;">
      <div class="table-title-box">
        <div
          style="font-weight: bold;font-size: 18px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 5px 0">
          <span>绩效考核分布情况</span>
        </div>
      </div>
      <div
        style="font-weight: bold;font-size: 16px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 15px 0">
        <span>1、整体分布情况</span>
      </div>
      <el-table :data="checkGradeList" style="width: 40%;text-align: center;border: 1px #c3c3c3 solid;" border
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'text-align': 'center', 'borderColor': '#c3c3c3' }"
        :cell-style="{ borderColor: '#c3c3c3' }" :span-method="objectSpanMethod">
        <el-table-column :key="Math.random()" align="center" prop="checkGrade" label="绩效等级" min-width="15%" />
        <el-table-column :key="Math.random()" align="center" prop="ratio" label="绩效等级占比标准分布" min-width="19%" />
        <el-table-column :key="Math.random()" align="center" label="根据各考核指标得分初算">
          <el-table-column :key="Math.random()" align="center" prop="firstNum" label="人数" min-width="12.5%" />
          <el-table-column :key="Math.random()" align="center" prop="firstProportion" label="占比" min-width="12.5%" />
        </el-table-column>
        <el-table-column :key="Math.random()" align="center" label="最终绩效等级">
          <el-table-column :key="Math.random()" align="center" prop="auditNum" label="人数" min-width="12.5%" />
          <el-table-column :key="Math.random()" align="center" prop="auditProportion" label="占比" min-width="12.5%" />
        </el-table-column>
      </el-table>
      <div
        style="font-weight: bold;font-size: 16px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 15px 0">
        <span>2、各机构考核等级分布情况</span>
      </div>
      <el-table :data="companyGradeList" style="width: 50%;text-align: center;border: 1px #c3c3c3 solid;" border
        :cell-style="{ borderColor: '#c3c3c3' }" show-summary sum-text="总体"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'text-align': 'center', 'borderColor': '#c3c3c3' }">
        <el-table-column :key="Math.random()" align="center" prop="companyName" label="所属机构" min-width="20%" />
        <el-table-column :key="Math.random()" prop="count" label="总人数" min-width="15%" align="center">
          <template slot-scope="scope">{{ scope.row.count == 0 ? '' : scope.row.count }}</template>
        </el-table-column>
        <el-table-column :key="Math.random()" prop="aaaCount" label="AAA（卓越）" min-width="18%" align="center">
          <template slot-scope="scope">{{ scope.row.aaaCount == 0 ? '' : scope.row.aaaCount }}</template>
        </el-table-column>
        <el-table-column :key="Math.random()" prop="aaCount" label="AA（优秀）" min-width="18%" align="center">
          <template slot-scope="scope">{{ scope.row.aaCount == 0 ? '' : scope.row.aaCount }}</template>
        </el-table-column>
        <el-table-column prop="aCount" label="A（良好）" min-width="15%" align="center">
          <template slot-scope="scope">{{ scope.row.aCount == 0 ? '' : scope.row.aCount }}</template>
        </el-table-column>
        <el-table-column :key="Math.random()" prop="bCount" label="B（需改善）" min-width="18%" align="center">
          <template slot-scope="scope">{{ scope.row.bCount == 0 ? '' : scope.row.bCount }}</template>
        </el-table-column>
        <el-table-column :key="Math.random()" prop="cCount" label="C（不胜任）" min-width="18%" align="center">
          <template slot-scope="scope">{{ scope.row.cCount == 0 ? '' : scope.row.cCount }}</template>
        </el-table-column>
      </el-table>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;" v-if="isShowExamine && workflowInfo.stepCode !== 'step01'">
      <div class="table-title-box">
        <div
          style="font-weight: bold;font-size: 18px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 15px 0">
          <span>审批意见</span>
        </div>
      </div>
      <el-form style="text-align: center;">
        <el-row class="top">
          <el-col :span="3">
            <el-form-item label="常用意见" label-width="100%"></el-form-item>
          </el-col>
          <el-col :span="21">
            <div class="opinion" style="text-align: left;height: 40px;">
              <el-select v-model="opinion" clearable placeholder="请选择审批意见" @change="modelComment">
                <el-option v-for="item in opinionList" :key="item.value" :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </div>
          </el-col>
        </el-row>
        <el-row class="top" id="comment">
          <el-col :span="3">
            <el-form-item label="当前意见" label-width="100%"></el-form-item>
          </el-col>
          <el-col :span="21">
            <el-input type="textarea" v-model="comment" clearable resize="none"
              style="height: 150px;white-space: pre-line"></el-input>
          </el-col>
        </el-row>
      </el-form>
      <div>
        <div style="padding-top: 10px;text-align: right;">
          <el-button type="primary" size="medium" @click="isShowReview()" v-preventReClick>审批通过</el-button>
          <el-button type="primary" size="medium" @click="reviewBack()" v-loading="vLoading.backLoading"
            :disabled="vLoading.backLoading" v-preventReClick>审批退回</el-button>
        </div>
      </div>
    </el-card>
    <el-card class="table-content-box" style="margin-top: 30px;">
      <div class="table-title-box">
        <div
          style="font-weight: bold;font-size: 18px;display: flex;flex-direction: row;justify-content: start;margin: 15px 0 15px 0">
          <span>操作履历</span>
        </div>
      </div>
      <div style="padding: 0 0 20px 0;">
        <el-table v-loading="loading" border :data="operateHistoryList" tooltip-effect="dark"
          :header-cell-style="{ color: '#303133', 'text-align': 'center' }">
          <el-table-column align="center" type="index" label="" fixed width="60"></el-table-column>
          <el-table-column prop="processName" width="auto" label="步骤名称" align="center">
          </el-table-column>
          <el-table-column prop="processTime" label="处理时间" width="auto" align="center">
          </el-table-column>
          <el-table-column prop="userName" label="处理人" width="auto" align="center">
          </el-table-column>
          <el-table-column prop="processComment" label="处理意见" width="auto" align="center">
          </el-table-column>
        </el-table>
      </div>
    </el-card>
    <!-- 审批模态框 -->
    <el-dialog title="审批人信息选择" :visible.sync="isShowReviewPass" :close-on-click-modal="false" width="400px">
      <!-- <el-radio label="009631" v-model="verifyPerson"></el-radio><el-radio label="003686" v-model="verifyPerson"></el-radio> -->
      <div v-if="verifyPersonList">
        <div v-for="(item, index) in verifyPersonList" :key="item.value">
          <el-menu>
            <el-submenu :index="(index + 1) + ''">
              <template slot="title">
                <span>{{ item.label }}</span>
              </template>
              <template v-for="(group, i) in verifyPersonList[index].children">
                <el-menu-item-group>
                  <el-menu-item :index="(index + 1) + '-' + (i + 1)">
                    <el-radio :label="group.value" v-model="verifyPerson">{{ group.label }}</el-radio>
                  </el-menu-item>
                </el-menu-item-group>
              </template>
            </el-submenu>
          </el-menu>
        </div>
      </div>
      <p v-else style="text-align: center;font-size: 17px;">暂无审核人</p>
      <div slot="footer" class="dialog-footer">
        <el-button @click="isShowReviewPass = false, verifyPerson = ''">取消</el-button>
        <el-button v-if="verifyPersonList" type="primary" @click.native="reviewPass" v-loading="vLoading.passLoading"
          :disabled="vLoading.passLoading">提交</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import meritsExamine from '@/api/meritsExamine'
import personnelManagement from "@/api/personnelManagement"
export default {
  name: 'meritsExamine',
  data() {
    return {
      queryForm: {
        staffName: '',
        finalGrade: '',
        staffLevel: ''
      },
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      count: 0,
      // 操作履历
      operateHistoryList: [],
      // 审批意见
      opinion: '',
      // 当前意见
      comment: '',
      // 按钮展示加载中
      vLoading: {
        submitLoading: false,
        passLoading: false,
        backLoading: false
      },
      // 意见集合
      opinionList: [
        {
          value: '同意',
          label: '同意'
        },
        {
          value: '不同意',
          label: '不同意'
        },
        {
          value: '没有意见',
          label: '没有意见'
        },
        {
          value: '请速办理',
          label: '请速办理'
        },
        {
          value: '已阅',
          label: '已阅'
        }
      ],
      // 展示审批人模态框
      isShowReviewPass: false,
      // 审批人列表
      verifyPersonList: [],
      // 审批人
      verifyPerson: '',
      quarter: '',
      statusName: '',
      // 是否展示审批意见
      isShowExamine: false,
      // 是否展示作废模态框
      isDimissionShow: false,
      // 作废对象
      editForm: {},
      workflowInfo: {},
      // 绩效等级
      checkGradeList: [
        { checkGrade: 'AAA（卓越）', ratio: '10%-15%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'AA（优秀）', ratio: '20%-25%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'A（良好）', ratio: '50%-60%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'B（需改善）', ratio: '>10%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' },
        { checkGrade: 'C（不胜任）', ratio: '>10%', firstNum: '', firstProportion: '', auditNum: '', auditProportion: '' }
      ],
      // 各机构考核等级分布
      companyGradeList: [],
      // 绩效等级集合
      finalGradeList: [
        'AAA（卓越）', 'AA（优秀）', 'A（良好）', 'B（需改善）', 'C（不胜任）'
      ],
      // 员工层级集合
      staffLevelList: [
        '总公司-A类正职', '总公司-A类副职', '总公司-B类', '总公司-C类', '分公司班子成员', '分公司部门级及三级机构（含本部）班子', '分公司室主任级及三级机构（含本部）经理级（前线）',
        '分公司室主任级及三级机构（含本部）经理级（后线）', '机构员工级（前线）', '机构员工级（后线）', '全部人员（适用于城市型分公司）'
      ],
      // 绩效等级集合
      finalGradeList: [
        'AAA（卓越）', 'AA（优秀）', 'A（良好）', 'B（需改善）', 'C（不胜任）'
      ],
    }
  },
  mounted() {
    // 初始化数据
    this.init()
    // 查询
    this.handleQuery()
    // 查询流程信息
    this.queryWorkflowInfo()
    // 查询绩效成绩占比
    this.queryCheckGrade()
    // 查询各机构考核等级分布比例
    this.queryCompanyGrade()
  },
  methods: {
    // 初始化数据
    async init() {
      console.log('window', window)
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.decode(this.$route.query.hrPerformanceGatherId);//解密
      console.log("decode：" + decodeStr)
      console.log("encode：" + Base64.encode("998&userNo=009631&kid="))
      this.hrPerformanceGatherId = decodeStr.substring(0, decodeStr.indexOf("&userNo="))
      this.userNo = decodeStr.substring(decodeStr.indexOf("&userNo=") + 8, decodeStr.indexOf("&kid="))
      console.log('初始化数据：', this.hrPerformanceGatherId, this.userNo)
    },
    // 根据业务号和类型查询流程信息
    async queryWorkflowInfo() {
      const para = {
        busId: this.hrPerformanceGatherId,
        busType: '8614'
      }
      meritsExamine.queryWorkflowInfo(para).then(res => {
        console.log('查询流程信息res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.workflowInfo = res.data.content.resultContent
          this.operateHistoryList = res.data.content.resultContent.operateHistoryList
          console.log('操作履历', this.operateHistoryList)
          console.log('流程信息', this.workflowInfo)
          if (this.userNo == this.workflowInfo.auditCode) {
            this.isShowExamine = true
          }
        }
      })
    },
    // 查询
    handleQuery() {
      const para = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        hrPerformanceGatherId: this.hrPerformanceGatherId,
        ... this.queryForm,
      }
      console.log('分页查询绩效校正列表请求参数', para)
      meritsExamine.queryPerfCheckList(para).then(res => {
        console.log('分页查询绩效校正列表res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.count = res.data.content.records
          this.total = res.data.content.count
          this.tableData = res.data.content.data
          this.quarter = this.tableData[0].quarter
          this.statusName = this.tableData[0].statusName
          this.tableData.forEach(item => {
            if (!item.revisePerformanceGrade) {
              item.revisePerformanceGrade = item.assessGrade
            }
          });
          console.log('绩效校正列表', this.tableData)
        }
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.handleQuery()
    },
    handleCurrentChange: function (num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.handleQuery()
    },
    meritsExamine: function (num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.handleQuery()
    },
    // 审批意见下拉框与输入框绑定值
    modelComment() {
      this.comment += this.opinion
    },
    // 展示审批人模态框
    isShowReview() {
      if (!this.comment) {
        return this.$message({
          message: '请将"审批意见"中的审批意见填写完整！',
          type: 'warning'
        });
      }
      if (this.workflowInfo.stepCode === 'step05') {
        this.reviewPass()
        return
      }
      const para = {
        processName: '分公司绩效结果汇总审批',
        stepCode: this.workflowInfo.stepCode,
        staffCode: this.userNo
      }
      console.log('查询审批人参数', para)
      personnelManagement.queryAuditGroup(para).then(res => {
        console.log('获取审批人res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询审批人失败！')
        } else if (res.data.content.result === '0') {
          this.verifyPersonList = res.data.content.resultContent
          console.log('审批人列表：', this.verifyPersonList)
        }
      })
      this.isShowReviewPass = true
    },
    // 审批通过
    async reviewPass() {
      this.vLoading.passLoading = true
      let params = {
        hrPerformanceGatherId: this.hrPerformanceGatherId,
        comment: this.comment,
        userNo: this.userNo,
        nextUser: this.verifyPerson,
        stepCode: this.workflowInfo.stepCode,
        busType: '8614',
        ... this.queryForm,
        proportionList: this.checkGradeList
      }
      console.log('审批通过参数', params)
      meritsExamine.reviewPass(params).then(res => {
        console.log('审批通过返回结果', res.data)
        if (res.data.content.result === '0') {
          this.$message.success('审批通过成功！')
          this.vLoading.passLoading = false
          this.handleQuery()
          this.comment = ''
          if (window.opener && window.opener.location.replace.name) {
            window.opener.location.reload()
          }
          window.close()
        } else {
          this.vLoading.passLoading = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 审批退回
    async reviewBack() {
      console.log('window', window)
      this.vLoading.backLoading = true
      let params = {
        traceId: this.workflowInfo.traceId,
        comment: this.comment,
        userNo: this.userNo,
        stepCode: this.workflowInfo.stepCode,
        hrPerformanceGatherId: this.hrPerformanceGatherId,
      }
      console.log('审批退回参数', params)
      meritsExamine.reviewBack(params).then(res => {
        console.log('审批退回返回结果', res.data)
        if (res.data.content.result === '0') {
          this.vLoading.backLoading = false
          this.$message.success('审批退回成功！')
          this.handleQuery()
          this.comment = ''
          this.opinion = ''
          if (window.opener && window.opener.location.replace.name) {
            window.opener.location.reload()
          }
          window.close()
        } else {
          this.vLoading.backLoading = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 作废取消按钮
    resetForm(formName) {
      this.isDimissionShow = false
      this.$refs[formName].resetFields()
    },
    // 作废
    reviewCancel(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          const para = {
            hrPerformanceGatherId: this.hrPerformanceGatherId,
            traceId: this.workflowInfo.traceId,
            comment: this.editForm.comment
          }
          console.log('作废请求参数', para)
          meritsExamine.reviewCancel(para).then(res => {
            console.log('作废res--------', res.data)
            if (res.data.content.result === '1') {
              this.$message.error(res.data.content.resultMessage || '作废失败（resultMessage: null）')
            } else if (res.data.content.result === '0') {
              this.isDimissionShow = false
              this.$message.success('作废成功！')
              window.close()
            }
          })
        } else {
          return false
        }
      })
    },
    // 查看详情
    viewDetail(row) {
      console.log('查看详情', row)
      var a = row.hrPerformanceId + "&userNo=" + this.userNo;
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.encode(a);
      console.log("encode：" + decodeStr)
      const { href } = this.$router.resolve({
        path: '/performance/productDeal',
        query: {
          hrPerformanceId: decodeStr
        }
      })
      window.open(href, '_blank')
    },
    // 导出
    exportExcel() {
      const params = {
        hrPerformanceGatherId: this.hrPerformanceGatherId,
        proportionList: this.checkGradeList
      }
      meritsExamine.exportPerfReCheck(params).then(res => {
        // console.log(res)
        // if (res.data.content.result === '0') {
        const data = res.data
        const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))
        const link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', '分公司绩效考核结果.xlsx')
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        this.$message.success('导出成功！')
        // } else {
        //   this.$message.error(res.data.content.resultMessage)
        // }
      })
    },
    // 查询绩效成绩占比
    async queryCheckGrade() {
      const para = {
        hrPerformanceGatherId: this.hrPerformanceGatherId
      }
      meritsExamine.queryCheckGrade(para).then(res => {
        console.log('查询绩效成绩占比res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          var performanceList = res.data.content.resultContent
          // 清空绩效等级
          this.checkGradeList.forEach(temp => {
            temp.auditNum = ''
            temp.auditProportion = ''
          })
          performanceList.forEach(item => {
            this.checkGradeList.forEach(temp => {
              if (item.checkGrade === temp.checkGrade) {
                temp.firstNum = item.firstNum
                temp.firstProportion = item.firstProportion
                temp.auditNum = item.auditNum
                temp.auditProportion = item.auditProportion
              }
            })
          });
          console.log('绩效成绩占比', this.checkGradeList)
        }
      });
    },
    // 查询各机构考核等级分布比例
    async queryCompanyGrade() {
      const para = {
        hrPerformanceGatherId: this.hrPerformanceGatherId
      }
      meritsExamine.queryCompanyGrade(para).then(res => {
        console.log('各机构考核等级分布比例res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.companyGradeList = res.data.content.resultContent
          console.log('各机构考核等级分布比例', this.companyGradeList)
        }
      });
    },
    // 合并行
    objectSpanMethod({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 1) {
        if (rowIndex === 3) {
          return {
            rowspan: 2, // 纵向合并单元格的数量
            colspan: 1 // 横向合并单元格的数量，纵向单元格数是0的话说明他是被合并的，横向单元格数也就为0不显示了，这里不考虑横向合并所以写死的是1
          };
        } else if (rowIndex === 4) {
          return {
            rowspan: 0,
            colspan: 0
          };
        }
      }
    },
  },
  filters: {
    formatQuarter(val) {
      if (val === '1') {
        return '第1季度'
      } else if (val === '2') {
        return '第2季度（年中）'
      } else if (val === '3') {
        return '第3季度'
      } else if (val === '4') {
        return '第4季度（年度）'
      } else {
        return '————'
      }
    }
  }
}
</script>

<style lang="less" scoped>
.app-content {
  padding: 10px 30px;

  h3 {
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }

  // 表格card
  .table-content-box {
    padding: 10px;
    .table-title-box {
      display: flex;
      justify-content: space-between;

      // margin-bottom: 15px;
      span {
        // height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }

      span::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
    }
  }
}

// 查询card
.fillter-box {
  margin-bottom: 20px;

  padding: 10px;

  /deep/ .el-card__body {
    padding: 20px;

    // 查询表单
    .el-row {

      // padding: 0 20px;
      .el-form-item {
        margin-bottom: 10px;
      }

      .el-form-item__label {
        width: calc(100% - 240px);
        min-width: 80px;
        text-align: left;
      }

      .el-input {
        width: 240px;
      }
    }

    // 查询按钮
    .query_button {
      display: flex;
      justify-content: flex-end;
    }
  }
}

// /deep/ .el-form-item {
//   margin-bottom: 0px;
// }
// 表格表头边框
/deep/ .table-content-box .el-table--border th.el-table__cell,
.el-table__fixed-right-patch {
  border-right: 1px solid #d1d2ce;
  border-bottom: 1px solid #d1d2ce;
}

// 表格内容边框
/deep/ .table-content-box .el-table td.el-table__cell {
  border-bottom: 1px solid #d1d2ce;
}

/deep/ .table-content-box .el-table--border .el-table__cell {
  border-right: 1px solid #d1d2ce;
}

#comment .el-form-item {
  margin-bottom: 0px;
}

#comment {
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}

/deep/.el-table__footer-wrapper tbody td.el-table__cell {
  background: #ebf3fe;
  font-weight: bold;
  color: #000;
}
</style>
