<template>
  <div>
    <el-container>
      <el-main>
        <el-card class="fillter-box" style="padding-bottom: 20px;">
          <div style="text-align: left; font-weight: bold;color: #000;height: 40px;line-height: 40px;">
              请输入查询条件
            </div>
          <el-row style="font-size: 14px;line-height: 40px;padding-bottom: 10px;text-align: center;">
            <el-col :span="2">
              <label>
                <span slot="label"> 员工工号</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-input clearable v-model="reqBody.staffCode" placeholder="请输入员工工号" />
            </el-col>
            <el-col :span="2">
              <label style="padding-right: 2%">
                <span slot="label">员工姓名</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-input clearable v-model="reqBody.staffName" placeholder="请输入员工姓名" />
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">所属机构</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select v-model="reqBody.manageCom" clearable placeholder="请选择所属机构" @change="queryDeptByComCode" filterable
                style="width: 100%;">
                <el-option v-for="item in orgList" :key="item.value" :label="item.label" :value="item.value"></el-option>
              </el-select>
            </el-col>
          </el-row>
          <div style="float: right">
            <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>
          </div>
        </el-card>
      </el-main>
    </el-container>
    <el-card class="table-box">
      <div class="teble-top">
        <div class="teble-top-left">
          <div class="table-blue"></div>
          <span style="text-align: left; height: 40px; font-weight: bold;color: #000;">
            员工列表
          </span>
          <el-table class="elTable" ref="multipleTable" v-loading="loading" element-loading-text="查询中，请稍后..." border
            :data="resDate" tooltip-effect="dark" :cell-style="{ borderColor: '#D1D2CE' }" @selection-change="selsChange"
            :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold' }">
            <el-table-column align="center" type="index" label="序号" fixed
              :index="index => {return (currentPage - 1) * pageSize + index + 1;}" width="60"></el-table-column>
            <!-- <el-table-column type="selection" width="50" align="center"> </el-table-column> -->
            <el-table-column prop="staffCode" label="工号" width="100" align="center">
            </el-table-column>
            <el-table-column prop="staffName" label="姓名" width="150" align="center">
            </el-table-column>
            <el-table-column prop="manageComName" label="机构" width="auto" align="center">
            </el-table-column>
            <el-table-column prop="deptName" label="邮箱" width="auto" align="center">
            </el-table-column>
            <el-table-column prop="stationName" label="域账号" width="auto" align="center">
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="110" align="center">
              <template slot-scope="scope">
                <el-button size="mini" @click="editorDomainAcc(scope.$index, scope.row)">修改</el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="block" style="text-align: center; margin-top: 20px">
            <el-pagination :current-page="currentPage" @size-change="handleSizeChange" @current-change="handleCurrentChange"
              :page-sizes="[50, 300, 500]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="count"
              style="float: right;"></el-pagination>
          </div>
          <!--编辑模态框-->
          <el-dialog title="编辑员工信息" :visible.sync="isDomainAccShow" :close-on-click-modal="false" width="600px">
            <el-form :model="editForm" label-width="220px" ref="editForm">
              <el-form-item label="工号">
                <el-input disabled v-model="editForm.code" style="width:220px"></el-input>
              </el-form-item>
              <el-form-item label="邮箱" prop="email" :rules="[
                          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                          { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
                        ]">
                <el-input v-model="editForm.email" style="width:220px" clearable></el-input>
              </el-form-item>
              <el-form-item label="域账号" prop="name" :rules="[{ required: true, message: '请输入域账号', trigger: 'blur'}]">
                <el-input v-model="editForm.name" style="width:220px" clearable></el-input>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click.native="resetForm('editForm')">取消</el-button>
              <el-button type="primary" @click.native="editSubmit">提交</el-button>
            </div>
          </el-dialog>
        </div>
      </div>
    </el-card>
  </div>
</template>

<script>
import personnelDeal from '@/api/personnelDeal'
export default {
  data () {
    return {
      sels: [], // 列表选中列
      loading: false,
      reqBody: {
        year: '',
        quarter: '',
        staffCode: '',
        staffName: '',
        manageCom: '',
        dept: '',
        status: ''
      },
      currentPage: 1,
      pageSize: 10,
      total: 0,
      count: 0,
      resDate: [],
      // 机构
      orgList: [],
      // 是否展示修改域账号模态框
      isDomainAccShow: false,
      // 修改域账号对象
      editForm: {}
    }
  },
  created () {
    // 查询所有机构
    this.queryOrgList()
  },
  methods: {
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange: function (num) {
      // pageNum值改变时回调
      this.currentPage = num
      console.log(this.currentPage) // 点击第几页
      this.getPage()
    },
    // 行数据
    selsChange (selection) {
      this.sels = selection
    },
    // 查询
    handleQuery () {
      this.currentPage = 1
      this.getPage()
    },
    // 员工查询
    async getPage () {
      // if (!this.reqBody.year || !this.reqBody.quarter) {
      //   return this.$alert('请将"绩效年"和"绩效季度"填写完整！', '提醒', { confirmButtonText: '确定' })
      // }
      var para = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.reqBody
      }
      console.log('获取列表请求参数', para)
      personnelDeal.queryStaffList(para).then(res => {
        console.log('获取列表-----------------------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.resultMessage)
        } else if (res.data.content.result === '0') {
          this.count = res.data.content.records
          this.total = res.data.content.count
          this.resDate = res.data.content.data
          console.log('表格数据', this.resDate)
        }
      }).then(() => {
        // this.listLoading = false;
      })
    },
    // 查询所有机构
    async queryOrgList () {
      personnelDeal.queryOrgList().then(res => {
        console.log('获取所有机构-------------------', res.data)
        this.orgList = res.data.content.resultContent
        console.log('机构数据', this.orgList)
      })
    },
    // 显示编辑员工信息界面
    editorDomainAcc (index, row) {
      this.isDomainAccShow = true
      this.editForm = { ...row }
    },
    // 编辑员工信息取消按钮
    resetForm (formName) {
      this.isDomainAccShow = false
      this.$refs[formName].resetFields()
    }
  }
}

</script>

<style lang="less" scoped>
.el-header,
.el-footer {
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
}

.inputInfo {
  width: 100%;
  display: flex;
  font-weight: 500;
  flex-flow: row wrap;
}

.inputInfo div {
  width: 49.5%;
  padding-bottom: 2px;
}

.inputInfo div label {
  display: inline-block;
  width: 32%;
  /* //width: 135px; */
  width: 180px;
  height: 40px;
  line-height: 40px;
}

.elTable {
  border: 1px solid #d1d2ce;
}

.my-message-box .el-message-box__content {
  text-align: center !important;
}

/deep/ .table-box {
  border-radius: 4px;
  // margin: 0 20px 18px 10px;
  margin: 0 20px;

  .teble-top {
    margin: 10px 0 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teble-top-left {
      .table-blue {
        content: '';
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        display: inline-block;
      }

      .elTable {
        margin-top: 15px;
      }

      .table-title {
        height: 28px;
        font-size: 20px;
        font-family: MicrosoftYaHeiSemi;
        font-weight: bold;
        color: #303133;
        line-height: 28px;
        margin-left: 10px;
      }
    }
  }

  .el-card__body {
    padding: 20px;
  }

  .el-table {
    width: 100%;
    margin-bottom: 16px;

    &::before {
      height: 0;
    }

    .el-table__header,
    .el-table__body {
      width: 100% !important;
    }

    th.el-table__cell {
      background-color: transparent;
    }

    td.el-table__cell {
      border: none;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }

    margin-bottom: 16px;

    .el-table-header {
      background-color: #e9f0ff;

      .el-table__cell {
        background-color: transparent;
        padding: 0;

        .cell {
          font-size: 14px;
          font-family: MicrosoftYaHeiSemibold;
          color: #303133;
        }
      }
    }

    .cell {
      padding-left: 20px;
      white-space: nowrap;
      font-size: 14px;
      font-family: MicrosoftYaHei;
    }
  }

  .more-oper {
    display: flex;
    justify-content: space-between;

    * {
      padding: 0;
      line-height: 100%;
      font-size: 14px;
      margin: 0;
    }

    .btn-more {
      i.el-icon-more {
        margin-left: 5px;
        cursor: pointer;
        color: #aeafb2;
        transition: all 0.3s;
        padding: 3px;
        box-sizing: border-box;
        border-radius: 10px;

        &:hover {
          color: #666769;
          background-color: lightgray;
        }
      }
    }
  }
}
</style>
<style>
.el-tooltip__popper {
  background: #409eff !important;
  color: #fff;
}
</style>
<style lang="less">
.el-dialog {
  position: relative;
  margin: 0 auto 50px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 30%;
}

.el-input__inner {
  font-size: 13.5px;
}

.el-form-item__label {
  width: 30%;
}

.el-select__tags {
  overflow: hidden;
  flex-wrap: wrap;
}

.fillter-box .el-input__inner {
  background-color: #f6f7f9;
}
</style>
