<template>
  <div class="app-content">
    <el-card class="fillter-box">
        <!-- <div class="table-blue"></div> -->
        <span style="font-weight: bold;">请输入查询条件</span>
        <el-form :model="queryForm" ref="dynamicValidateForm" :rules="queryRules" style="padding-top: 10px;font-size: 14px;line-height: 40px;text-align: left;">
          <el-row style="padding-bottom: 10px;">
            <el-col :span="2">
              <label>
                <span slot="label">
                  绩效年份<span style="color: red;width: 5px;">*</span>
                </span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-input clearable v-model="queryForm.year" placeholder="请输入绩效年份(格式:YYYY)" />
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">
                  绩效季度<span style="color: red;width: 5px;">*</span>
                </span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select v-model="queryForm.quarter" clearable placeholder="请选择绩效季度" filterable style="width: 100%;">
                <el-option v-for="item in quarterList" :key="item.value" :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">所属机构</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select v-model="queryForm.companyCode" clearable placeholder="请选择所属机构" @change="queryDeptByComCode"
                filterable style="width: 100%;">
                <el-option v-for="item in orgList" :key="item.value" :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">所属部门</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select clearable v-model="queryForm.deptId" placeholder="请选择所属部门" filterable style="width: 100%;">
                <el-option v-for="item in deptList" :key="item.value" :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-col>
          </el-row>
          <el-row style="padding-bottom: 10px;">
            <el-col :span="2">
              <label>
                <span slot="label">考核状态</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select clearable v-model="queryForm.status" placeholder="请选择考核状态" filterable style="width: 100%;">
                <el-option v-for="item in statusList" :key="item.value" :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">考核对象</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select clearable v-model="queryForm.examiner" placeholder="请选择考核对象" filterable style="width: 100%;">
                <el-option v-for="item in examinerList" :key="item" :label="item"
                  :value="item"></el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">员工层级</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select clearable v-model="queryForm.staffLevel" placeholder="请选择员工层级" filterable style="width: 100%;">
                <el-option v-for="item in staffLevelList" :key="item" :label="item"
                  :value="item"></el-option>
              </el-select>
            </el-col>
            <el-col :span="2">
              <label>
                <span slot="label">绩效等级</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-select clearable v-model="queryForm.finalGrade" placeholder="请选择绩效等级" filterable style="width: 100%;">
                <el-option v-for="item in finalGradeList" :key="item" :label="item"
                  :value="item"></el-option>
              </el-select>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="2">
              <label>
                <span slot="label">员工编码</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-input clearable v-model="queryForm.staffCode" placeholder="请输入员工编码" />
            </el-col>
            <el-col :span="2">
              <label style="padding-right: 2%">
                <span slot="label">员工姓名</span>
              </label>
            </el-col>
            <el-col :span="4">
              <el-input clearable v-model="queryForm.staffName" placeholder="请输入员工姓名" />
            </el-col>
          </el-row>
        </el-form>
        <el-row type="flex" justify="end">
          <el-col class="query_button" :span="6">
            <el-button type="primary" icon="el-icon-search" @click="handleQuery('dynamicValidateForm')">查询</el-button>
          </el-col>
        </el-row>
    </el-card>
    <el-card class="table-content-box">
      <div class="table-title-box">
        <span>人事绩效管理明细</span>
        <div style="display: flex;">
          <!-- <el-button type="primary" size="small" icon="el-icon-download" @click="templateDownload">下载导入模板</el-button> -->
          <el-select class="import_template_type" v-model="importTemplateType" @change="templateDownload" placeholder="下载导入模板">
            <el-option label="指标结果导入模板" value="targetImport"></el-option>
            <el-option label="绩效结果导入模板" value="performanceImport"></el-option>
            <el-option label="上级评价公布导入模板" value="evaluateImport"></el-option>
          </el-select>
          <!-- 上级评价公布导入 -->
          <el-upload
            class="upload-demo"
            action
            :http-request="uploadEvaluate"
            :before-upload="beforeUploadFile"
            :on-exceed="handleExceed"
            :limit="1"
            accept=".xls, .xlsx"
            :file-list="fileList3">
            <el-button type="primary" size="small" icon="el-icon-upload2" :loading="uploadLoading3">上级评价公布导入</el-button>
          </el-upload>
          <!-- 指标结果导入 -->
          <el-upload
            class="upload-demo"
            action
            :http-request="uploadResult"
            :before-upload="beforeUploadFile"
            :on-exceed="handleExceed"
            :limit="1"
            accept=".xls, .xlsx"
            :file-list="fileList">
            <el-button type="primary" size="small" icon="el-icon-upload2" :loading="uploadLoading">指标结果导入</el-button>
          </el-upload>
          <el-button type="primary" size="small" icon="el-icon-edit-outline" @click="calculate" v-preventReClick>计算</el-button>
          <el-button type="primary" size="small" icon="el-icon-edit-outline" @click="sponsorVerifyPerson('员工绩效等级审批')">发起校正审批</el-button>
          <!-- 绩效导入 -->
          <el-upload
            class="upload-demo"
            action
            :http-request="uploadMerits"
            :before-upload="beforeUploadFile"
            :on-exceed="handleExceed"
            :limit="1"
            accept=".xls, .xlsx"
            :file-list="fileList2">
            <el-button type="primary" size="small" icon="el-icon-upload2" :loading="uploadLoading2">绩效结果导入</el-button>
          </el-upload>
          <el-button type="primary" size="small" icon="el-icon-thumb" @click="selectVerifyPerson('分公司绩效结果汇总审批')">提交总公司</el-button>
          <el-button type="primary" size="small" icon="el-icon-thumb" @click="publishShow" v-preventReClick>发布</el-button>
          <el-button type="primary" size="small" icon="el-icon-download" @click="exportExcel" v-preventReClick>导出</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        @selection-change="selsChange"  style="border: 1px #c3c3c3 solid" :cell-style="{borderColor:'#c3c3c3'}"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold','text-align': 'center', 'borderColor': '#c3c3c3' }">
        <el-table-column fixed="left" type="selection" min-width="50" align="center"></el-table-column>
        <el-table-column fixed="left" align="center" prop="staffCode" label="员工编码" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" align="center" prop="staffName" label="姓名" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="left" align="center" prop="examiner" label="考核对象" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="managecomzfName" label="总/分公司" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="companyName" label="所属机构" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="deptName" label="部门" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="subjectName" label="室/处" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="hrStationName" label="岗位名称" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="hrRankName" label="职务" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="inComDate" label="入司日期" min-width="100" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column label="考核指标得分">
          <el-table-column align="center" prop="kpiWeightScore" label="组织KPI考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="jobPerformanceScore" label="工作绩效考评" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="policyImplementationScore" label="总公司政策执行情况考核" min-width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="riskManagementScore" label="风险管理及合规考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="assetsLiabilityScore" label="资产负债管理考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="consumerProtectionScore" label="消费者权益保护考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="serviceEvaluationScore" label="服务评价管理考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="workPlanScore" label="专项工作计划考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="managementLevelScore" label="机构\部门经营管理水平考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="deptSatisfactionScore" label="部门满意度评价" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="honesty" label="廉洁从业指标考核" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
        </el-table-column>
        <el-table-column label="绩效成绩（综合全部考核指标权重及得分）">
          <el-table-column align="center" prop="totalScore" label="得分合计" min-width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="assessGrade" label="考核等级（初算）" min-width="100" :show-overflow-tooltip="true">
          </el-table-column>
        </el-table-column>
        <el-table-column label="绩效等级审批">
          <el-table-column align="center" prop="revisePerformanceGrade" label="建议绩效等级" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="staffLevel" label="员工层级" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column align="center" prop="reviseRanking" label="建议排名" min-width="110" :show-overflow-tooltip="true">
          </el-table-column>
        </el-table-column>
        <el-table-column align="center" prop="finalGrade" label="最终绩效等级" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="finalRanking" label="最终排名" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="statusName" label="考核状态" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="remark" label="备注" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="remarkPersonnel" label="备注(仅人事可见)" min-width="150" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="right" align="center" label="操作" width="160">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewDetail(row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="bottom-box">
        <div></div>
        <el-pagination
          :total="total"
          :current-page="currentPage"
          :page-size="pageSize"
          :page-sizes="[10,50, 300, 500]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"></el-pagination>
      </div>
    </el-card>
    <!-- 校正模态框 -->
    <el-dialog title="审批人信息选择" :visible.sync="verifyPersonDialog" :close-on-click-modal="false" width="400px">
      <!-- <el-radio label="003686" v-model="verifyPerson"></el-radio> -->
      <div v-if="verifyPersonList">
        <div v-for="(item, index) in verifyPersonList" :key="item.value">
          <el-menu>
            <el-submenu :index="(index+1)+''">
              <template slot="title">
                <span>{{ item.label }}</span>
              </template>
              <template v-for="(group, i) in verifyPersonList[index].children">
                <el-menu-item-group>
                  <el-menu-item :index="(index+1)+'-'+(i+1)">
                    <el-radio :label="group.value" v-model="verifyPerson">{{ group.label }}</el-radio>
                  </el-menu-item>
                </el-menu-item-group>
              </template>
            </el-submenu>
          </el-menu>
        </div>
      </div>
      <p v-else style="text-align: center;font-size: 17px;">暂无审核人</p>
      <div slot="footer" class="dialog-footer">
        <el-button @click="verifyPersonDialog = false,verifyPerson=''">取消</el-button>
        <el-button v-if="verifyPersonList" type="primary" @click.native="submitServe" v-preventReClick>提交</el-button>
      </div>
    </el-dialog>
    <!--提交模态框-->
    <el-dialog title="" :visible.sync="ispublishShow" :close-on-click-modal="false" width="400px">
      <el-form label-width="140px">
        <el-form-item label="是否发送邮件通知">
          <el-radio v-model="isEmail" label="Y">是</el-radio>
          <el-radio v-model="isEmail" label="N">否</el-radio>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="notPublish()">取消</el-button>
        <el-button type="primary" @click.native="publish()" v-preventReClick>确认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
import assessmentDetail from "@/api/assessmentDetail"
import personnelManagement from "@/api/personnelManagement"
import StaffPerfSelect from '@/api/StaffPerfSelect'
export default {
  name: 'personnelManagement',
  data() {
    return {
      queryForm:{
        year: '', // 年份
        companyCode: '', // 机构
        deptId: '', // 部门
        status: '', // 状态
        quarter: '', // 季度
        staffName: '', // 员工姓名
        staffCode: '', // 员工工号
        examiner: '', // 考核对象
        staffLevel: '', // 员工层级
        finalGrade: '' // 绩效等级
      },
      queryRules: {
        year: [{required: true, trigger: 'blur'}],
        quarter: [{required: true, trigger: 'change'}]
      },
      // 机构
      orgList: [],
      // 部门
      deptList: [],
      quarterList: [
        {
          label: '一季度',
          value: '1'
        },{
          label: '二季度(年中)',
          value: '2'
        },{
          label: '三季度',
          value: '3'
        },{
          label: '四季度(年度)',
          value: '4'
        }
      ],
      // 状态
      statusList: [],
      fileList: [],
      uploadLoading: false,
      fileList2: [],
      uploadLoading2: false,
      fileList3: [],
      uploadLoading3: false,
      tableData: [],
      loading: false,
      selectList: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      // 导入模板类型
      importTemplateType: '',
      // 修改框
      editDialog: false,
      // 修改框表单
      editForm: {
        name: ''
      },
      // 审核人选择框
      verifyPersonDialog: false,
      // 审批人列表
      verifyPersonList: [],
      verifyPerson: '',
      // 类型（'1' 发起校正；'2' 提交审批）
      verifyType: '',
      submitLoading: false,
      // 考核对象集合
      examinerList: [
        '总公司前线部门级管理人员','总公司后线部门级管理人员（财务、精算）','总公司后线部门级管理人员（法律合规部）','总公司后线部门级管理人员（风险管理部）',
        '总公司后线部门级管理人员（健康险事业部）','总公司后线部门级管理人员（运营）','总公司后线部门级管理人员（企划）','总公司后线部门级管理人员（投资）',
        '总公司后线部门级管理人员（董办）','总公司后线部门级管理人员（康养、行政）','总公司后线部门级管理人员（其他）','总公司资产负债管理秘书处员工',
        '总公司从事资产配置的专业人员','总公司其他干部及员工',
        '分公司负责人','分公司班子副职','机构委派负责人','分公司风险合规负责人','分公司部门级（前线）','分公司部门级（后线）',
        '分公司室主任级','分公司员工','中心支公司负责人','中心支公司班子副职','三级机构部门经理级（前线）','三级机构部门经理级（后线）',
        '三级机构员工','四级机构负责人','四级机构其它干部及员工'
      ],
      // 员工层级集合
      staffLevelList: [
        '总公司-A类正职','总公司-A类副职','总公司-B类','总公司-C类','分公司班子成员','分公司部门级及三级机构（含本部）班子','分公司室主任级及三级机构（含本部）经理级（前线）',
        '分公司室主任级及三级机构（含本部）经理级（后线）','机构员工级（前线）','机构员工级（后线）','全部人员（适用于城市型分公司）'
      ],
      // 绩效等级集合
      finalGradeList: [
        'AAA（卓越）','AA（优秀）','A（良好）','B（需改善）','C（不胜任）'
      ],
      // 展示发布模态框
      ispublishShow: false,
      // 是否发送邮箱
      isEmail: '',
      //
      userNo:''
    }
  },
  created() {
    this.queryComCode()
    this.queryDeptByComCode()
    this.queryEnumList()
    this.getUserInfo()
  },
  methods: {
    // 查询
    handleQuery(formName) {
      if (!this.queryForm.year) {
        return this.$message({
          message: '请将"绩效年份"填写完整！',
          type: 'warning'
        });
      }else if (!this.queryForm.quarter) {
        return this.$message({
          message: '请将"绩效季度"填写完整！',
          type: 'warning'
        });
      }
      this.currentPage = 1
      this.getTableData()
    },
    getTableData() {
      this.loading = true
      const params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.queryForm
      }
      personnelManagement.getList(params).then(res => {
        this.loading = false
        if (res.data.content.result === '0') {
          this.total = res.data.content.records
          this.tableData = res.data.content.data
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 查询绩效状态枚举
    async queryEnumList () {
      StaffPerfSelect.queryEnumList().then(res => {
        console.log('获取绩效状态枚举-------------------', res.data)
        this.statusList = res.data.content.resultContent.performanceStatus
        this.statusList = this.statusList.filter(ele => !['00','01','11','02'].includes(ele.value))
        console.log('绩效状态枚举', this.statusList)
      })
    },
    // 查询机构
    queryComCode() {
      assessmentDetail.queryOrgList().then(res => {
        // console.log(res)
        if (res.data.content.result == '0') {
          this.orgList = res.data.content.resultContent
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 机构级联部门
    queryDeptByComCode() {
      assessmentDetail.queryDeptByComCode({manageComCode: this.queryForm.companyCode}).then(res => {
        if (res.data.content.result == '0') {
          this.deptList = res.data.content.resultContent
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 表格选择事件
    selsChange(val) {
      this.selectList = val
    },
    // 查询当前登录用户
    getUserInfo() {
      approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res)
        if (res.data.content.result === '0') {
          this.userNo= res.data.content.userNo
        } else {
        }
      })
    },
    // 查看详情
    async viewDetail(row) {
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res)
        if (res.data.content.result === '0') {
          var a = row.hrPerformanceId + "&userNo=" + res.data.content.userNo + "&kid=";
          let Base64 = require('js-base64').Base64;
          var decodeStr = Base64.encode(a);
          console.log("encode：" + decodeStr)
          const { href } = this.$router.resolve({
            path: '/performance/productDeal',
            query: {
              hrPerformanceId: decodeStr
            }
          })
          window.open(href, '_blank')
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    },
    // 下载导入模板
    templateDownload(val) {
      const params = {fileName: val}
      this.importTemplateType = ''
      assessmentDetail.download(params).then(res => {
        // console.log(res)
        // if (res.data.content.result === '0') {
          const data = res.data
          const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))
          const link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          const mapType = {
            "targetImport": "指标结果导入模板",
            "performanceImport": "绩效结果导入模板",
            "evaluateImport":"上级评价公布导入模板"
          }
          link.setAttribute('download', `${mapType[val]}.xlsx`)
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          this.$message.success('下载成功！')
        // } else {
        //   this.$message.error(res.data.content.resultMessage)
        // }
      })
    },
    // 上级评价公布导入
    uploadEvaluate(file) {
      this.uploadLoading = true
      let formdata = new FormData()
      formdata.append('file', file.file)
      personnelManagement.importEvaluate(formdata).then(res => {
        this.uploadLoading3 = false
        this.fileList3 = []
        if (res.data.content.result == '0') {
          this.$message.success('导入成功！')
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 指标结果导入
    uploadResult(file) {
      this.uploadLoading = true
      let formdata = new FormData()
      formdata.append('file', file.file)
      personnelManagement.importTarget(formdata).then(res => {
        this.uploadLoading = false
        this.fileList = []
        if (res.data.content.result == '0') {
          this.$message.success('导入成功！')
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 绩效导入
    uploadMerits(file) {
      this.uploadLoading2 = true
      let formdata = new FormData()
      formdata.append('file', file.file)
      personnelManagement.importPerformance(formdata).then(res => {
        this.uploadLoading2 = false
        this.fileList2 = []
        if (res.data.content.result == '0') {
          this.$message.success('导入成功！')
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    handleExceed() {
      this.$message.warning('当前限制选择 1 个文件')
    },
    beforeUploadFile(file) {
      const extension = file.name.substring(file.name.lastIndexOf('.') + 1)
      if (extension !== 'xls' && extension !== 'xlsx') {
        this.$message.warning('只能上传excel的文件')
        return false
      }
    },
    // 计算
    calculate() {
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择数据！')
        return
      }
      const params = {
        perfManagePageReqVOList: JSON.parse(JSON.stringify(this.selectList)).map(el => {
          el.year = this.queryForm.year
          el.quarter = this.queryForm.quarter
          return el
        })
      }
      personnelManagement.calc(params).then(res => {
        // console.log(res)
        if (res.data.content.result === '0') {
          this.getTableData()
          this.$message.success('计算完成')
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 导出
    exportExcel() {
      const params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.queryForm
      }
      personnelManagement.exportTarget(params).then(res => {
        // console.log(res)
        // if (res.data.content.result === '0') {
          const data = res.data
          const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))
          const link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          link.setAttribute('download', '人事绩效管理明细表.xlsx')
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          this.$message.success('导出成功！')
        // } else {
        //   this.$message.error(res.data.content.resultMessage)
        // }
      })
    },
    // 发起校正弹出框
    async sponsorVerifyPerson (type) {
      var a = false
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择数据！')
        return
      }
      this.verifyPerson = ''
      this.verifyType = type
      let params = {
        processName: this.verifyType,
        staffCode: this.userNo
      }
      personnelManagement.queryAuditGroup(params).then(res => {
        if (res.data.content.result === '0') {
          this.verifyPersonList = res.data.content.resultContent
          console.log('审批人列表：', this.verifyPersonList)
        } else {
          this.$message.error(res.data.content.resultMessage || '查询审批人失败！')
        }
      })
      for (let i = 0; i < this.selectList.length; i++) {
        if (!this.selectList[i].assessGrade) {
          a = true
        }
      }
      if (a) {
        this.$confirm('存在"初算等级"为空的数据, 是否继续校正？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.verifyPersonDialog = true
        }).catch(() => {
          }).catch(() => {
        }).catch(() => {
          }).catch(() => {
        }).catch(() => {
        });
      } else {
        this.verifyPersonDialog = true
      }
    },
    // 提交审批弹出框
    selectVerifyPerson(type) {
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择数据！')
        return
      }
      for (let i = 0; i < this.selectList.length; i++) {
        if (this.selectList[i].statusName === '发布审批中' || this.selectList[i].statusName === '发布审批完成' || this.selectList[i].statusName === '已发布') {
          return this.$message.warning('序号'+(i+1)+'数据的状态不可提交总公司，请进行核实！');
        }
      }
      this.verifyPerson = ''
      this.verifyType = type
      this.verifyPersonDialog = true
      let params = {
        processName: this.verifyType,
        staffCode: this.userNo
      }
      personnelManagement.queryAuditGroup(params).then(res => {
        if (res.data.content.result === '0') {
          this.verifyPersonList = res.data.content.resultContent
          console.log('审批人列表：', this.verifyPersonList)
        } else {
          this.$message.error(res.data.content.resultMessage || '查询审批人失败！')
        }
      })
    },
    // 发起校正/提交审批
    submitServe() {
      if (!this.verifyPerson) {
        this.$message.error('请选择审批人！')
        return
      }
      this.submitLoading = true
      // 组装绩效id集合
      let hrPerformanceIds = []
      this.selectList.forEach(item => {
        hrPerformanceIds.push(item.hrPerformanceId)
      });
      const params = {
        nextUser: this.verifyPerson,
        performanceIdList: hrPerformanceIds
      }
      console.log('发起校正/提交审批请求参数', params)
      const operateType = {
        '员工绩效等级审批': () => personnelManagement.initiateCheck(params),
        '分公司绩效结果汇总审批': () => personnelManagement.initiateAudit(params)
      }
      operateType[this.verifyType]().then(res => {
        console.log('发起校正/提交审批res-----------', res.data)
        if (res.data.content.result === '0') {
          // this.$message.success(res.data.content.resultMessage || '操作成功！')
          this.$message.success('操作成功')
          this.verifyPersonDialog = false
          this.getTableData()
        } else {
          this.$message.error(res.data.content.resultMessage || '操作失败！')
        }
        this.submitLoading = false
      })
    },
    publishShow() {
      if (this.selectList.length === 0) {
        this.$message.warning('请先选择数据！')
        return
      }
      this.ispublishShow = true
    },
    notpublish() {
      const params = {
        perfManagePageReqVOList: JSON.parse(JSON.stringify(this.selectList)).map(el => {
          el.year = this.queryForm.year
          el.quarter = this.queryForm.quarter
          return el
        })
      }
      personnelManagement.release(params).then(res => {
        // console.log(res)
        if (res.data.content.result === '0') {
          this.$message.success("发布成功！")
          this.handleQuery()
          this.ispublishShow = false
        } else {
          this.$message.error(res.data.content.resultMessage || "发布失败！")
          this.ispublishShow = false
        }
      })
      this.isEmail = ''
    },
    // 发布
    publish() {
      if (!this.isEmail) {
        this.$message.warning('请先选择是否发送邮箱！')
        return
      }
      const params = {
        perfManagePageReqVOList: JSON.parse(JSON.stringify(this.selectList)).map(el => {
          el.year = this.queryForm.year
          el.quarter = this.queryForm.quarter
          return el
        })
      }
      personnelManagement.release(params).then(res => {
        // console.log(res)
        if (res.data.content.result === '0') {
          this.$message.success("发布成功！")
          if (this.isEmail === 'Y') {
            const params = {
              isEmail : this.isEmail,
              perfManagePageReqVOList: JSON.parse(JSON.stringify(this.selectList)).map(el => {
                el.year = this.queryForm.year
                el.quarter = this.queryForm.quarter
                return el
              })
            }
            personnelManagement.sendMail(params).then(res => {})
          }
          this.handleQuery()
          this.ispublishShow = false
        } else {
          this.$message.error(res.data.content.resultMessage || "发布失败！")
          this.ispublishShow = false
        }
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange(size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getTableData()
    },
    handleCurrentChange(num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.getTableData()
    },
  }
}
</script>

<style lang="less" scoped>
.app-content{
  padding: 10px 30px;
  h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }
  // 查询card
  .fillter-box{
    margin-bottom: 20px;
    /deep/ .el-card__body{
      padding: 20px;
      // 查询按钮
      .query_button{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  // 表格card
  .table-content-box{
    /deep/ .el-card__body{
      padding: 20px;
    }
    .table-title-box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      span{
        height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }
      span::before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
      /deep/ .import_template_type{
        .el-input__inner{
          background-color: #409EFF;
          width: 115px;
          padding-right: 20px;
          color: #ffffff;
        }
        input::-webkit-input-placeholder {
          color: #ffffff;
          font-size: 12px;
          text-align: center;
        }
        input::-moz-placeholder {
          color: #ffffff;
          font-size: 12px;
          text-align: center;
        }
      }
      .el-button{
        margin-left: 10px;
      }
      /deep/ .upload-demo{
        .el-upload{
          height: 100%;
          .el-button{
            height: 100%;
          }
        }
        .el-upload-list{
          display: none;
        }
      }
    }
    .el-table{
      border: 1px solid #d1d2ce;
    }
  }
  .bottom-box{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
</style>
