<template>
  <div id="exportImg">
    <div style="padding: 0 20px; text-align: center;">
      <el-card class="fillter-box" style="padding-bottom: 20px; ">
        <el-row>
          <el-col :span="24" style="font-size: 25px; font-weight: bold; line-height: 60px;">
            <span v-if="taskDetailsData.quarter === 0">
              {{ taskDetailsData.year }}年度员工绩效管理表
            </span>
            <span v-else>
              {{ taskDetailsData.year }}年{{ taskDetailsData.quarter | formatTitle }}
            </span>
            <el-button size="medium" type="primary" @click="exportPDF()" round data-html2canvas-ignore="true"
              style="float: right;margin-top: 12px;" v-preventReClick>导出pdf</el-button>
          </el-col>
        </el-row>
        <el-form>
          <el-row class="top">
            <el-col :span="3">
              <el-form-item label="姓名" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.staffName ? taskDetailsData.staffName : '—————'" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="员工编码" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.staffCode ? taskDetailsData.staffCode : '—————'" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="机构" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.companyName ? taskDetailsData.companyName : '—————'"
                label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="部门" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.deptName ? taskDetailsData.deptName : '—————'" label-width="100%">
              </el-form-item>
            </el-col>
          </el-row>
          <el-row class="top">
            <el-col :span="3">
              <el-form-item label="处室" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.subjectName ? taskDetailsData.subjectName : '—————'"
                label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="岗位" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.hrStationName ? taskDetailsData.hrStationName : '—————'"
                label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="职务" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item :label="taskDetailsData.hrRankname ? taskDetailsData.hrRankname : '—————'" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3">
              <el-form-item label="考核周期" label-width="100%">
              </el-form-item>
            </el-col>
            <el-col :span="3"
              style="background: #ebf3fe;margin: 3px 0 0 0;width: 12.3%;line-height: 40px;font-size: 14px;">
              {{ taskDetailsData.quarter | formatQuarter }}
            </el-col>
          </el-row>
        </el-form>
      </el-card>
    </div>
    <div style="padding: 0 20px;">
      <el-card class="fillter-box" style="padding-bottom: 20px;">
        <div class="workPlan">
          <el-row>
            <el-col :span="12" @click.native="isShowWorkPlan()">
              <div class="table-blue"></div>绩效目标与计划
            </el-col>
            <el-col :span="12"
              style="color: #4682B4;font-size: 15px;display: flex;flex-direction: row-reverse;padding-right: 10px;"
              v-if="!['11', '01', '02', '10'].includes(taskDetailsData.status)">
              <span @click="isShowPerformance()">查看本年度历史考核</span>
              <div
                style="height: 17px;width: 2px;background: #4682B4;border-radius: 3px 0;margin: 2px 4px 0 4px;line-height: 20px;">
              </div>
              <span @click="isShowPerformanceGrade()">查看绩效考核指标</span>
            </el-col>
          </el-row>
        </div>
        <div v-if="isDisplay">
          <el-form :model='empPerfFrom' :rules="empPerfFrom.rules" class="question-table">
            <el-table class="prd-table" :data="empPerfFrom.hrEmpPerformanceComtents" width="100%"
              style="border: 1px #c3c3c3 solid;" :dataSource="empPerfFrom.hrEmpPerformanceComtents"
              :cell-style="{ borderColor: '#c3c3c3' }"
              :header-cell-style="{ background: '#ebf3fe', 'font-weight': 'bold', 'text-align': 'center', 'borderColor': '#c3c3c3' }">
              <el-table-column label="年度绩效目标与计划" align="center">
                <el-table-column align="center" type="index" label="序号" fixed width="60">
                </el-table-column>
                <el-table-column label="目标" min-width="15%" align="left" property="target">
                  <template slot-scope="scope">
                    <el-form-item :prop="'hrEmpPerformanceComtents.' + scope.$index + '.target'"
                      :rules="[{ required: true, message: '请输入目标', trigger: 'change' }]">
                      <el-input type="textarea" autosize
                        v-if="(scope.row.originQuarter === taskDetailsData.quarter || scope.row.originQuarter === undefined) && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow"
                        v-model="scope.row.target" />
                      <span v-else>{{ scope.row.target }}</span>
                    </el-form-item>
                  </template>
                </el-table-column>
                <el-table-column label="权重（%）" min-width="10%" property="weight" align="center">
                  <template slot-scope="scope">
                    <el-form-item :prop="'hrEmpPerformanceComtents.' + scope.$index + '.weight'"
                      :rules="empPerfFrom.rules.weight">
                      <el-input
                        v-if="taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow"
                        v-model.number="scope.row.weight" />
                      <span v-else>{{ scope.row.weight }}</span>
                    </el-form-item>
                  </template>
                </el-table-column>
                <el-table-column label="关键成果/工作计划" min-width="35%" property="weight" align="left">
                  <template slot-scope="scope">
                    <el-form-item :prop="'hrEmpPerformanceComtents.' + scope.$index + '.keyResult'"
                      :rules="[{ required: true, message: '请输入关键成果/工作计划', trigger: 'change' }]">
                      <el-input type="textarea" autosize v-model="scope.row.keyResult" style="white-space: pre-line"
                        v-if="(scope.row.originQuarter === taskDetailsData.quarter || scope.row.originQuarter === undefined) && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow" />
                      <span v-else style="white-space: pre-line">{{ scope.row.keyResult }}</span>
                    </el-form-item>
                  </template>
                </el-table-column>
                <el-table-column label="预计完成时间" min-width="14%" property="weight" align="center">
                  <template slot-scope="scope">
                    <el-form-item :prop="'hrEmpPerformanceComtents.' + scope.$index + '.estimatedFinishTime'"
                      :rules="[{ type: 'date', required: true, message: '请选择预计完成时间', trigger: 'change' }]">
                      <el-date-picker
                        v-if="(scope.row.originQuarter === taskDetailsData.quarter || scope.row.originQuarter === undefined) && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow"
                        value-format="timestamp" dateType="time" placeholder="请选择" v-model="scope.row.estimatedFinishTime"
                        style="width: 135px;"></el-date-picker>
                      <span v-else>{{ scope.row.estimatedFinishTime | formatDataTime }}</span>
                    </el-form-item>
                  </template>
                </el-table-column>
              </el-table-column>
              <el-table-column label="季度工作完成情况说明" min-width="37.5%">
                <template slot-scope="scope">
                  <el-form-item :prop="'hrEmpPerformanceComtents.' + scope.$index + '.completionDesc'">
                    <el-input type="textarea" autosize v-model="scope.row.completionDesc" style="white-space: pre-line"
                      v-if="['03', '12', '04'].includes(taskDetailsData.status) && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow" />
                    <span style="white-space: pre-line" v-else>{{ scope.row.completionDesc }}</span>
                  </el-form-item>
                </template>
              </el-table-column>
              <el-table-column min-width="7%" label="操作" align="center"
                v-if="taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04' && isShow">
                <template slot-scope="scope"
                  v-if="(scope.row.originQuarter === taskDetailsData.quarter || scope.row.originQuarter === undefined)">
                  <el-button style="font-size: 20px" size="small" icon="el-icon-remove-outline" type="primary"
                    @click="removeJobContent(scope.$index, scope.row)" round></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-form>
        </div>
        <div style="border: 1px #c3c3c3 solid">
          <el-button v-if="isShow && taskDetailsData.stepCode === 'step02'" size="small"
            icon="el-icon-circle-plus-outline" type="primary" @click="addJobContent()" round
            style="font-size: 20px;margin: 10px 0 10px 0;"></el-button>
        </div>
        <div v-if="[2, 4].includes(taskDetailsData.quarter)">
          <div class="yearWork">
            <div class="table-blue"></div>
            <span v-if="taskDetailsData.quarter === 2">年中绩效回顾</span>
            <span v-else>年度绩效回顾</span>
          </div>
          <el-form :model='taskDetailsData' class="yearMiddFrom" :rules="rules">
            <el-row class="yearMidd1">
              <el-col :span="24" class="yearMiddText" style="background: #ebf3fe">
                <el-form-item label="1、工作总结" label-width="100%" style="padding-left: 10px;"></el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item :prop="'workSummary'"
                  v-if="isShow && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04'">
                  <el-input :rows="8" type="textarea" v-model="taskDetailsData.workSummary" clearable resize="none"
                    maxlength="1333" placeholder="请输入工作总结" style="white-space: pre-line" show-word-limit></el-input>
                </el-form-item>
                <el-form-item prop="workSummary" v-else
                  style="padding: 10px 0 10px 10px;min-height: 56px;display: flex;align-items: center;">
                  <span style="white-space: pre-line;color: #606266;">{{ taskDetailsData.workSummary }}</span>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row class="yearMidd1">
              <el-col :span="24" class="yearMiddText" style="background: #ebf3fe">
                <el-form-item label="2、综合评价" label-width="100%" style="padding-left: 10px;"></el-form-item>
              </el-col>
            </el-row>
            <el-row class="yearMidd1">
              <el-col :span="24"
                style="height: 50px;padding-left: 10px;display: flex;flex-wrap: wrap;align-content: center;">
                <span style="color: #696969;font-size: 14px;">
                  根据绩效目标与计划完成情况及整体表现进行评价，以下是具体评分标准：
                  <br />
                  <b>95≤X</b>指超额完成所有绩效目标/计划；
                  <b>85≤X＜95</b>指完成所有绩效目标/计划的基础上超额完成部分目标/计划；
                  <b>70≤X＜85指完成所有绩效目标/计划；</b>
                  <b>60≤X＜70</b>指完成部分关键绩效目标/计划；
                  <b>X＜60</b>指未能完成多数关键绩效目标/计划。
                </span>
              </el-col>
            </el-row>
            <el-row class="yearMidd" style="display: flex;" id="zpy">
              <el-col :span="3"
                style="font-weight: bold;text-align: center;display: flex;flex-direction: column;justify-content: center;">自评语
              </el-col>
              <el-col :span="7">
                <el-container style="height: 100%;">
                  <!--顶部栏-->
                  <el-header style="height: 40.5px;font-weight: bold;">
                    <span>表现优秀的领域</span>
                  </el-header>
                  <!--主要区域容器-->
                  <el-main style="align-items: flex-start;">
                    <el-input resize="none" type="textarea" v-model="taskDetailsData.comprehensiveAssess1" clearable
                      placeholder="请输入"
                      v-if="isShow && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04'"
                      style="white-space: pre-line" maxlength="300" show-word-limit></el-input>
                    <el-form-item prop="comprehensiveAssess1" v-else
                      style="padding: 0 10px 0 15px;min-height: 56px;display: flex;align-items: center;">
                      <span style="white-space: pre-line;color: #606266;">{{ taskDetailsData.comprehensiveAssess1
                      }}</span>
                    </el-form-item>
                  </el-main>
                </el-container>
              </el-col>
              <el-col :span="7">
                <el-container style="height: 100%;">
                  <!--顶部栏-->
                  <el-header style="height: 40.5px;font-weight: bold">
                    <span>有待加强的领域</span>
                  </el-header>
                  <!--主要区域容器-->
                  <el-main style="align-items: flex-start;">
                    <el-input type="textarea" v-model="taskDetailsData.comprehensiveAssess2" clearable placeholder="请输入"
                      maxlength="300" show-word-limit resize="none"
                      v-if="isShow && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04'"
                      style="white-space: pre-line"></el-input>
                    <el-form-item prop="comprehensiveAssess2" v-else
                      style="padding: 0 10px 0 15px;min-height: 56px;display: flex;align-items: center;">
                      <span style="white-space: pre-line;color: #606266;">{{ taskDetailsData.comprehensiveAssess2
                      }}</span>
                    </el-form-item>
                  </el-main>
                </el-container>
              </el-col>
              <el-col :span="7">
                <el-container style="height: 100%;">
                  <!--顶部栏-->
                  <el-header style="height: 40.5px;font-weight: bold">
                    <span>个人发展提升举措/具体需要的支持</span>
                  </el-header>
                  <!--主要区域容器-->
                  <el-main style="align-items: flex-start;">
                    <el-input type="textarea" v-model="taskDetailsData.comprehensiveAssess3" clearable placeholder="请输入"
                      maxlength="300" show-word-limit resize="none"
                      v-if="isShow && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04'"
                      style="white-space: pre-line"></el-input>
                    <el-form-item prop="comprehensiveAssess3"
                      style="padding: 0 10px 0 15px;min-height: 56px;display: flex;align-items: center;" v-else>
                      <span style="white-space: pre-line;color: #606266;">{{ taskDetailsData.comprehensiveAssess3
                      }}</span>
                    </el-form-item>
                  </el-main>
                </el-container>
              </el-col>
            </el-row>
          </el-form>
        </div>
        <el-form :model="taskDetailsData" ref="taskDetailsData" :rules="rules">
          <!-- <div v-if="['03','04','12','10'].includes(taskDetailsData.status)"> -->
          <div v-if="!['01', '11', '02'].includes(taskDetailsData.status)">
            <div class="totality" v-if="[1, 3].includes(taskDetailsData.quarter)" style="padding-left: 10px;">总体评价</div>
            <el-row class="evaluate" v-if="[1, 3].includes(taskDetailsData.quarter)">
              <el-col :span="24"
                style="height: 50px;display: flex;flex-wrap: wrap;align-content: center;padding-left: 10px;">
                <span style="color: #696969;font-size: 14px;">
                  根据绩效目标与计划完成情况及整体表现进行评价，以下是具体评分标准：
                  <br />
                  <b>95≤X</b>指超额完成所有绩效目标/计划；
                  <b>85≤X＜95</b>指完成所有绩效目标/计划的基础上超额完成部分目标/计划；
                  <b>70≤X＜85指完成所有绩效目标/计划；</b>
                  <b>60≤X＜70</b>指完成部分关键绩效目标/计划；
                  <b>X＜60</b>指未能完成多数关键绩效目标/计划。
                </span>
              </el-col>
            </el-row>
          </div>
          <div v-if="!['02', '01', '11', '00'].includes(taskDetailsData.status)">
            <el-row class="ztpj" style="display: flex;flex-wrap: wrap;">
              <el-col :span="3" class="bt" style="border-right: 0;">
                <span style="font-weight: bold">自评分</span>
              </el-col>
              <el-col :span="21">
                <el-form-item prop="selfScore"
                  v-if="isShow && taskDetailsData.stepCode !== 'step03' && taskDetailsData.stepCode !== 'step04'"
                  style="margin-bottom: 17px;">
                  <el-input v-model.number="taskDetailsData.selfScore" placeholder="请您填写自评分数（满分100分）" />
                </el-form-item>
                <el-form-item prop="superiorScore" v-else class="sjpf" style="padding-left: 15px;">
                  <span style="white-space: pre-line">{{ taskDetailsData.selfScore }}</span>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
          <div v-if="taskDetailsData.quarter !== 0" class="ztpj">
            <el-row v-if="taskDetailsData.staffCode !== userNo" style="display: flex;flex-wrap: wrap;"
              data-html2canvas-ignore="true">
              <el-col :span="3" class="bt" style="font-weight: bold;border-right: 0;">
                <span>上级评分</span>
              </el-col>
              <el-col :span="21">
                <el-form-item prop="superiorScore" v-if="isShow && taskDetailsData.status === '12'">
                  <el-input v-model.number="taskDetailsData.superiorScore" placeholder="请您填写评分（满分100分，该评分不公布给员工）" />
                </el-form-item>
                <el-form-item prop="superiorScore" v-else class="sjpf" style="padding-left: 15px;">
                  <span style="white-space: pre-line">{{ taskDetailsData.superiorScore }}</span>
                </el-form-item>
              </el-col>
            </el-row>
            <div
              v-if="(taskDetailsData.staffCode === userNo && isShowEvaluate === 1 && taskDetailsData.status === '10') || taskDetailsData.staffCode !== userNo">
              <el-row style="display:flex;min-height: 56px;">
                <el-col :span="3" class="sjpj" style="font-weight: bold;border-right: 0;">
                  <span>上级评价</span>
                </el-col>
                <el-col :span="17" v-if="isShow && taskDetailsData.status === '12'">
                  <el-form-item prop="superiorEvaluate">
                    <el-input class="superior" type="textarea" :autosize="{ minRows: 1.4 }"
                      v-model="taskDetailsData.superiorEvaluate" style="white-space: pre-line;" placeholder="请您填写评价" />
                  </el-form-item>
                </el-col>
                <el-col :span="17" v-else-if="taskDetailsData.staffCode !== userNo">
                  <el-form-item prop="superiorScore"
                    style="padding: 0 0 0 15px;display: flex;align-items: center;min-height: 56px;margin-bottom: 0px;">
                    <span style="white-space: pre-line;">{{ taskDetailsData.superiorEvaluate }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="21" v-else>
                  <el-form-item prop="superiorScore"
                    style="padding-left: 15px;display: flex;align-items: center;min-height: 56px;margin-bottom: 0px;">
                    <span style="white-space: pre-line;">{{ taskDetailsData.superiorEvaluate }}</span>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="sjpj" v-if="taskDetailsData.staffCode !== userNo">
                  <span style="font-size: 14px;">是否公布给员工</span>
                  <el-radio-group :disabled="!isShow" v-model="taskDetailsData.isPublic" style="padding: 2px 0 0 5px;">
                    <el-radio :label="1">是</el-radio>
                    <el-radio :label="0">否</el-radio>
                  </el-radio-group>
                </el-col>
              </el-row>
            </div>
          </div>
          <div v-if="[2, 4].includes(taskDetailsData.quarter) && taskDetailsData.status === '10'">
            <el-row class="yearMidd1" style="border-left: 1px #c3c3c3 solid;border-right: 1px #c3c3c3 solid;">
              <el-col :span="24" class="yearMiddText" style="background: #ebf3fe;">
                <el-form-item label="3、考核结果（综合各项绩效考核指标）" label-width="100%" style="padding-left: 15px;"></el-form-item>
              </el-col>
            </el-row>
            <el-row class="ztpj" style="display: flex;flex-wrap: wrap;">
              <el-col :span="3" class="bt">
                <span style="font-weight: bold">绩效等级</span>
              </el-col>
              <el-col :span="21">
                <el-form-item prop="superiorScore" class="sjpf"
                  style="display: flex;align-items: center;padding-left: 15px;">
                  <span style="white-space: pre-line">{{ taskDetailsData.finalGrade }}</span>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
          <el-row class="ztpj" style="display: flex;"
            v-if="[1, 3].includes(taskDetailsData.quarter) && taskDetailsData.status === '10'">
            <el-col :span="3" class="bt" style="font-weight: bold;flex-wrap: wrap;">
              <span>绩效等级</span><span>（综合各项绩效考核指标）</span>
            </el-col>
            <el-col :span="21">
              <el-form-item prop="superiorScore" class="sjpf"
                style="display: flex;align-items: center;padding-left: 15px;">
                <span style="white-space: pre-line">{{ taskDetailsData.finalGrade }}</span>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div v-if="isShow" data-html2canvas-ignore="true">
          <div style="padding: 0 10px 0 10px;text-align: right;">
            <el-button v-if="taskDetailsData.stepCode === 'step02'" type="primary" size="medium"
              @click="submitJobContent('N')" v-loading="vLoading.submitLoading">暂存</el-button>
            <el-button v-if="taskDetailsData.stepCode === 'step02'" type="primary" size="medium" @click="submitJobCheck()"
              v-loading="vLoading.submitLoading">提交</el-button>
          </div>
        </div>
      </el-card>
      <el-card v-if="(taskDetailsData.stepCode === 'step03' || taskDetailsData.stepCode === 'step04') && isShow"
        class=" fillter-box" style="padding-bottom: 20px;" data-html2canvas-ignore="true">
        <div>
          <div class="yearWork">
            <div class="table-blue"></div>
            <span>审批意见</span>
          </div>
          <el-form style="padding: 0; text-align: center;">
            <el-row class="top">
              <el-col :span="3">
                <el-form-item label="常用意见" label-width="100%"></el-form-item>
              </el-col>
              <el-col :span="21">
                <div class="opinion" style="text-align: left;height: 40px;">
                  <el-select v-model="opinion" clearable placeholder="请选择审批意见" @change="modelComment">
                    <el-option v-for="item in opinionList" :key="item.value" :label="item.label"
                      :value="item.value"></el-option>
                  </el-select>
                </div>
              </el-col>
            </el-row>
            <el-row class="top" id="comment">
              <el-col :span="3">
                <el-form-item label="当前意见" label-width="100%"></el-form-item>
              </el-col>
              <el-col :span="21">
                <el-input type="textarea" v-model="comment" clearable resize="none"
                  style="height: 150px;white-space: pre-line"></el-input>
              </el-col>
            </el-row>
          </el-form>
        </div>
        <div>
          <div style="padding: 0 10px 0 10px;text-align: right;">
            <el-button v-if="taskDetailsData.stepCode === 'step03' || taskDetailsData.stepCode === 'step04'"
              type="primary" size="medium" @click="reviewPass()" v-loading="vLoading.passLoading">审批通过</el-button>
            <el-button v-if="taskDetailsData.stepCode === 'step03' || taskDetailsData.stepCode === 'step04'"
              type="primary" size="medium" @click="reviewBack()" v-loading="vLoading.backLoading">审批退回</el-button>
          </div>
        </div>
      </el-card>
      <el-card class="fillter-box" style="padding-bottom: 20px;" data-html2canvas-ignore="true">
        <div style="padding: 0 0 20px 0;">
          <div class="yearWork">
            <div class="table-blue"></div>
            <span>操作履历</span>
          </div>
          <el-table border :data="operateHistoryList" tooltip-effect="dark" style="width: 100%">
            <el-table-column align="center" type="index" label="" fixed width="60"></el-table-column>
            <el-table-column prop="processName" width="auto" label="步骤名称" align="center">
            </el-table-column>
            <el-table-column prop="processTime" label="处理时间" width="auto" align="center">
            </el-table-column>
            <el-table-column prop="userName" label="处理人" width="auto" align="center">
            </el-table-column>
            <el-table-column prop="processComment" label="处理意见" width="auto" align="center">
            </el-table-column>
          </el-table>
        </div>
      </el-card>
    </div>
    <!--提交模态框-->
    <el-dialog title="参与人列表" :visible.sync="isJobShow" :close-on-click-modal="false" width="500px">
      <el-form label-width="140px">
        <el-form-item label="参与人" v-if="auditList">
          <el-checkbox-group v-model="participatorList">
            <el-checkbox v-for="item in auditList" :key="item.staffCode" :label="item.staffCode">{{
              item.staffName
            }}</el-checkbox>
          </el-checkbox-group>
        </el-form-item>
        <p v-else style="text-align: center;font-size: 17px;">暂无参与人</p>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="isJobShow = false, participatorList = []">取消</el-button>
        <el-button v-if="auditList" type="primary" @click.native="submitJobContent('Y')"
          v-loading="vLoading.submitLoading">提交</el-button>
      </div>
    </el-dialog>
    <!--本年度历史考核情况-->
    <el-dialog :visible.sync="performanceShow" :close-on-click-modal="false" width="1000px" class="ygjx">
      <el-card class="table-box">
        <div class="teble-top">
          <div class="teble-top-left">
            <div class="yearWork">
              <div class="table-blue"></div>
              <span>历史考核列表</span>
            </div>
            <el-table class="elTable" border :data="performanceDate" tooltip-effect="dark"
              :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold' }">
              <el-table-column prop="staffCode" label="员工编号" min-width="80" align="center"></el-table-column>
              <el-table-column prop="staffName" label="姓名" min-width="80" align="center"></el-table-column>
              <el-table-column prop="year" label="年份" min-width="80" align="center"></el-table-column>
              <el-table-column prop="quarter" label="季度" min-width="80" align="center">
                <template slot-scope="{row}">
                  {{ row.quarter | quarter }}
                </template>
              </el-table-column>
              <el-table-column prop="finalGrade" label="绩效结果" min-width="150" align="center"></el-table-column>
              <el-table-column prop="lastApplyDate" label="操作" min-width="150" align="center">
                <template slot-scope="scope">
                  <el-button size="mini" @click="openApprovalView(scope.$index, scope.row)">查看详情</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </el-card>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="performanceShow = false">取消</el-button>
      </div>
    </el-dialog>
    <!-- 绩效考核指标 -->
    <el-dialog :visible.sync="performanceGrade" :close-on-click-modal="false" class="ygjx">
      <el-card class="fillter-box">
        <div style="padding: 0 0 20px 0;">
          <div class="yearWork">
            <div class="table-blue"></div>
            <span>员工绩效考核指标</span>
          </div>
          <el-table :data="performanceGradeList" style="width: 100%;text-align: center;border: 1px #c3c3c3 solid" border
            :cell-style="{ borderColor: '#c3c3c3' }"
            :header-cell-style="{ background: '#ebf3fe', 'font-weight': 'bold', 'text-align': 'center', 'borderColor': '#c3c3c3' }">
            <el-table-column prop="target" label="考核指标" min-width="25%"></el-table-column>
            <el-table-column label="权重（%）">
              <el-table-column prop="quarter" label="季度" min-width="12.5%"></el-table-column>
              <el-table-column prop="year" label="年度" min-width="12.5%"></el-table-column>
            </el-table-column>
          </el-table>
        </div>
      </el-card>
      <div slot="footer" class="dialog-footer">
        <el-button @click.native="performanceGrade = false">取消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import productDeal from '@/api/productDeal'
import util from '@/utils/util'
import PdfLoader from '@/utils/htmlToPdf'
export default {
  data() {
    //表单校验
    var validateWeight = (rule, value, callback) => {
      var rsCheck = /^([1-9]\d{0,1}|100)$/
      var a = rsCheck.test(value)
      if (!a) {
        return callback(new Error('请输入1-100的整数！'))
      }
      callback()
    }
    return {
      // 用户id
      userNo: '',
      // 初始化绩效数据
      hrPerformanceId: {},
      // 是否从查看详情进入
      isShow: '',
      // 提交模态框展示
      isJobShow: false,
      // 年度重点工作
      empPerfFrom: {
        // 计划内容集合
        hrEmpPerformanceComtents: [],
        // 校验规则
        rules: {
          weight: [
            {
              validator: validateWeight,
              trigger: 'blur',
            },
          ]
        },
      },
      // 绩效任务详情数据
      taskDetailsData: {},
      rules: {
        selfScore: [
          {
            validator: validateWeight,
            trigger: ['blur','change'],
          }
        ],
        superiorScore: [
          {
            validator: validateWeight,
            trigger: ['blur','change'],
          }
        ],
        superiorEvaluate: [{ required: true, message: '请输入评价', trigger: 'blur' }]
      },
      // 绩效考核指标
      tableData: [],
      // 参与人集合
      participatorList: [],
      // 审批人
      auditList: [],
      // 意见集合
      opinionList: [
        {
          value: '同意',
          label: '同意'
        },
        {
          value: '不同意',
          label: '不同意'
        },
        {
          value: '没有意见',
          label: '没有意见'
        },
        {
          value: '请速办理',
          label: '请速办理'
        },
        {
          value: '已阅',
          label: '已阅'
        }
      ],
      // 审批意见
      opinion: '',
      // 当前意见
      comment: '',
      // 操作履历
      operateHistoryList: [],
      // 按钮展示加载中
      vLoading: {
        submitLoading: false,
        passLoading: false,
        backLoading: false
      },
      // 是否展示列表
      isDisplay: true,
      // 展示历史考核列表
      performanceShow: false,
      // 历史数据列表
      performanceDate: [],
      // 是否展示上级评价
      isShowEvaluate: 0,
      // 展示绩效考核指标
      performanceGrade: false,
      performanceGradeList: [
        { target: '组织KPI考核', quarter: '', year: '' },
        { target: '工作绩效考评', quarter: '', year: '' },
        { target: '总公司政策执行情况考核', quarter: '', year: '' },
        { target: '风险管理及合规考核', quarter: '', year: '' },
        { target: '资产负债管理考核', quarter: '', year: '' },
        { target: '消费者权益保护考核', quarter: '', year: '' },
        { target: '服务评价管理考核', quarter: '', year: '' },
        { target: '专项工作计划考核', quarter: '', year: '' },
        { target: '机构\部门经营管理水平考核', quarter: '', year: '' },
        { target: '部门满意度评价', quarter: '', year: '' },
        { target: '廉洁从业指标考核', quarter: '', year: '' },
      ],

    }
  },
  mounted() {
    // 初始化数据
    this.init()
    // 查询绩效任务详情
    this.queryPerfDetail()

    const xxx = document.getElementById('exportImg')  // 需要导出部分页面的id名
    // fileName -->导出文件名,  question-table -->防止被截断的class名
    this.pdfDownLoader = new PdfLoader(xxx, 'fileName', 'question-table')
  },
  methods: {
    // 初始化数据
    async init() {
      console.log('window', window)
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.decode(this.$route.query.hrPerformanceId);//解密
      console.log("decode：" + decodeStr)
      this.hrPerformanceId = decodeStr.substring(0, decodeStr.indexOf("&userNo="))
      if (decodeStr.indexOf("&isShow=") !== -1) {
        this.isShow = decodeStr.substring(decodeStr.indexOf("&isShow=") + 8, decodeStr.length)
      }
      this.userNo = decodeStr.substring(decodeStr.indexOf("&userNo=") + 8, decodeStr.indexOf("&kid="))
      console.log('初始化数据：', this.hrPerformanceId, this.isShow, this.userNo)
    },
    // 查询绩效任务详情
    async queryPerfDetail() {
      const para = {
        hrPerformanceId: this.hrPerformanceId
      }
      console.log('查询绩效任务详情参数', para)
      productDeal.queryPerfDetail(para).then(res => {
        console.log('获取绩效任务详情--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.taskDetailsData = res.data.content.resultContent
          console.log(this.taskDetailsData.isPublic)
          if (this.taskDetailsData.isPublic === null) {
            console.log(1)
            this.taskDetailsData.isPublic = 1
          }
          this.isShowEvaluate = this.taskDetailsData.isPublic
          this.empPerfFrom.hrEmpPerformanceComtents = res.data.content.resultContent.hrEmpPerformanceComtents
          this.operateHistoryList = res.data.content.resultContent.operateHistoryList
          console.log('绩效任务详情数据', this.taskDetailsData)
          console.log('操作履历', this.operateHistoryList)
          this.empPerfFrom.hrEmpPerformanceComtents.forEach(item => {
            if (item.status === '03') {
              item.isSet = false
            }
          })
          console.log('年度重点工作', this.empPerfFrom.hrEmpPerformanceComtents)
        }
      })
    },
    // 年度重点工作新增
    addJobContent() {
      this.empPerfFrom.hrEmpPerformanceComtents.push({})
      var i = this.empPerfFrom.hrEmpPerformanceComtents.length - 1
      this.empPerfFrom.hrEmpPerformanceComtents[i].quarter = this.taskDetailsData.quarter
      this.empPerfFrom.hrEmpPerformanceComtents[i].originQuarter = undefined
      console.log(this.empPerfFrom.hrEmpPerformanceComtents[i])
    },
    // 年度重点工作删除
    removeJobContent(index, row) {
      console.log(index, row)
      if (row.quarter !== this.taskDetailsData.quarter) {
        return this.$message.error('非当季度数据不可删除！')
      }
      this.empPerfFrom.hrEmpPerformanceComtents.splice(index, 1)
    },
    // 展示提交模态框
    isShowSubmit() {
      console.log('展示提交模态框')
      if (this.empPerfFrom.hrEmpPerformanceComtents < 1) {
        return this.$alert('年度重点工作条数需大于1！', '提醒', { confirmButtonText: '确定' })
      }
      var weight = 0
      for (let index = 0; index < this.empPerfFrom.hrEmpPerformanceComtents.length; index++) {
        if (!this.empPerfFrom.hrEmpPerformanceComtents[index].target || !this.empPerfFrom.hrEmpPerformanceComtents[index].weight || !this.empPerfFrom.hrEmpPerformanceComtents[index].keyResult || !this.empPerfFrom.hrEmpPerformanceComtents[index].estimatedFinishTime) {
          return this.$alert('无法提交，请检查是否填写完整！', '提醒', { confirmButtonText: '确定' })
        }
        weight += parseInt(this.empPerfFrom.hrEmpPerformanceComtents[index].weight)
      }
      console.log(weight)
      if (weight !== 100) {
        return this.$alert('权重之和需等于100%！', '提醒', { confirmButtonText: '确定' })
      }
      if (JSON.stringify(this.empPerfFrom.hrEmpPerformanceComtents) == "{}") {
        return this.$alert('请将年度绩效目标与计划内容填写完整！', '提醒', { confirmButtonText: '确定' })
      }
      const para = {
        hrPerformanceId: this.hrPerformanceId,
        deptId: this.taskDetailsData.deptId
      }
      console.log('查询审批人参数', para)
      productDeal.getAuditList(para).then(res => {
        console.log('获取审批人res--------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.auditList = res.data.content.resultContent
          console.log('审批人详情数据', this.auditList)
        }
      })
      this.isJobShow = true
    },
    // 提交校验
    submitJobCheck() {
      // 获取当前任务季度，进行不同区域的校验
      for (let i = 0; i < this.empPerfFrom.hrEmpPerformanceComtents.length; i++) {
        if (this.taskDetailsData.status === '03' && !this.empPerfFrom.hrEmpPerformanceComtents[i].completionDesc) {
          return this.$message({
            message: '请将"绩效目标与计划"中序号' + (i + 1) + '的内容填写完整！',
            type: 'warning'
          });
        }
        if (!this.empPerfFrom.hrEmpPerformanceComtents[i].target || !this.empPerfFrom.hrEmpPerformanceComtents[i].keyResult ||
          !this.empPerfFrom.hrEmpPerformanceComtents[i].weight || !this.empPerfFrom.hrEmpPerformanceComtents[i].estimatedFinishTime) {
          return this.$message({
            message: '请将"绩效目标与计划"中序号' + (i + 1) + '的内容填写完整！',
            type: 'warning'
          });
        }
      }
      // 总体评价校验
      if (['03', '04', '12'].includes(this.taskDetailsData.status)) {
        if (!this.taskDetailsData.selfScore) {
          return this.$message({
            message: '请将自评分填写完整！',
            type: 'warning'
          });
        }
        // var selfScore = parseInt(this.taskDetailsData.selfScore)
        // if (selfScore > 100 || selfScore < 1) {
        //   return this.$message({
        //     message: '自评分请输入1-100的整数！',
        //     type: 'warning'
        //   });
        // }
        var rsCheck = /^([1-9]\d{0,1}|100)$/
        var a = rsCheck.test(this.taskDetailsData.selfScore)
        if (!a) {
          return this.$message({
            message: '自评分请输入1-100的整数！',
            type: 'warning'
          });
        }
        if (this.taskDetailsData.status === '12') {
          // var superiorScore = parseInt(this.taskDetailsData.superiorScore)
          // if (superiorScore > 100 || superiorScore < 1) {
          //   return this.$message({
          //     message: '上级评分请输入1-100的整数！',
          //     type: 'warning'
          //   });
          // }
          var rsCheck = /^([1-9]\d{0,1}|100)$/
          var a = rsCheck.test(this.taskDetailsData.superiorScore)
          if (!a) {
            return this.$message({
              message: '上级评分请输入1-100的整数！',
              type: 'warning'
            });
          }
          if (!this.taskDetailsData.superiorEvaluate || !this.taskDetailsData.superiorScore) {
            return this.$message({
              message: '请将上级评分或上级评价填写完整！',
              type: 'warning'
            });
          }
        }
      }
      if ([2, 4].includes(this.taskDetailsData.quarter) && this.taskDetailsData.status === '03') {
        const content = this.taskDetailsData.quarter === 2 ? '年中绩效回顾' : '年度绩效回顾'
        if (!this.taskDetailsData.workSummary || !this.taskDetailsData.comprehensiveAssess1 ||
          !this.taskDetailsData.comprehensiveAssess2 || !this.taskDetailsData.comprehensiveAssess3 || !this.taskDetailsData.selfScore) {
          return this.$message({
            message: '请将"' + content + '"中的内容填写完整！',
            type: 'warning'
          });
        }
      }
      this.isShowSubmit()
    },
    // 提交
    async submitJobContent(isSubmit) {
      console.log('window', window)
      this.vLoading.submitLoading = true
      let params = {
        hrPerformanceId: this.hrPerformanceId,
        performanceComtentList: this.empPerfFrom.hrEmpPerformanceComtents,
        participatorList: this.participatorList,
        userNo: this.userNo,
        ...this.taskDetailsData,
        isSubmit: isSubmit
      }
      console.log('年度重点工作提交参数', params)
      productDeal.submitYearWork(params).then(res => {
        console.log('年度重点工作提交返回结果', res.data)
        if (res.data.content.result === '0') {
          if (isSubmit === 'Y') {
            this.$message.success('提交成功！')
          } else {
            this.$message.success('暂存成功！')
          }
          this.isJobShow = false
          this.queryPerfDetail()
          this.vLoading.submitLoading = false
          if (isSubmit === 'Y') {
            if (window.opener && window.opener.location.replace.name) {
              window.opener.location.reload()
            }
            window.close()
          }
        } else {
          this.vLoading.submitLoading = false
          this.isJobShow = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 审批通过
    async reviewPass() {
      if (this.taskDetailsData.status === '12') {
        // var superiorScore = parseInt(this.taskDetailsData.superiorScore)
        // if (superiorScore > 100 || superiorScore < 1) {
        //   return this.$message({
        //     message: '上级评分请输入1-100的整数！',
        //     type: 'warning'
        //   });
        // }
        var rsCheck = /^([1-9]\d{0,1}|100)$/
        var a = rsCheck.test(this.taskDetailsData.superiorScore)
        if (!a) {
          return this.$message({
            message: '上级评分请输入1-100的整数！',
            type: 'warning'
          });
        }
        if (!this.taskDetailsData.superiorEvaluate || !this.taskDetailsData.superiorScore) {
          return this.$message({
            message: '请将上级评分或上级评价填写完整！',
            type: 'warning'
          });
        }
      }
      console.log('window', window)
      this.vLoading.passLoading = true
      let params = {
        hrPerformanceId: this.hrPerformanceId,
        ... this.taskDetailsData,
        comment: this.comment,
        userNo: this.userNo
      }
      console.log('年度重点工作审批通过参数', params)
      productDeal.reviewPass(params).then(res => {
        console.log('年度重点工作审批通过返回结果', res.data)
        if (res.data.content.result === '0') {
          this.$message.success('审批通过成功！')
          this.vLoading.passLoading = false
          this.queryPerfDetail()
          this.comment = ''
          if (window.opener && window.opener.location.replace.name) {
            window.opener.location.reload()
          }
          window.close()
        } else {
          this.vLoading.passLoading = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 审批退回
    async reviewBack() {
      console.log('window', window)
      this.vLoading.backLoading = true
      let params = {
        hrPerformanceId: this.hrPerformanceId,
        ... this.taskDetailsData,
        comment: this.comment,
        userNo: this.userNo
      }
      console.log('审批退回参数', params)
      productDeal.reviewBack(params).then(res => {
        console.log('审批退回返回结果', res.data)
        if (res.data.content.result === '0') {
          this.vLoading.backLoading = false
          this.$message.success('审批退回成功！')
          this.queryPerfDetail()
          this.comment = ''
          this.opinion = ''
          if (window.opener && window.opener.location.replace.name) {
            window.opener.location.reload()
          }
          window.close()
        } else {
          this.vLoading.backLoading = false
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 审批意见下拉框与输入框绑定值
    modelComment() {
      this.comment += this.opinion
    },
    // 隐藏列表和展开
    isShowWorkPlan() {
      this.isDisplay = !this.isDisplay
    },
    // 展示历史考核列表
    async isShowPerformance() {
      this.performanceShow = true
      var para = {
        staffCode: this.taskDetailsData.staffCode,
        quarter: this.taskDetailsData.quarter,
        year: this.taskDetailsData.year
      }
      console.log('获取历史考核列表请求参数', para)
      productDeal.queryStaffPerf(para).then(res => {
        console.log('获取历史考核列表-----------------------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.performanceDate = res.data.content.resultContent[0].data
          console.log('历史考核列表数据', this.performanceDate)
        }
      }).then(() => {
        // this.listLoading = false;
      })
    },
    // 展示员工绩效考核指标
    isShowPerformanceGrade() {
      this.performanceGrade = true
      var para = {
        staffCode: this.taskDetailsData.staffCode
      }
      console.log('获取员工绩效考核指标请求参数', para)
      productDeal.queryTargetTrace(para).then(res => {
        console.log('获取员工绩效考核指标res--------------------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          var resultContent = res.data.content.resultContent
          resultContent.forEach(item => {
            if (item.kpiWeight) {
              if (item.cycle === '季度') {
                this.performanceGradeList[0].quarter = item.kpiWeight
              } else if (item.cycle === '年度') {
                this.performanceGradeList[0].year = item.kpiWeight
              }
            }
            if (item.jobPerformance) {
              if (item.cycle === '季度') {
                this.performanceGradeList[1].quarter = item.jobPerformance
              } else if (item.cycle === '年度') {
                this.performanceGradeList[1].year = item.jobPerformance
              }
            }
            if (item.policyImplementation) {
              if (item.cycle === '季度') {
                this.performanceGradeList[2].quarter = item.policyImplementation
              } else if (item.cycle === '年度') {
                this.performanceGradeList[2].year = item.policyImplementation
              }
            }
            if (item.riskManagement) {
              if (item.cycle === '季度') {
                this.performanceGradeList[3].quarter = item.riskManagement
              } else if (item.cycle === '年度') {
                this.performanceGradeList[3].year = item.riskManagement
              }
            }
            if (item.assetsLiability) {
              if (item.cycle === '季度') {
                this.performanceGradeList[4].quarter = item.assetsLiability
              } else if (item.cycle === '年度') {
                this.performanceGradeList[4].year = item.assetsLiability
              }
            }
            if (item.consumerProtection) {
              if (item.cycle === '季度') {
                this.performanceGradeList[5].quarter = item.consumerProtection
              } else if (item.cycle === '年度') {
                this.performanceGradeList[5].year = item.consumerProtection
              }
            }
            if (item.serviceEvaluation) {
              if (item.cycle === '季度') {
                this.performanceGradeList[6].quarter = item.serviceEvaluation
              } else if (item.cycle === '年度') {
                this.performanceGradeList[6].year = item.serviceEvaluation
              }
            }
            if (item.workPlan) {
              if (item.cycle === '季度') {
                this.performanceGradeList[7].quarter = item.workPlan
              } else if (item.cycle === '年度') {
                this.performanceGradeList[7].year = item.workPlan
              }
            }
            if (item.managementLevel) {
              if (item.cycle === '季度') {
                this.performanceGradeList[8].quarter = item.managementLevel
              } else if (item.cycle === '年度') {
                this.performanceGradeList[8].year = item.managementLevel
              }
            }
            if (item.deptSatisfaction) {
              if (item.cycle === '季度') {
                this.performanceGradeList[9].quarter = item.deptSatisfaction
              } else if (item.cycle === '年度') {
                this.performanceGradeList[9].year = item.deptSatisfaction
              }
            }
            if (item.honesty) {
              if (item.cycle === '季度') {
                this.performanceGradeList[10].quarter = item.honesty
              } else if (item.cycle === '年度') {
                this.performanceGradeList[10].year = item.honesty
              }
            }
          });
          console.log('历史考核列表数据', this.performanceGradeList)
        }
      }).then(() => {
        // this.listLoading = false;
      })
    },
    openApprovalView(index, row) {
      var a = row.hrPerformanceId + "&userNo=" + this.userNo + "&kid=";
      let Base64 = require('js-base64').Base64;
      var decodeStr = Base64.encode(a);
      console.log("encode：" + decodeStr)
      const { href } = this.$router.resolve({
        path: '/performance/productDeal',
        query: {
          hrPerformanceId: decodeStr
        }
      })
      window.open(href, '_blank')
    },
    // 导出pdf
    async exportPDF() {
      var fileName = this.taskDetailsData.staffCode + '-' + this.taskDetailsData.staffName + '-';
      if (this.taskDetailsData.quarter === 0) {
        fileName += this.taskDetailsData.year + '年度员工绩效管理表'
      } else {
        fileName += this.taskDetailsData.year + '年' + this.$options.filters['formatTitle'](this.taskDetailsData.quarter)
      }
      this.pdfDownLoader.outPutPdfFn(fileName)
    }
  },
  filters: {
    // 标题
    formatTitle(val) {
      if (val === 1) {
        return '第1季度绩效管理表'
      } else if (val === 2) {
        return '第2季度暨年中绩效管理表'
      } else if (val === 3) {
        return '第3季度绩效管理表'
      } else if (val === 4) {
        return '第4季度暨年度绩效管理表'
      } else {
        return '—————'
      }
    },
    // 第几季度
    formatQuarter(val) {
      if (val === 1) {
        return '第1季度'
      } else if (val === 2) {
        return '第2季度（年中）'
      } else if (val === 3) {
        return '第3季度'
      } else if (val === 4) {
        return '第4季度（年末）'
      } else {
        return '—————'
      }
    },
    // 第几季度
    quarter(val) {
      if (val === '1') {
        return '第1季度'
      } else if (val === '2') {
        return '第2季度暨年中'
      } else if (val === '3') {
        return '第3季度'
      } else if (val === '4') {
        return '第4季度暨年度'
      } else {
        return '—————'
      }
    },
    // 格式化时间和日期
    formatDataTime(val) {
      if (val) {
        return util.formatDate(new Date(val))
      }
    }
  }
}
</script>

<style lang="less">
/deep/ .fillter-box .el-input__inner {
  border: 1px;
  background: #ffffff;
}

.fillter-box {
  // margin: 20px 20px 20px 10px;
  margin-bottom: 20px;

  /deep/ .el-card__body {
    padding: 20px 0 20px 10px;
    line-height: 60px;
    position: relative;

    .el-form-item {
      margin: 0 20px 0 0;

      .el-form-item__label {
        white-space: nowrap;
        padding: 0;
        margin: 0 20px 0 10px;
        line-height: 40px;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: #303133;
      }

      .el-form-item__content {
        vertical-align: middle;
        width: 200px;
      }

      // .el-input>input {
      //   height: 40px;
      //   width: 200px;
      //   font-size: 14px;
      //   font-family: MicrosoftYaHei;
      //   color: #303133;
      //   background-color: #f3f7ff;
      //   border: none;

      //   &::placeholder {
      //     color: #aeafb2;
      //   }
      // }
    }

    div.btns {
      display: inline-block;
      position: absolute;
      right: 20px;
    }
  }
}

.table-blue {
  content: '';
  width: 6px;
  height: 16px;
  background: #409eff;
  border-radius: 3px 0;
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
}

.table-title {
  height: 28px;
  font-size: 20px;
  font-family: MicrosoftYaHeiSemi;
  font-weight: bold;
  color: #303133;
  line-height: 28px;
  margin-left: 10px;
}

.el-form-item__label {
  text-align: center;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #000000;
  line-height: 40px;
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// .el-table .el-table__cell {
//   text-align: center;
// }

.yearWork {
  margin: 15px 0 15px 0;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.workPlan {
  margin: 15px 0 15px 0;
  font-weight: bold;
  font-size: 18px;
}

.top .el-col .opinion,
.top .el-col .el-form-item {
  margin: 3px 3px 0 0;
  background: #ebf3fe;
}

.top input::-webkit-input-placeholder {
  text-align: left;
  color: #000;
  border: 0px;
  height: 30px;
  line-height: 30px;
  margin: 5px 0 0 15px;
}

.top .el-col .el-input__inner {
  height: 30px;
}

.top .el-col .el-input.el-input--suffix {
  line-height: 40px;
}

.el-select-dropdown.el-popper {
  margin: 0 0 0 15px;
}

#comment .el-col .el-form-item__label {
  height: 150px;
  line-height: 150px;
}

#comment .el-col .el-textarea__inner {
  height: 150px;
  width: 99.8%;
  margin: 3px 3px 0 0;
}

.opinion .el-input__icon {
  line-height: 30px;
}

#bottom .el-col {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12);
  height: 80px;
  font-size: 13px;
  padding: 0 5px 0 3px;
}

.el-table thead {
  font-weight: 500;
  color: #000000;
}

th {
  font-weight: normal;
}

.bt {
  font-size: 14px;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}

.sjpj {
  font-size: 14px;
  display: flex;
  align-items: center;
  /*垂直居中*/
  justify-content: center;
  /*水平居中*/
}

.evaluate,
.totality {
  border: 1px #c3c3c3 solid;
}

.superior .el-textarea__inner {
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  color: #606266;
  font-size: inherit;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.ztpj .el-input__inner,
.ztpj .el-textarea__inner {
  border: 0px;
}

.ztpj .el-col {
  border: 1px #c3c3c3 solid;
}

.evaluate input::-webkit-input-placeholder {
  text-align: center;
}

.totality {
  border: 1px #c3c3c3 solid;
  background: #ebf3fe;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.totality .el-form-item__label {
  text-align: left;
}

.yearMiddText .el-form-item__label {
  text-align: left;
  font-weight: bold;
}

#zpy {
  font-size: 14px;
  // display:flex;
  // align-items:center;/*垂直居中*/
  // justify-content: center;/*水平居中*/
}

.yearMiddFrom .yearMidd1 .el-col,
#zpy {
  border: 1px #c3c3c3 solid;
}

.yearMiddFrom .el-header,
.yearMiddFrom .el-main {
  border-left: 1px #c3c3c3 solid;
}

.yearMiddFrom .el-header {
  border-bottom: 1px #c3c3c3 solid;
}

.yearMidd1 .el-form-item {
  margin-bottom: 0px;
}

.yearMidd .el-main {
  padding: 0px;
  padding-top: 10px;
}

.yearMidd .el-header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}

.yearMiddFrom .el-textarea__inner,
.yearMiddFrom .el-input__inner {
  border: 0px;
}

.yearMidd .el-textarea__inner {
  // width: 310px;
  height: 137px;
}

.sjpf {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  height: 56px;
}

.yearMidd .el-main {
  font-size: 14px;
  display: flex;
  align-items: center;
  /*垂直居中*/
}

.fillter-box .el-input__inner {
  background: #ffffff !important;
}

.ygjx .el-dialog__body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.ygjx .el-card__body,
.el-main,
.ygjx .el-dialog__footer {
  padding-top: 0px;
}

.el-form-item__content {
  line-height: 20px;
}
</style>
<style scoped>
.prd-table>>>.el-textarea__inner {
  min-height: 40px !important;
}

.prd-table .el-form-item {
  padding-bottom: 5px;
}

.prd-table .el-form-item {
  margin: 10px 0 10px 0;
}
</style>
