<template>
  <div class="personel-content">
    <el-container style="padding: 0 20px;">
      <el-main>
        <el-card class="fillter-box" style="padding-bottom: 20px;">
          <div style="padding: 20px;">
            <div style="text-align: left; font-weight: bold;color: #000;height: 40px;line-height: 40px;">
              请输入查询条件
            </div>
            <el-row style="font-size: 14px;line-height: 40px;padding-bottom: 10px;text-align: left;">
              <el-col :span="2">
                <label>
                  <span slot="label">
                    绩效年份<span style="color: red;width: 5px;">*</span>
                  </span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-input clearable v-model="reqBody.year" placeholder="请输入绩效年份(格式:YYYY)" />
              </el-col>
              <el-col :span="2">
                <label>
                  <!-- <span slot="label" style="padding-left: 7%;">
                    绩效季度<span style="color: red;width: 5px;">*</span>
                  </span> -->
                  <span slot="label">绩效季度</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-select v-model="reqBody.quarter" clearable placeholder="请选择绩效季度" filterable style="width: 100%;">
                  <el-option v-for="item in quarterList" :key="item.reCode" :label="item.reName"
                    :value="item.reCode"></el-option>
                </el-select>
              </el-col>
              <el-col :span="2">
                <label>
                  <span slot="label"> 员工编码</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-input clearable v-model="reqBody.staffCode" placeholder="请输入员工编码" />
              </el-col>
              <el-col :span="2">
                <label style="padding-right: 2%">
                  <span slot="label">员工姓名</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-input clearable v-model="reqBody.staffName" placeholder="请输入员工姓名" />
              </el-col>
            </el-row>
            <el-row style="font-size: 14px;line-height: 40px;padding-bottom: 10px;text-align: left;">
              <el-col :span="2">
                <label>
                  <span slot="label">所属机构</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-select v-model="reqBody.manageCom" clearable placeholder="请选择所属机构" @change="queryDeptByComCode"
                  filterable style="width: 100%;">
                  <el-option v-for="item in orgList" :key="item.value" :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-col>
              <el-col :span="2">
                <label>
                  <span slot="label">所属部门</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-select clearable v-model="reqBody.dept" placeholder="请选择所属部门" filterable style="width: 100%;">
                  <el-option v-for="item in deptList" :key="item.value" :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-col>
              <el-col :span="2">
                <label>
                  <span slot="label">考核状态</span>
                </label>
              </el-col>
              <el-col :span="4">
                <el-select clearable v-model="reqBody.status" placeholder="请选择考核状态" filterable style="width: 100%;">
                  <el-option v-for="item in enumList" :key="item.value" :label="item.label"
                    :value="item.value"></el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-button style="float: right" type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>
          </div>
        </el-card>
      </el-main>
      <!-- <router-view /> -->
    </el-container>
    <el-card class="table-box">
      <div class="teble-top">
        <div class="teble-top-left">
          <div class="table-blue"></div>
          <span style="text-align: left; height: 40px; font-weight: bold;color: #000;">
            绩效管理列表
          </span>
        </div>
        <div class="teble-top-right">
          <el-button type="primary" icon="el-icon-arrow-up" @click="editorDimissionShow()" v-preventReClick>作废</el-button>
          <el-button type="primary" icon="el-icon-check" @click="submitWork" v-loading="vLoading.submitWork"
            v-preventReClick>发布年度绩效目标与计划制订流程</el-button>
          <el-button type="primary" icon="el-icon-check" @click="submitApproval" v-loading="vLoading.submitApproval"
            v-preventReClick>发布工作绩效考评流程</el-button>
          <el-button type="primary" icon="el-icon-date" @click="remind" v-preventReClick>一键提醒</el-button>
          <el-button type="primary" icon="el-icon-download" @click="exportExcel" v-preventReClick>导出</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="resDate" tooltip-effect="dark"
        @selection-change="selsChange"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold' }">
        <el-table-column type="selection" width="50" align="center"> </el-table-column>
        <el-table-column align="center" type="index" label="序号" fixed
          :index="index => { return (currentPage - 1) * pageSize + index + 1; }" width="60"></el-table-column>
        <el-table-column prop="year" label="绩效年份" width="90" align="center">
        </el-table-column>
        <el-table-column prop="quarter" label="季度" width="auto" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.quarter !== 0 ? scope.row.quarter : '———' }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="staffCode" label="工号" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="staffName" label="姓名" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="managecomzfName" label="总/分公司" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="manageComName" label="机构" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="deptName" label="部门" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="stationName" label="岗位" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="statusName" label="考核状态" width="auto" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column prop="operator" label="当前审批人" width="150" align="center" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="110" align="center">
          <template slot-scope="scope">
            <el-button size="mini" @click="openApprovalView(scope.$index, scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="block" style="text-align: center; margin-top: 20px">
        <el-pagination :current-page="currentPage" @size-change="handleSizeChange" @current-change="handleCurrentChange"
          :page-sizes="[10, 50, 300, 500]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
          :total="count" style="float: right;"></el-pagination>
      </div>
      <!--作废模态框-->
      <el-dialog title="作废" :visible.sync="isDimissionShow" :close-on-click-modal="false" width="500px">
        <el-form :model="editForm" label-width="140px" ref="editForm">
          <!-- <el-form-item label="工号">
                    <el-input disabled v-model="editForm.staffCode" style="width:250px"></el-input>
                  </el-form-item> -->
          <el-form-item label="作废原因" prop="reason" :rules="[
            { required: true, message: '请输入作废原因', trigger: 'change' }
          ]">
            <el-input type="textarea" v-model="editForm.reason" style="width:250px" clearable></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click.native="resetForm('editForm')">取消</el-button>
          <el-button type="primary" @click.native="editSubmit('editForm')">提交</el-button>
        </div>
      </el-dialog>
    </el-card>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
import StaffPerfSelect from '@/api/StaffPerfSelect'
export default {
  name: 'layout',
  data() {
    return {
      sels: [], // 列表选中列
      loading: false,
      resDate: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      count: 0,
      reqBody: {
        year: '',
        quarter: '',
        staffCode: '',
        staffName: '',
        manageCom: '',
        dept: '',
        status: ''
      },
      // 绩效季度
      quarterList: [
        {
          reCode: 1,
          reName: '一季度'
        },
        {
          reCode: 2,
          reName: '二季度(年中)'
        },

        {
          reCode: 3,
          reName: '三季度'
        },
        {
          reCode: 4,
          reName: '四季度(年度)'
        }
      ],
      // 机构
      orgList: [],
      // 计划状态
      enumList: [],
      // 部门
      deptList: [],
      // 是否展示作废模态框
      isDimissionShow: false,
      // 作废对象
      editForm: {},
      // 按钮展示加载中
      vLoading: {
        submitApproval: false,
        submitWork: false
      }
    }
  },
  created() {
    // 查询所有机构
    this.queryOrgList()
    // 查询绩效状态枚举
    this.queryEnumList()
    // 根据机构编码查询部门
    this.queryDeptByComCode()
  },
  methods: {
    // 查询
    handleQuery() {
      this.currentPage = 1
      this.getPage()
    },
    // 绩效查询
    async getPage() {
      if (!this.reqBody.year) {
        return this.$message({
          message: '请将"绩效年份"填写完整！',
          type: 'warning'
        });
      }
      var para = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.reqBody
      }
      console.log('获取列表请求参数', para)
      StaffPerfSelect.queryPerfList(para).then(res => {
        console.log('获取列表-----------------------', res.data)
        if (res.data.content.result === '1') {
          this.$message.error(res.data.content.resultMessage || '查询失败（resultMessage: null）')
        } else if (res.data.content.result === '0') {
          this.count = res.data.content.records
          this.total = res.data.content.count
          this.resDate = res.data.content.data
          console.log('表格数据', this.resDate)
        }
      }).then(() => {
        // this.listLoading = false;
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange: function (size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange: function (num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.getPage()
    },
    // 行数据
    selsChange(selection) {
      this.sels = selection
    },
    // 查询所有机构
    async queryOrgList() {
      StaffPerfSelect.queryOrgList().then(res => {
        console.log('获取所有机构-------------------', res.data)
        this.orgList = res.data.content.resultContent
        console.log('机构数据', this.orgList)
      })
    },
    // 查询绩效状态枚举
    async queryEnumList() {
      StaffPerfSelect.queryEnumList().then(res => {
        console.log('获取绩效状态枚举-------------------', res.data)
        this.enumList = res.data.content.resultContent.performanceStatus
        console.log('绩效状态枚举', this.enumList)
      })
    },
    // 根据机构编码查询部门
    async queryDeptByComCode() {
      const para = {
        manageComCode: this.reqBody.manageCom
      }
      StaffPerfSelect.queryDeptByComCode(para).then(res => {
        console.log('根据机构编码查询部门-------------------', res.data)
        this.deptList = res.data.content.resultContent
        console.log('所属部门', this.deptList)
      })
    },
    // 查看详情，打开详情页
    async openApprovalView(index, row) {
      if (!row.hrPerformanceId) {
        return this.$alert('未提交无法查看！', '提醒', { confirmButtonText: '确定' })
      }
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res)
        if (res.data.content.result === '0') {
          var a = row.hrPerformanceId + "&userNo=" + res.data.content.userNo + "&kid=";
          let Base64 = require('js-base64').Base64;
          var decodeStr = Base64.encode(a);
          console.log("encode：" + decodeStr)
          const { href } = this.$router.resolve({
            path: '/performance/productDeal',
            query: {
              hrPerformanceId: decodeStr
            }
          })
          window.open(href, '_blank')
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    },
    // 展示作废模态框
    editorDimissionShow() {
      // 判空
      if (this.sels.length < 1) {
        this.$message.error('请先选择需要作废的数据！')
        return false
      } else if (this.sels.length > 1) {
        return this.$alert('请选择单条记录！', '提醒', { confirmButtonText: '确定' })
      }
      if (this.sels[0].statusName === '未发布') {
        return this.$message.error('存在是“未发布”状态的任务，请先进行核实！')
      }
      this.isDimissionShow = true
      this.editForm = this.sels[0]
    },
    // 作废取消按钮
    resetForm(formName) {
      this.isDimissionShow = false
      this.$refs[formName].resetFields()
    },
    // 作废
    editSubmit(formName) {
      console.log('作废', this.editForm)
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = {
            hrPerformanceId: this.editForm.hrPerformanceId,
            traceId: this.editForm.traceId,
            reason: this.editForm.reason
          }
          console.log('作废请求参数', params)
          StaffPerfSelect.endFlow(params).then(res => {
            console.log('作废返回结果', res.data)
            if (res.data.content.result === '0') {
              this.$message.success('作废成功！')
              this.isDimissionShow = false
              this.editForm = {}
              this.$refs[formName].resetFields()
              this.getPage()
            } else {
              this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
            }
          })
        } else {
          return false
        }
      })
    },
    // 发布年度绩效目标与计划制订流程
    submitWork() {
      console.log('发布年度绩效目标与计划制订流程', this.sels)
      // 组装员工id集合
      let hrPersonnelIds = []
      // 判空
      if (this.sels.length < 1) {
        return this.$message.error('请先选择需要审批的数据！')
      }
      for (let index = 0; index < this.sels.length; index++) {
        if (!this.sels[index].hrPersonnelId) {
          return this.$message.error('存在非法数据：没有员工id！')
        }
        if (this.sels[index].quarter !== 0) {
          return this.$message.error('绩效目标与计划流程仅适用于年度，请调整查询条件!')
        }
        if (this.sels[index].statusName !== '未发布') {
          return this.$message.error('存在不是“未发布”状态的任务，请先进行核实！')
        }
        hrPersonnelIds.push(this.sels[index].hrPersonnelId)
      }
      this.vLoading.submitWork = true
      let params = {
        year: this.sels[0].year,
        quarter: this.sels[0].quarter,
        hrPersonnelIds: hrPersonnelIds,
        hrPerformanceId: this.sels[0].hrPerformanceId
      }
      console.log('一键审批请求参数', params)
      StaffPerfSelect.initiateYearWork(params).then(res => {
        console.log('一键审批返回结果', res.data)
        if (res.data.content.result === '0') {
          this.$message.success('发布年度绩效目标与计划制订流程成功')
          this.vLoading.submitWork = false
          this.getPage()
        } else {
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
          this.vLoading.submitWork = false
        }
      })
    },
    // 发布工作绩效考评流程
    submitApproval() {
      console.log('发布工作绩效考评流程', this.sels)
      // 组装员工id集合
      let hrPersonnelIds = []
      // 判空
      if (this.sels.length < 1) {
        return this.$message.error('请先选择需要审批的数据！')
      }
      for (let index = 0; index < this.sels.length; index++) {
        if (!this.sels[index].hrPersonnelId) {
          return this.$message.error('存在非法数据：没有员工id！')
        }
        if (this.sels[index].quarter === 0) {
          return this.$message.error('请先选择季度，再发布绩效考评！')
        }
        if (this.sels[index].statusName !== '未发布') {
          return this.$message.error('存在不是“未发布”状态的任务，请先进行核实！')
        }
        hrPersonnelIds.push(this.sels[index].hrPersonnelId)
      }
      this.vLoading.submitApproval = true
      let params = {
        year: this.sels[0].year,
        quarter: this.sels[0].quarter,
        hrPersonnelIds: hrPersonnelIds,
        hrPerformanceId: this.sels[0].hrPerformanceId
      }
      console.log('一键审批请求参数', params)
      StaffPerfSelect.initiatePerformance(params).then(res => {
        console.log('一键审批返回结果', res.data)
        if (res.data.content.result === '0') {
          this.$message.success('发布工作绩效考评流程成功')
          this.vLoading.submitApproval = false
          this.getPage()
        } else {
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
          this.vLoading.submitApproval = false
        }
      })
    },
    // 一键提醒
    remind() {
      var sendMailList = []
      // 判空
      if (this.sels.length < 1) {
        return this.$message.error('请先选择需要提醒的数据！')
      }
      for (let index = 0; index < this.sels.length; index++) {
        sendMailList.push(
          { taskId: this.sels[index].taskId, operatorCode: this.sels[index].operatorCode }
        )
      }
      let params = {
        sendMailList: sendMailList
      }
      console.log('一键提醒请求参数', params)
      StaffPerfSelect.remind(params).then(res => {
        console.log('一键提醒返回结果', res.data)
        if (res.data.content.result === '0') {
          this.$message.success('邮件发送成功！')
          this.getPage()
        } else {
          this.$message.error(res.data.content.resultMessage || '操作失败（resultMessage: null）')
        }
      })
    },
    // 导出
    exportExcel() {
      const params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        ...this.reqBody
      }
      StaffPerfSelect.exportPerf(params).then(res => {
        // if (res.data.content.result === '0') {
        const data = res.data
        const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel;charset=utf-8' }))
        const link = document.createElement('a')
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', '绩效管理列表.xlsx')
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link)
        this.$message.success('导出成功！')
        // } else {
        //   this.$message.error(res.data.content.resultMessage)
        // }
      })
    }
  }
}
</script>

<style scoped>
.el-header,
.el-footer {
  background-color: #f9f9f9;
  color: #333;
  text-align: left;
}

.inputInfo {
  width: 100%;
  display: flex;
  font-weight: 500;
  flex-flow: row wrap;
}

.inputInfo div {
  width: 49.5%;
  padding-bottom: 2px;
}

.inputInfo div label {
  display: inline-block;
  width: 32%;
  /* //width: 135px; */
  width: 180px;
  height: 40px;
  line-height: 40px;
}

.my-message-box .el-message-box__content {
  text-align: center !important;
}
</style>
<style lang="less" scoped>
.el-button {
  font-size: 12px;
}

.fillter-box .el-input__inner {
  border: 0px;
  background: #f2f7ff;
}

.table-box {
  border-radius: 4px;
  margin: 0 20px 20px 20px;

  .teble-top {
    margin: 10px 0 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .teble-top-left {
      .table-blue {
        content: '';
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        display: inline-block;
      }
    }
  }

  margin-bottom: 16px;
}

.personel-content {
  padding: 10px;

  .fillter-box {
    // margin: 20px 20px 20px 10px;
    margin-bottom: 20px;
  }
}
</style>
<style lang="less">
.el-dialog {
  position: relative;
  margin: 0 auto 50px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 50%;
}

.el-input__inner {
  font-size: 13.5px;
}

.el-form-item__label {
  width: 30%;
}

.el-select__tags {
  overflow: hidden;
  flex-wrap: wrap;
}

.el-card__body,
.el-main {
  padding: 0 0 0 0;
}

input::-webkit-input-placeholder {
  color: #000;
}
</style>
