<template>
    <div class="app-container">
        <el-row :gutter="20">
            <!--用户数据-->
            <el-col :span="24" :xs="24">
                <el-card class="fillter-box">
                    <el-form :model="queryParams" ref="queryForm" :inline="true" class="queryForm" label-position="left">
                        <el-collapse v-model="activeNames">
                            <el-collapse-item title="基本信息" name="1">
                                <el-form-item label="员工编号" prop="staffNo">
                                    <el-input v-model="queryParams.staffNo" clearable placeholder="请输入员工编号" size="small"
                                        @keyup.enter.native="handleQuery" />
                                </el-form-item>
                                <el-form-item label="员工姓名" prop="staffName">
                                    <el-input v-model="queryParams.staffName" clearable placeholder="请输入员工姓名" size="small"
                                        @keyup.enter.native="handleQuery" />
                                </el-form-item>
                                <el-form-item label="机构层级" prop="sex">
                                    <el-select v-model="queryParams.sex" placeholder="请选择机构层级" clearable filterable>
                                        <el-option v-for="(item, index) in selectEnums.rankComgradeList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="员工性别" prop="sex">
                                    <el-select v-model="queryParams.sex" placeholder="请选择员工性别" clearable filterable>
                                        <el-option v-for="(item, index) in selectEnums.sexList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="年龄段" prop="ageBracket">
                                    <el-select v-model="queryParams.ageBracket" placeholder="请选择年龄段" clearable filterable>
                                        <el-option v-for="(item, index) in selectEnums.ageBracketList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="司龄段" prop="comAgesBracket">
                                    <el-select v-model="queryParams.comAgesBracket" placeholder="请选择司龄段" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.comAgesBracketList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="保险从业年限" prop="insYears">
                                    <el-select v-model="queryParams.insYears" placeholder="请选择保险从业年限" clearable filterable>
                                        <el-option v-for="(item, index) in selectEnums.insYearsList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="个人教育经历" name="2">
                                <el-form-item label="最高学历" prop="topEducation">
                                    <el-select v-model="queryParams.topEducationList" placeholder="请选择最高学历" clearable
                                        filterable multiple>
                                        <el-option v-for="(item, index) in selectEnums.topEducationList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="最高学位" prop="topDegreeList">
                                    <el-select v-model="queryParams.topDegreeList" placeholder="请选择最高学位" clearable
                                        filterable multiple>
                                        <el-option v-for="(item, index) in selectEnums.topDegreeList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="最高学历性质" prop="topEducationStyleList">
                                    <el-select v-model="queryParams.topEducationStyleList" placeholder="请选择最高学历性质" clearable
                                        filterable multiple>
                                        <el-option v-for="(item, index) in selectEnums.topEducationStyleList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾学专业" prop="major">
                                    <el-input v-model="queryParams.major" clearable placeholder="请输入曾学专业" size="small"
                                        @keyup.enter.native="handleQuery" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="工作经历" name="3" id="collapse">
                                <el-form-item label="工作经历" prop="workExperience">
                                    <el-select v-model="queryParams.workExperience" placeholder="请选择工作经历" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.workExperienceList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾担任总公司最高职务" prop="topJob">
                                    <el-select v-model="queryParams.topJob" placeholder="请选择曾担任总公司最高职务" clearable multiple
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.headquartersTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾担任分公司最高职务" prop="topJob2">
                                    <el-select v-model="queryParams.topJob2" placeholder="请选择曾担任分公司最高职务" clearable multiple
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.filialeTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾担任中心支公司最高职务" prop="topJob3">
                                    <el-select v-model="queryParams.topJob3" placeholder="请选择曾担任中心支公司最高职务" clearable
                                        multiple filterable>
                                        <el-option v-for="(item, index) in selectEnums.centersuballTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾涉及职能领域" prop="functionalArea">
                                    <el-select v-model="queryParams.functionalArea" placeholder="请选择曾涉及职能领域1" clearable
                                        multiple filterable>
                                        <el-option v-for="(item, index) in selectEnums.functionalAreaList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                    <el-switch v-model="queryParams.functionalAreaQueryType" :active-value="1"
                                        inactive-value="" active-text="交集"
                                        :disabled="queryParams.functionalArea.length < 1"></el-switch>
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="任职经历" name="4" id="collapse">
                                <el-form-item label="工作经历" prop="workExperience2">
                                    <el-select v-model="queryParams.workExperience2" placeholder="请选择工作经历" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.workExperienceList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="岗位" prop="jobList">
                                    <el-select v-model="queryParams.jobList" placeholder="请选择岗位" clearable filterable
                                        multiple>
                                        <el-option v-for="(item, index) in selectEnums.jobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="年限" prop="ageLimit">
                                    <el-input v-model.number="queryParams.ageLimit" clearable placeholder="请输入年限"
                                        size="small" @keyup.enter.native="handleQuery" />
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="奖惩记录" name="5" id="collapse" class="collapse01">
                                <el-form-item label="近2年内处罚/处分记录" prop="rewardFlag">
                                    <el-radio-group v-model="queryParams.rewardFlag" style="line-height: 50px;">
                                        <el-radio label="Y">有</el-radio>
                                        <el-radio label="N">无</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                                <el-form-item label="近2年内奖励记录" prop="punFlag">
                                    <el-radio-group v-model="queryParams.punFlag">
                                        <el-radio label="Y">有</el-radio>
                                        <el-radio label="N">无</el-radio>
                                    </el-radio-group>
                                </el-form-item>
                            </el-collapse-item>
                            <el-collapse-item title="其它" name="6" id="collapse">
                                <el-form-item label="专业技术/职业资格" prop="certificateList">
                                    <el-select v-model="queryParams.certificateList" placeholder="请选择" clearable filterable
                                        multiple>
                                        <el-option v-for="(item, index) in selectEnums.certificateList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                            </el-collapse-item>
                            <!-- <el-collapse-item title="个人工作经历-保险同业" name="4" id="collapse">
                                <el-form-item label="曾担任总公司最高职务" prop="peerJob">
                                    <el-select v-model="queryParams.peerJob" placeholder="请选择曾担任总公司最高职务" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.headquartersTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾担任分公司最高职务" prop="peerJob2">
                                    <el-select v-model="queryParams.peerJob2" placeholder="请选择曾担任分公司最高职务" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.filialeTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾担任中心支公司最高职务" prop="peerJob3">
                                    <el-select v-model="queryParams.peerJob3" placeholder="请选择曾担任中心支公司最高职务" clearable
                                        filterable>
                                        <el-option v-for="(item, index) in selectEnums.centersuballTopJobList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="曾涉及职能领域" prop="peerFunctionalArea">
                                    <el-select v-model="queryParams.peerFunctionalArea" placeholder="请选择曾涉及职能领域1" clearable
                                        multiple filterable>
                                        <el-option v-for="(item, index) in selectEnums.functionalAreaList" :key="index"
                                            :label="item.label" :value="item.value" />
                                    </el-select>
                                    <el-switch v-model="queryParams.peerFunctionalAreaQueryType" :active-value="1"
                                        inactive-value="" active-text="交集"
                                        :disabled="queryParams.peerFunctionalArea < 1"></el-switch>
                                </el-form-item>
                            </el-collapse-item> -->
                            <el-row style="text-align: right;padding-top: 20px;">
                                <el-col>
                                    <el-form-item>
                                        <el-button type="primary" icon="el-icon-search" @click="handleQuery"
                                            size="medium">搜索</el-button>
                                        <el-button icon="el-icon-refresh" @click="resetQuery" size="medium">重置</el-button>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-collapse>
                    </el-form>
                </el-card>

                <!-- 表格 -->
                <el-card class="fillter-box">
                    <div class="table-title-box" style="padding-top: 10px;">
                        <span>员工信息库</span>
                        <!-- <div>
                            <el-button type="primary" size="small" icon="el-icon-download" v-preventReClick>导出</el-button>
                        </div> -->
                    </div>
                    <el-table v-loading="loading" element-loading-text="请稍后..." :data="tableData"
                        :cell-style="{ borderColor: '#c3c3c3' }" :header-cell-style="tableHeaderColor">
                        <el-table-column align="center" label="基本信息">
                            <el-table-column align="center" prop="staffNo" label="员工编号" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="staffName" label="员工姓名" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="sex" label="性别" />
                            <el-table-column align="center" prop="age" label="年龄" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="manageComName" label="总/分公司"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="comName" label="所属机构" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="dept" label="部门" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="subject" label="室/处" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="station" label="岗位名称" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="job" label="职务" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="inComDate" label="入司日期" :show-overflow-tooltip="true">
                                <template slot-scope="scope">
                                    {{ scope.row.inComDate | formatData(scope.row.inComDate) }}
                                </template>
                            </el-table-column>
                            <el-table-column align="center" prop="comAges" label="司龄" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="insYears" label="保险从业年限" width="110px"
                                :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="个人教育经历">
                            <el-table-column align="center" prop="topEducation" label="最高学历"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="topEducationStyle" label="最高学历性质" width="110px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="topDegree" label="最高学位" width="90px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="major" label="曾学专业" width="90px"
                                :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="个人工作经历-国华">
                            <el-table-column align="center" prop="ghTopJob" label="曾担任总公司最高职务" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghTopJobYears" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghTopJob2" label="曾担任分公司最高职务" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghTopJobYears2" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghTopJob3" label="曾担任中心支公司最高职务" width="190px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghTopJobYears3" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="ghFunctionalArea" label="曾涉及职能领域" width="130px"
                                :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="个人工作经历-保险同业">
                            <el-table-column align="center" prop="peerJob" label="曾担任总公司最高职务" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerJobYears" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerJob2" label="曾担任分公司最高职务" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerJobYears2" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerJob3" label="曾担任中心支公司最高职务" width="190px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerJobYears3" label="任职时长" width="170px"
                                :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="peerFunctionalArea" label="曾涉及职能领域" width="130px"
                                :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="个人绩效表现（最近三年）">
                            <el-table-column align="center" prop="lastYearsGrade" :label="fullYear.yearOne + '年绩效'"
                                width="100px" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="beforeLastYearsGrade" :label="fullYear.yearTwo + '年绩效'"
                                width="100px" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="threeYearsAgoGrade" :label="fullYear.yearThree + '年绩效'"
                                width="100px" :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="奖惩记录">
                            <el-table-column align="center" prop="reward" label="奖励经历" :show-overflow-tooltip="true" />
                            <el-table-column align="center" prop="penalize" label="处罚经历" :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="其他信息">
                            <el-table-column align="center" prop="certificate" label="获得专业技术/职业资格等证书名称" width="240px"
                                :show-overflow-tooltip="true" />
                        </el-table-column>
                        <el-table-column align="center" label="操作" width="110" fixed="right">
                            <template slot-scope="{row}">
                                <el-button type="primary" size="mini" @click="openDetail(row)"
                                    v-preventReClick>查看详情</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- <el-pagination background :current-page.sync="currentPage" :page-size.sync="pageSize"
                        :page-sizes="[10, 50, 100, 500]" layout="total, sizes, prev, pager, next, jumper" :total="total"
                        style="float: right; margin-top:20px; margin-bottom:20px;" @current-change="handleCurrentChange"
                        @size-change="handleSizeChange" /> -->
                    <el-pagination :current-page="currentPage" @size-change="handleSizeChange"
                        @current-change="handleCurrentChange" :page-sizes="[10, 50, 300, 500]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="count"
                        style="float: right; margin-top:20px; margin-bottom:20px;"></el-pagination>
                </el-card>
            </el-col>
        </el-row>
    </div>
</template>

<script>

import util from '@/utils/util'
import staffManage from '@/api/staffManage'
export default {
    name: 'Staff',
    data() {
        return {
            // 搜索条件默认打开
            activeNames: ['1'],
            // 遮罩层
            loading: false,
            // 选中数组
            ids: [],
            // 非单个禁用
            single: true,
            // 非多个禁用
            multiple: true,
            currentPage: 1,
            pageSize: 5,
            // 总条数
            total: 0,
            count: 0,
            // 表格绩效表现，动态当前三年
            fullYear: {},
            // 员工表格数据
            staffList: [],
            tableData: [],
            // 表单参数
            form: {},
            // 查询参数
            queryParams: {
                staffNo: '',
                staffName: '',
                sex: '',
                ageBracket: '',
                comAgesBracket: '',
                insYears: '',
                topEducationList: [],
                topDegreeList: [],
                topEducationStyleList: [],
                major: '',
                topJob: [],
                topJob2: [],
                topJob3: [],
                functionalArea: [],
                functionalAreaQueryType: '',
                jobList: [],
                ageLimit: undefined,
                rewardFlag: '',
                punFlag: '',
                certificateList: [],
            },
            //列表选中行
            selection: [],
            selectEnums: {},
        }
    },
    watch: {
    },
    created() {
        this.fullYear = {
            yearOne: new Date().getFullYear() ,
            yearTwo: new Date().getFullYear() - 1,
            yearThree: new Date().getFullYear() - 2,
        }
        this.getSelectEnums();
    },
    methods: {
        handleCurrentChange(num) {
            this.currentPage = num
            this.getList()
        },
        handleSizeChange(size) {
            this.currentPage = 1
            this.pageSize = size
            this.getList()
        },
        /** 查询员工列表 */
        async getList() {
            if (this.queryParams.ageLimit &&
                !Number.isInteger(this.queryParams.ageLimit) && isNaN(this.queryParams.ageLimit)) {
                return this.$message.error("年限必须为数据！");
            }
            const para = {
                currentPage: this.currentPage,
                pageSize: this.pageSize,
                ...this.queryParams
            }
            this.loading = true
            console.log('获取列表---------', para)
            staffManage.getListPage(para).then(res => {
                console.log('获取列表-------response--------', res);
                if (res.data.content.result === '1') {
                    this.$message.error(res.data.content.resultMessage);
                } else {
                    this.tableData = res.data.content.data;
                    this.count = res.data.content.records
                    this.total = res.data.content.count
                }
            }).then(() => {
                this.loading = false;
            });
        },
        // 查询下拉框枚举
        getSelectEnums() {
            staffManage.getSelectEnums().then(response => {
                console.log('查询下拉框枚举 === res', response)
                if (response.data.content.result === '0') {
                    this.selectEnums = response.data.content;
                } else {
                    this.$message.error(response.data.content.resultMessage || '操作失败（resultMessage: null）')
                }
            })
        },
        /** 搜索按钮操作 */
        handleQuery() {
            this.currentPage = 1
            this.getList()
        },
        /** 重置按钮操作 */
        resetQuery() {
            this.resetForm('queryForm')
            this.handleQuery()
        },
        resetForm(formName) {
            this.$refs[formName].resetFields()
        },
        // 表单重置
        reset() {
            this.form = {
                staffNo: undefined,
                name: undefined,
                gender: undefined,
                mobile: undefined,
                email: undefined,
                birthday: undefined,
                topDegree: undefined,
                graduate: undefined,
                nativePlace: undefined,
                deptId: undefined,
                postId: undefined,
                hireDate: undefined,
            }
        },
        // 多选框选中数据
        handleSelectionChange(selection) {
            this.single = selection.length !== 1
            this.ids = selection.map(item => item.staffNo);
            this.multiple = !selection.length
            this.selection = selection
        },
        openDetail(row) {
            let staffDetail = {
                lastYearsGrade: row.lastYearsGrade,
                beforeLastYearsGrade: row.beforeLastYearsGrade,
                threeYearsAgoGrade: row.threeYearsAgoGrade,
                ghTopJob: row.ghTopJob,
                ghTopJobYears: row.ghTopJobYears,
                ghTopJob2: row.ghTopJob2,
                ghTopJobYears2: row.ghTopJobYears2,
                ghTopJob3: row.ghTopJob3,
                ghTopJobYears3: row.ghTopJobYears3,
                peerTopJob: row.peerTopJob,
                peerTopJobYears: row.peerTopJobYears,
                peerTopJob2: row.peerTopJob2,
                peerTopJobYears2: row.peerTopJobYears2,
                peerTopJob3: row.peerTopJob3,
                peerTopJobYears3: row.peerTopJobYears3,
            }
            let { href } = this.$router.resolve({
                path: '/staff/staffDetail',
                query: {
                    staffId: row.staffId,
                    staffDetail: JSON.stringify(staffDetail)
                }
            })
            window.open(href, '_blank')
        },
        // 表头样式
        tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            let css = "color: #303133; background: #ebf3fe;borderColor: #c3c3c3;";
            if (rowIndex === 0 && columnIndex !== 7) {
                css += "font-size: 16px;";
            }
            return css;
        },
    },
  filters: {
    formatData(time) {
      return util.formatDate(new Date(time));
    }
  }
}
</script>
<style lang="less">
.queryForm .el-select .el-input__inner,
.el-cascader .el-input .el-input__inner {
    height: 32px;
}

.el-collapse,
.el-collapse-item__wrap {
    border-bottom: none;
}

.el-collapse-item__content {
    padding-bottom: 0;
}

.el-collapse-item__header {
    font-weight: bold;
    font-size: 18px;
}

.fillter-box {
    .el-form-item__label {
        width: 100px;
    }
}

#collapse {
    .el-form-item__label {
        width: 190px;
    }

    .el-form-item .el-input {
        width: 260px;
    }

    .el-form-item .el-select {
        width: 260px;
    }
}

.el-table {
    border: 1px #c3c3c3 solid;
    text-align: center;
}
</style>
<style lang="less" scoped>
// 查询card
.fillter-box {
    margin-bottom: 20px;

    padding: 15px;

    // padding: 0 20px;
    .el-form-item {
        margin-bottom: 10px;
    }

    .el-form-item .el-input {
        width: 200px;
    }

    .el-form-item .el-select {
        width: 200px;
    }
}

.table-title-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 15px 0;

    span {
        height: 16px;
        color: #000;
        font-size: 18px;
        text-align: left;
        font-weight: bold;
    }

    span::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
    }
}

.app-container {
    margin: 20px;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.scrollX {
    overflow: scroll;
}

/deep/.el-tree-node>.el-tree-node__children {
    overflow: visible;
}
</style>
