<template>
  <div class="app-content">
    <el-card class="fillter-box">
      <div style="padding-bottom: 10px;">
        <!-- <div class="table-blue"></div> -->
        <span style="font-weight: bold;">请输入查询条件</span>
      </div>
      <el-form :model="queryForm" ref="dynamicValidateForm">
        <el-row>
          <el-col :span="6">
            <el-form-item prop="year" label="绩效年份">
              <el-input v-model="queryForm.year" placeholder="请输入绩效年份(格式:YYYY)"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-row type="flex" justify="end">
        <el-col class="query_button" :span="6">
          <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>            
        </el-col>
      </el-row>
    </el-card>
    <el-card class="table-content-box">
      <div class="table-title">
        <span>员工个人绩效列表</span>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold','text-align': 'center' }">
        <el-table-column align="center" prop="staffCode" label="员工编号" min-width="150" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="staffName" label="员工姓名" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="year" label="年份" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="quarter" label="考核周期" min-width="150" :show-overflow-tooltip="true">
          <template slot-scope="{row}">
            {{ row.quarter | formatQuarter }}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="finalGrade" label="绩效结果" min-width="150" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="right" align="center" label="操作" width="160">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewDetail(row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="bottom-box">
        <div></div>
        <el-pagination
          :total="total"
          :current-page="currentPage"
          :page-size="pageSize"
          :page-sizes="[10, 50, 300, 500]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"></el-pagination>
      </div>
    </el-card>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
import personnelManagement from '@/api/personnelManagement'
export default {
  name: 'staffMerits',
  data () {
    return {
      queryForm:{
        year: ''
      },
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 10,
      total: 0
    }
  },
  created () {
    this.handleQuery()
  },
  methods: {
    // 查询
    handleQuery() {
      this.currentPage = 1
      this.getPage()
    },
    async getPage () {
      personnelManagement.queryAuthUser().then(res => {
        if (res.data.code == 0) {
          const params = {
            currentPage: this.currentPage,
            pageSize: this.pageSize,
            staffCode: res.data.content.userNo,
            ...this.queryForm
          }
          personnelManagement.queryStaffPerf(params).then(res => {
            if (res.data.content.result == '0') {
              this.total = res.data.content.resultContent[0].records
              this.tableData = res.data.content.resultContent[0].data
            } else {
              this.$message.error(res.data.content.resultMessage)
            }
          })
        } else {
          this.$message.error(res.data.content.resultMessage || "查询用户编号失败！")
        }
      })
    },
    // 查看详情
    async viewDetail(row) {
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res)
        if (res.data.content.result === '0') {
          var a = row.hrPerformanceId + "&userNo=" + res.data.content.userNo + "&kid=";
          let Base64 = require('js-base64').Base64;
          var decodeStr = Base64.encode(a);
          console.log("encode：" + decodeStr)
          const { href } = this.$router.resolve({
            path: '/performance/productDeal',
            query: {
              hrPerformanceId: decodeStr
            }
          })
          window.open(href, '_blank')
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange(size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange(num) {
      // pageNum值改变时回调
      // this.currentPage = currentPage
      // console.log(this.currentPage) // 点击第几页
      this.currentPage = num
      this.getPage()
    },
  },
  filters: {
    // 第几季度
    formatQuarter (val) {
      if (val === '1') {
        return '第1季度'
      } else if (val === '2') {
        return '第2季度暨年中'
      } else if (val === '3') {
        return '第3季度'
      } else if (val === '4') {
        return '第4季度暨年度'
      } else {
        return '—————'
      }
    },
    // 格式化时间和日期
    formatDataTime (val) {
      if (val) {
        return util.formatDate(new Date(val))
      }
    }
  }
}
</script>

<style lang="less" scoped>
.app-content{
  padding: 10px 30px;
  h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }
  // 查询card
  .fillter-box{
    margin-bottom: 20px;
    /deep/ .el-card__body{
      padding: 20px;
      // 查询表单
      .el-row{
        // padding: 0 20px;
        .el-form-item{
          margin-bottom: 10px;
        }
        .el-form-item__label{
          width: calc(100% - 240px);
          min-width: 80px;
          text-align: left;
        }
        .el-input{
          width: 240px;
        }
      } 
      // 查询按钮
      .query_button{
        display: flex;
        justify-content: flex-end;
      }
    }    
  }
  .table-blue {
  content: '';
  width: 6px;
  height: 16px;
  background: #409eff;
  border-radius: 3px 0;
  display: inline-block;
  margin-top: 4px;
}
  // 表格card
  .table-content-box{
    /deep/ .el-card__body{
      padding: 20px;
    }
    .table-title{
      margin-bottom: 15px;
      span{
        height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }
      span::before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
    }
    .el-table{
      border: 1px solid #d1d2ce;
    }
  }
  .bottom-box{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
// 表格表头边框
/deep/ .table-content-box .el-table--border th.el-table__cell, .el-table__fixed-right-patch{
  border-right: 1px solid #d1d2ce;
  border-bottom: 1px solid #d1d2ce;
}
// 表格内容边框
/deep/ .table-content-box .el-table td.el-table__cell{
  border-bottom: 1px solid #d1d2ce;
}
/deep/ .table-content-box .el-table--border .el-table__cell{
  border-right: 1px solid #d1d2ce;
}
</style>
