<template>
    <div class="app-content">
    <el-card class="fillter-box">
      <div style="padding-bottom: 10px;">
        <!-- <div class="table-blue"></div> -->
        <span style="font-weight: bold;">请输入查询条件</span>
      </div>
      <el-form :model="queryForm" ref="dynamicValidateForm">
        <el-row>
          <el-col :span="6">
            <el-form-item prop="year" label="绩效年份">
              <el-input v-model="queryForm.year" placeholder="请输入绩效年份(格式:YYYY)"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="quarter" label="绩效季度">
              <el-select v-model="queryForm.quarter" placeholder="请选择绩效季度" clearable filterable>
                <el-option v-for="item in quarterList" :key="item.value" :label="item.label" :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="staffCode" label="员工编码">
              <el-input v-model="queryForm.staffCode" placeholder="请输入员工编码"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="staffName" label="员工姓名">
              <el-input v-model="queryForm.staffName" placeholder="请输入员工姓名"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-row type="flex" justify="end">
        <el-col class="query_button" :span="6">
          <el-button type="primary" icon="el-icon-search" @click="handleQuery">查询</el-button>            
        </el-col>
      </el-row>
    </el-card>
    <el-card class="table-content-box">
      <div class="table-title-box">
        <span>下属绩效列表</span>
        <div>
          <el-button type="primary" size="small" icon="el-icon-download" @click="exportExcel">导出Excel</el-button>
        </div>
      </div>
      <el-table v-loading="loading" element-loading-text="查询中，请稍后..." border :data="tableData" tooltip-effect="dark"
        :header-cell-style="{ color: '#303133', background: '#ebf3fe', 'font-weight': 'bold','text-align': 'center' }">
        <el-table-column align="center" prop="staffCode" label="员工编码" min-width="150" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="staffName" label="姓名" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="year" label="年份" min-width="120" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column align="center" prop="quarter" label="考核周期" min-width="150" :show-overflow-tooltip="true">
          <template slot-scope="{row}">
            {{ row.quarter | formatQuarter }}
          </template>
        </el-table-column>
        <el-table-column align="center" prop="finalGrade" label="绩效结果" min-width="150" :show-overflow-tooltip="true">
        </el-table-column>
        <el-table-column fixed="right" align="center" label="操作" width="160">
          <template slot-scope="{row}">
            <el-button size="mini" @click="viewDetail(row)">查询详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="bottom-box">
        <div></div>
        <el-pagination
          :total="total"
          :current-page="currentPage"
          :page-size="pageSize"
          :page-sizes="[10, 50, 300, 500]"
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          layout="total, sizes, prev, pager, next, jumper"></el-pagination>
      </div>
    </el-card>
  </div>
</template>

<script>
import approveProcessList from '@/api/approveProcessList'
import assessmentDetail from '@/api/assessmentDetail'
import personnelManagement from "@/api/personnelManagement"
export default {
  name: 'subordinateMerits',
  data () {
    return {
      queryForm:{
        year: '',
        quarter: '',
        staffCode: '',
        staffName: ''
      },
      quarterList: [{
        label: '一季度',
        value: '1'
      },{
        label: '二季度(年中)',
        value: '2'
      },{
        label: '三季度',
        value: '3'
      },{
        label: '四季度(年度)',
        value: '4'
      }],
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 10,
      total: 0,
      // 修改框
      editDialog: false,
      // 修改框表单
      editForm: {
        name: ''
      }
    }
  },
  created () {
    this.handleQuery()
  },
  methods: {
    // 查询
    handleQuery() {
      this.loading = true
      this.currentPage = 1
      this.getPage()
    },
    async getPage () {
      const params = {
        pageSize: this.pageSize,
        currentPage: this.currentPage,
        ...this.queryForm
      }
      personnelManagement.queryUnderPerf(params).then(res => {
        console.log(res)
        this.loading = false
        if (res.data.content.result === '0') {
          this.total = res.data.content.records
          this.tableData = res.data.content.data
        } else {
          this.$message.error(res.data.content.resultMessage)
        }
      })
    },
    // 查看详情
    async viewDetail(row) {
      await approveProcessList.getUserInfo().then(res => {
        console.log('当前登录用户', res)
        if (res.data.content.result === '0') {
          var a = row.hrPerformanceId + "&userNo=" + res.data.content.userNo;
          let Base64 = require('js-base64').Base64;
          var decodeStr = Base64.encode(a);
          console.log("encode：" + decodeStr)
          const { href } = this.$router.resolve({
            path: '/performance/productDeal',
            query: {
              hrPerformanceId: decodeStr
            }
          })
          window.open(href, '_blank')
        } else {
          window.open('http://gherp.guohualife.com:7001/cas/login')
        }
      })
    },
    // 导出Excel
    exportExcel() {
      assessmentDetail.exportTarget(this.queryForm).then(res => {
        // if (res.data.content.result === '0') {
          const data = res.data
          const url = window.URL.createObjectURL(new Blob([data], { type: 'application/vnd.ms-excel' }))      
          const link = document.createElement('a')
          link.style.display = 'none'
          link.href = url
          link.setAttribute('download', '员工考核指标明细表.xlsx')
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
          this.$message.success('导出成功！')          
        // } else {
        //   this.$message.error(res.data.content.resultMessage || '导出失败！')
        // }
      })
    },
    // 初始页currentPage、初始每页数据数pagesize和数据data
    handleSizeChange(size) {
      this.currentPage = 1
      this.pageSize = size
      // 使用最新的pageSize查询分页数据
      this.getPage()
    },
    handleCurrentChange(num) {
      this.currentPage = num
      this.getPage()
    },
  },
  filters: {
    // 第几季度
    formatQuarter (val) {
      if (val === '1') {
        return '第1季度'
      } else if (val === '2') {
        return '第2季度暨年中'
      } else if (val === '3') {
        return '第3季度'
      } else if (val === '4') {
        return '第4季度暨年度'
      } else {
        return '—————'
      }
    },
    // 格式化时间和日期
    formatDataTime (val) {
      if (val) {
        return util.formatDate(new Date(val))
      }
    }
  }
}
</script>

<style lang="less" scoped>
.app-content{
  padding: 10px 30px;
  h3{
    margin: 0;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 16px;
  }
  // 查询card
  .fillter-box{
    margin-bottom: 20px;
    /deep/ .el-card__body{
      padding: 20px;
      // 查询表单
      .el-row{
        // padding: 0 20px;
        .el-form-item{
          margin-bottom: 10px;
        }
        .el-form-item__label{
          width: calc(100% - 240px);
          min-width: 80px;
          text-align: left;
        }
        .el-input{
          width: 240px;
        }
      } 
      // 查询按钮
      .query_button{
        display: flex;
        justify-content: flex-end;
      }
    }    
  }
  .table-blue {
  content: '';
  width: 6px;
  height: 16px;
  background: #409eff;
  border-radius: 3px 0;
  display: inline-block;
  margin-top: 4px;
}
  // 表格card
  .table-content-box{
    /deep/ .el-card__body{
      padding: 20px;
    }
    .table-title-box{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      span{
        height: 40px;
        color: #000;
        font-size: 16px;
        text-align: left;
        font-weight: bold;
      }
      span::before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 16px;
        background: #409eff;
        border-radius: 3px 0;
        vertical-align: sub;
        margin-right: 10px;
      }
    }
    .el-table{
      border: 1px solid #d1d2ce;
    }
  }
  .bottom-box{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
// 表格表头边框
/deep/ .table-content-box .el-table--border th.el-table__cell, .el-table__fixed-right-patch{
  border-right: 1px solid #d1d2ce;
  border-bottom: 1px solid #d1d2ce;
}
// 表格内容边框
/deep/ .table-content-box .el-table td.el-table__cell{
  border-bottom: 1px solid #d1d2ce;
}
/deep/ .table-content-box .el-table--border .el-table__cell{
  border-right: 1px solid #d1d2ce;
}
</style>