<template>
    <div class="app-container">
        <el-backtop :bottom="100" :visibility-height="50" />
        <el-card style="padding: 10px;">
            <!-- <div class="top">
                <el-page-header @back="goBack" content="员工信息详情" />
            </div> -->
            <div class="main">
                <el-collapse v-model="activeNames">
                    <el-collapse-item title="基本信息" name="1">
                        <el-container>
                            <el-aside width="calc(100% - 103px)">
                                <el-descriptions class="margin-top" :column="4" border :contentStyle="CS" :label-style="LS">
                                    <el-descriptions-item label="姓名">
                                        {{ staffInfo.staffName }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="性别">
                                        {{ staffInfo.sex }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="年龄">
                                        {{ staffInfo.age }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="成长地">
                                        {{ staffInfo.growPlace }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="最高学历">
                                        {{ staffInfo.topEducation }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="最高学位">
                                        {{ staffInfo.topDegree }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="最高学历性质">
                                        {{ staffInfo.topEducationStyle }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="政治面貌">
                                        {{ staffInfo.polity }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="保险从业年限">
                                        {{ staffInfo.insYears }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="入司时间">
                                        {{ staffInfo.inComDate | formatData(staffInfo.inComDate) }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="当前机构层级">
                                        {{ staffInfo.comGrade }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="当前职务">
                                        {{ staffInfo.job }}
                                    </el-descriptions-item>
                                </el-descriptions>
                            </el-aside>
                            <el-main style="border: 1px #c3c3c3 solid;border-left: 0;padding: 0;">
                                <el-image :src="imgFilePath" :preview-src-list="[imgFilePath]" fit="fill"
                                    style="vertical-align :bottom;" />
                            </el-main>
                        </el-container>
                    </el-collapse-item>
                    <el-collapse-item title="教育经历" name="2">
                        <el-table :data="eduList" :cell-style="{ borderColor: '#c3c3c3' }"
                            style="border-top: 1px solid #c3c3c3;" :header-cell-style="tableHeaderColor">
                            <el-table-column label="教育经历" align="center">
                                <el-table-column label="开始时间" align="center" prop="begindate" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.begindate | formatData(scope.row.begindate) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="结束时间" align="center" prop="enddate" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.enddate | formatData(scope.row.enddate) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="学校" align="center" prop="school" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="专业" align="center" prop="major" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="学历" align="center" prop="education" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.education | formatEducation(scope.row.education) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="学位" align="center" prop="degree" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.degree | formatDegree(scope.row.degree) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="学历性质" align="center" prop="educationStyle"
                                    :show-overflow-tooltip="true" min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.educationStyle | formatEducationStyle(scope.row.educationStyle) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="所在省" align="center" prop="province" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="所在市" align="center" prop="city" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                            </el-table-column>
                        </el-table>
                    </el-collapse-item>
                    <!-- <el-collapse-item title="工作经历" name="3">
                        <div>
                            <el-row>
                                <el-col :span="24" class="bg-purple-dark" style="border-bottom: 0;">
                                    工作经历
                                </el-col>
                                <el-col class="education-item" style="width: 44.44%;">
                                    国华人寿
                                </el-col>
                                <el-col class="education-item" style="width: 44.44%;">
                                    保险同业
                                </el-col>
                                <el-col class="education-item" style="width: 11.11%;">
                                    合计时长
                                </el-col>
                            </el-row>
                            <el-row class="education">
                                <el-col style="width: 11.11%;">
                                    总公司最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJob }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJobYears }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    总公司最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJob }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJobYears }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ parseInt(staffDetail.ghTopJobYears | 0) + parseInt(staffDetail.peerJobYears | 0) }}
                                </el-col>
                            </el-row>
                            <el-row class="education" style="border-bottom: 0;">
                                <el-col style="width: 11.11%;">
                                    分公司最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJob2 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJobYears2 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    分公司最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJob2 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJobYears2 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ parseInt(staffDetail.ghTopJobYears2 | 0) + parseInt(staffDetail.peerJobYears2 | 0) }}
                                </el-col>
                            </el-row>
                            <el-row class="education">
                                <el-col style="width: 11.11%;">
                                    中心支最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJob3 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.ghTopJobYears3 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    中心支最高职务
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJob3 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    任职时长
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ staffDetail.peerJobYears3 }}
                                </el-col>
                                <el-col style="width: 11.11%;">
                                    {{ parseInt(staffDetail.ghTopJobYears3 | 0) + parseInt(staffDetail.peerJobYears3 | 0) }}
                                </el-col>
                            </el-row>
                        </div>-->
                    <el-collapse-item title="工作经历" name="3">
                        <el-table :data="workExperienceList" :cell-style="{ borderColor: '#c3c3c3' }" border
                            :header-cell-style="tableHeaderColor" style="border-top: 1px solid #c3c3c3;">
                            <el-table-column label="任职经历" align="center" prop="experience" min-width="22.22%" />
                            <el-table-column label="国华人寿" align="center">
                                <el-table-column label="职务" align="center" prop="ghJob" min-width="22.22%" />
                                <el-table-column label="任职年限" align="center" prop="ghJobYears" min-width="22.22%" />
                            </el-table-column>
                            <el-table-column label="保险同业" align="center">
                                <el-table-column label="职务" align="center" prop="peerJob" min-width="22.22%" />
                                <el-table-column label="任职年限" align="center" prop="peerJobYears" min-width="22.22%">
                                    <template slot-scope="scope">
                                        {{ scope.row.peerJobYears == 0 ? null : scope.row.peerJobYears}}
                                    </template>
                                </el-table-column>
                            </el-table-column>
                        </el-table>
                        <el-table :data="transferIncludeList" :cell-style="{ borderColor: '#c3c3c3' }"
                            :header-cell-style="tableHeaderColor">
                          <el-table-column label="入司后" align="center">
                            <el-table-column label="开始时间" align="center" prop="transferStartDate"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="结束时间" align="center" prop="transferEndDate"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="总分公司" align="center" prop="managecomzfName"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="中支" align="center" prop="managecomzzName"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="部门" align="center" prop="deptName" :show-overflow-tooltip="true"
                                             min-width="9.99%"/>
                            <el-table-column label="处室" align="center" prop="subjectName"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="岗位" align="center" prop="stationName"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="职级" align="center" prop="mainRankCode"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="职务" align="center" prop="mainRankName"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                            <el-table-column label="职能领域" align="center" prop="functionalArea"
                                             :show-overflow-tooltip="true" min-width="9.99%"/>
                          </el-table-column>
                        </el-table>
                        <el-table :data="workList" :cell-style="{ borderColor: '#c3c3c3' }"
                            :header-cell-style="tableHeaderColor">
                            <el-table-column label="入司前" align="center">
                                <el-table-column label="开始时间" align="center" prop="beginDate" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.beginDate | formatData(scope.row.beginDate) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="结束时间" align="center" prop="endDate" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.endDate | formatData(scope.row.endDate) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="单位" align="center" prop="workCompany" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="部门" align="center" prop="workDept" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="职位" align="center" prop="rank" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="行业" align="center" prop="workTrade" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.workTrade | formatWorkTrade(scope.row.workTrade) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="工作性质" align="center" prop="workNature" :show-overflow-tooltip="true"
                                    min-width="11.11%">
                                    <template slot-scope="scope">
                                        {{ scope.row.workNature | formatWorkNature(scope.row.workNature) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="城市" align="center" prop="workCity" :show-overflow-tooltip="true"
                                    min-width="11.11%" />
                                <el-table-column label="职能领域" prop="functionalArea" align="center"
                                    :show-overflow-tooltip="true" min-width="11.11%" />
                            </el-table-column>
                        </el-table>
                    </el-collapse-item>
                    <el-collapse-item title="绩效表现" name="4">
                        <div>
                            <el-row>
                                <el-col :span="24" class="bg-purple-dark" style="border-bottom: 0;">
                                    绩效表现
                                </el-col>
                            </el-row>
                            <el-descriptions class="margin-top" :column="9" border :contentStyle="CS" :label-style="PerfLS">
                                <el-descriptions-item :label="fullYear.yearOne">
                                    {{ staffDetail.lastYearsGrade }}
                                </el-descriptions-item>
                                <el-descriptions-item :label="fullYear.yearTwo">
                                    {{ staffDetail.beforeLastYearsGrade }}
                                </el-descriptions-item>
                                <el-descriptions-item :label="fullYear.yearThree">
                                    {{ staffDetail.threeYearsAgoGrade }}
                                </el-descriptions-item>
                            </el-descriptions>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item title="奖惩记录" name="5">
                        <div>
                            <el-row>
                                <el-col :span="24" class="bg-purple-dark">
                                    奖惩记录
                                </el-col>
                            </el-row>
                            <el-container>
                                <el-aside width="calc(100% - 88.88%)" class="bg-purple">
                                    <span>入司后</span>
                                </el-aside>
                                <el-main style="padding: 0;">
                                    <!-- <el-table :data="rewardAwardList" border :cell-style="{ borderColor: '#c3c3c3' }"
                                        :header-cell-style="tableHeaderColor">
                                        <el-table-column label="获奖励时间" align="center" prop="rewardPunDate"
                                            :show-overflow-tooltip="true" min-width="22.22%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunDate | formatData(scope.row.rewardPunDate) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="授予机构" align="center" prop="rewardPunOrg"
                                            :show-overflow-tooltip="true" min-width="11.11%" />
                                        <el-table-column label="详细情况" align="center" prop="description"
                                            :show-overflow-tooltip="true" min-width="55.55%" />
                                    </el-table>
                                    <el-table :data="rewardPenaltyList" border :cell-style="{ borderColor: '#c3c3c3' }"
                                        :header-cell-style="tableHeaderColor">
                                        <el-table-column label="受惩罚时间" align="center" prop="rewardPunDate"
                                            :show-overflow-tooltip="true" min-width="22.22%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunDate | formatData(scope.row.rewardPunDate) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="授予机构" align="center" prop="rewardPunOrg"
                                            :show-overflow-tooltip="true" min-width="11.11%" />
                                        <el-table-column label="详细情况" align="center" prop="description"
                                            :show-overflow-tooltip="true" min-width="55.55%" />
                                    </el-table> -->
                                    <el-table :data="rewardAwardList" border :cell-style="{ borderColor: '#c3c3c3' }"
                                        :header-cell-style="tableHeaderColor">
                                        <el-table-column label="奖惩类别" align="center" prop="rewardPunType"
                                            :show-overflow-tooltip="true" min-width="11.11%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunType | formatRewardPunType(scope.row.rewardPunType) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="奖惩时间" align="center" prop="rewardPunDate"
                                            :show-overflow-tooltip="true" min-width="11.11%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunDate | formatData(scope.row.rewardPunDate) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="授予机构" align="center" prop="rewardPunOrg"
                                            :show-overflow-tooltip="true" min-width="11.11%" />
                                        <el-table-column label="详细情况" align="center" prop="description"
                                            :show-overflow-tooltip="true" min-width="55.55%" />
                                    </el-table>
                                </el-main>
                            </el-container>
                            <el-container>
                                <el-aside width="calc(100% - 88.88%)" class="bg-purple">
                                    <span>入司前</span>
                                </el-aside>
                                <el-main style="padding: 0;">
                                    <el-table :data="rewardList" border :cell-style="{ borderColor: '#c3c3c3' }"
                                        :header-cell-style="tableHeaderColor">
                                        <el-table-column label="奖惩类别" align="center" prop="rewardPunType"
                                            :show-overflow-tooltip="true" min-width="11.11%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunType | formatRewardPunType(scope.row.rewardPunType) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="奖惩时间" align="center" prop="rewardPunDate"
                                            :show-overflow-tooltip="true" min-width="11.11%">
                                            <template slot-scope="scope">
                                                {{ scope.row.rewardPunDate | formatData(scope.row.rewardPunDate) }}
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="授予机构" align="center" prop="rewardPunOrg"
                                            :show-overflow-tooltip="true" min-width="11.11%" />
                                        <el-table-column label="详细情况" align="center" prop="description"
                                            :show-overflow-tooltip="true" min-width="55.55%" />
                                    </el-table>
                                </el-main>
                            </el-container>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item title="获证信息" name="6">
                        <el-table :data="certificateList" :cell-style="{ borderColor: '#c3c3c3' }"
                            :header-cell-style="tableHeaderColor" style="border-top: 1px solid #c3c3c3;">
                            <el-table-column label="获证信息" align="center">
                                <el-table-column label="证书类型" align="center" prop="certificate"
                                    :show-overflow-tooltip="true" min-width="22.22%">
                                    <template slot-scope="scope">
                                        {{ scope.row.certificate | formatCertificate(scope.row.rewardPunType) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="获得时间" align="center" prop="adardDate" :show-overflow-tooltip="true"
                                    min-width="22.22%">
                                    <template slot-scope="scope">
                                        {{ scope.row.adardDate | formatData(scope.row.adardDate) }}
                                    </template>
                                </el-table-column>
                                <el-table-column label="证书名称" align="center" prop="awardOrg" :show-overflow-tooltip="true"
                                    min-width="33.33%" />
                                <el-table-column label="颁发国家" align="center" prop="awardCountry"
                                    :show-overflow-tooltip="true" min-width="22.22%" />
                            </el-table-column>
                        </el-table>
                    </el-collapse-item>
                </el-collapse>
            </div>
        </el-card>
    </div>
</template>

<script>

import staffManage from '@/api/staffManage';
import util from '@/utils/util';
export default {
    name: "staffDetail",
    data() {
        return {
            CS: {
                'min-width': '200px',
                'text-align': 'center',
                'borderColor': '#c3c3c3',
            },
            LS: {
                'width': '130px',   //宽度
                'text-align': 'center',
                'borderColor': '#c3c3c3',
                'background-color': '#ebf3fe',
                'color': '#303133',
                // 'font-weight': 'bold'
            },
            PerfLS: {
                'width': '11.11%',   //宽度
                'text-align': 'center',
                'borderColor': '#c3c3c3',
                'background-color': '#ebf3fe',
                'color': '#303133',
                // 'font-weight': 'bold'
            },
            // 搜索条件默认打开
            activeNames: ['1', '2', '3','4', '5', '6'],
            // 员工id
            staffId: '',
            // 表格绩效表现，动态当前三年
            fullYear: {},
            // 员工照片路径
            imgFilePath: '',
            // 员工基本信息
            staffInfo: {},
            // 详情信息
            staffDetail: {},
            // 教育经历表格数据
            eduList: [],
            // 工作经历集合
            workExperienceList: [],
            // 入司后异动、调动工作经历
            transferIncludeList: [],
            // 入司前工作经历
            workList: [],
            // 奖惩记录-获奖励
            rewardAwardList: [],
            // 奖惩记录-获惩罚
            rewardPenaltyList: [],
            // 奖惩记录-入司后
            rewardList: [],
            // 获奖信息
            certificateList: [],
        };
    },
    created() {
        this.fullYear = {
            yearOne: new Date().getFullYear() ,
            yearTwo: new Date().getFullYear() - 1,
            yearThree: new Date().getFullYear() - 2,
        }
        this.init();
        this.initInfo();
    },
    methods: {
        // 初始化数据
        async init() {
            console.log('window', window)
            this.staffId = this.$route.query.staffId

            this.staffDetail = JSON.parse(this.$route.query.staffDetail)
            console.log('初始化数据', this.staffDetail)
            var newObject1 = {
                experience: "总公司最高职务", ghJob: this.staffDetail.ghTopJob, ghJobYears: this.staffDetail.ghJobYears,
                peerJob: this.staffDetail.peerJob, peerJobYears: parseInt(this.staffDetail.ghTopJobYears | 0) + parseInt(this.staffDetail.peerJobYears | 0)
            };
            var newObject2 = {
                experience: "分公司最高职务", ghJob: this.staffDetail.ghTopJob2, ghJobYears: this.staffDetail.ghJobYears2,
                peerJob: this.staffDetail.peerJob2, peerJobYears: parseInt(this.staffDetail.ghTopJobYears2 | 0) + parseInt(this.staffDetail.peerJobYears2 | 0)
            };
            var newObject3 = {
                experience: "中心支公司最高职务", ghJob: this.staffDetail.ghTopJob3, ghJobYears: this.staffDetail.ghJobYears3,
                peerJob: this.staffDetail.peerJob3, peerJobYears: parseInt(this.staffDetail.ghTopJobYears3 | 0) + parseInt(this.staffDetail.peerJobYears3 | 0)
            };
            this.workExperienceList.push(newObject1);
            this.workExperienceList.push(newObject2);
            this.workExperienceList.push(newObject3);
        },
        /** 初始化员工信息 */
        async initInfo() {
            const params = {
                staffId: this.staffId,
            }
            staffManage.initInfo(params).then(res => {
                console.log("初始化员工信息====res====", res);
                if (res.data.content.result === '0') {
                    this.staffInfo = res.data.content.staffInfo;
                    this.imgFilePath = res.data.content.filePath;
                    this.eduList = res.data.content.eduList;
                    this.transferIncludeList = res.data.content.transferIncludeList;
                    this.workList = res.data.content.workList;
                    this.rewardAwardList = res.data.content.rewardAwardList;
                    this.rewardPenaltyList = res.data.content.rewardPenaltyList;
                    this.rewardList = res.data.content.rewardList;
                    this.certificateList = res.data.content.certificateList;
                } else {
                    this.$message.error(res.data.content.resultMessage)
                }
            })
        },
        goBack() {
            this.$router.back();
        },
        // 工作经历表头样式设置
        headerCellStyle({ row, column, rowIndex, columnIndex }) {
            let css = "color: #303133; background: #ebf3fe; font-weight: bold; text-align: center; borderColor: #c3c3c3;";
            // 这里是对行和列的判断
            if (rowIndex === 0) {
                // 返回的就是需要设置的CSS样式
                css += "font-size: 20px;color: #0682ca;";
            }
            // 第一步：设置表头的第0列暂不操作，将地1列和第2列隐去使其消失
            if ((rowIndex == 1) && ([1, 2, 3, 5, 6, 7].includes(columnIndex))) {
                css += "display: none";
            }
            // 第二步， 由于1, 2, 3, 5, 6, 7列没有了，后续列就会贴上来（后续列往左错位问题）
            if ((rowIndex == 1) & ([0, 4].includes(columnIndex))) {
                // 解决后续列错位问题，就是将隐去的列的位置再补上，通过第0列来补
                this.$nextTick(() => {
                    // 原来第0, 4列只占据一个位置，现在要去占据四个位置。即占据四列，即设置为横向四个单元格
                    document.querySelector(`.${column.id}`).setAttribute("colspan", "4");
                    // 这里的column.id实际是dom元素的class，故用.不用#，可审查dom验证
                    // 通过设置原生的colspan属性，让原来的第0, 4列只占据一个单元格的表头占4据个单元格即可
                });
            }
            return css;
        },
        // 表头样式
        tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            let css = "color: #303133; background: #ebf3fe;borderColor: #c3c3c3; font-weight: bold;";
            // 这里是对行和列的判断
            if (rowIndex === 0 && ['教育经历', '获证信息'].includes(row[0].label)) {
                // 返回的就是需要设置的CSS样式
                css += "font-size: 20px;color: #0682ca;";
            }
            if (rowIndex === 0 & ['入司前', '入司后'].includes(row[0].label)) {
                // 返回的就是需要设置的CSS样式
                css += "font-size: 16px;";
            }
            return css;
        },
        // 绩效表现表头样式设置
        PerfHeaderCS({ row, column, rowIndex, columnIndex }) {
            let css = "color: #303133; background: #ebf3fe; font-weight: bold; text-align: center; borderColor: #c3c3c3;";
            // 这里是对行和列的判断
            if (rowIndex === 0) {
                // 返回的就是需要设置的CSS样式
                css += "font-size: 20px;color: #0682ca;";
            }
            // 第一步：设置表头的第0列暂不操作，将地1列和第2列隐去使其消失
            if (rowIndex === 1) {
                css += "display: none";
            }
            return css;
        },
        // 绩效表现列处理
        PerfSpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 7) {
                return [1, 2];
            } else if (columnIndex === 8) {
                return [0, 0];
            }
        },
    },
    filters: {
        formatData(time) {
            return util.formatDate(new Date(time));
        },
        formatEducationStyle(value) {
            if (value == '01') {
                return '全日制';
            } else {
                return '非全日制';
            }
        },
        formatEducation(value) {
            if (value == '01') {
                return '大专以下';
            } else if (value == '02') {
                return '大专';
            } else if (value == '03') {
                return '本科';
            } else if (value == '04') {
                return '硕士研究生';
            } else if (value == '05') {
                return '博士研究生';
            } else if (value == '06') {
                return '小学';
            } else if (value == '07') {
                return '初中';
            } else if (value == '08') {
                return '中专';
            } else if (value == '09') {
                return '高中';
            }
        },
        formatDegree(value) {
            if (value == '00') {
                return '无';
            } else if (value == '01') {
                return '学士';
            } else if (value == '02') {
                return '硕士';
            } else if (value == '03') {
                return '博士';
            } else if (value == '04') {
                return '双学士';
            } else if (value == '05') {
                return '双硕士';
            }
        },
        formatWorkTrade(value) {
            if (value == '01') {
                return '金融-保险-寿险';
            } else if (value == '02') {
                return '金融-保险-非寿险';
            } else if (value == '03') {
                return '金融-非保险';
            } else if (value == '04') {
                return '非金融';
            }
        },
        formatWorkNature(value) {
            if (value == '00') {
                return '全职';
            } else if (value == '01') {
                return '实习';
            } else if (value == '02') {
                return '个体';
            } else if (value == '03') {
                return '待业';
            }
        },
        formatCertificate(value) {
            if (value == '00') {
                return '无';
            } else if (value == '01') {
                return '国外精算师';
            } else if (value == '02') {
                return 'ACCA';
            } else if (value == '03') {
                return 'CFA-3级';
            } else if (value == '04') {
                return '国外准精算师';
            } else if (value == '05') {
                return '国家司法考试';
            } else if (value == '06') {
                return '通过CPA全科考试';
            } else if (value == '07') {
                return 'ORACLE数据库认证';
            } else if (value == '08') {
                return '思科CCNA';
            } else if (value == '09') {
                return '信息安全师';
            } else if (value == '10') {
                return '系统管理员';
            } else if (value == '11') {
                return 'PMP';
            } else if (value == '12') {
                return '';
            } else if (value == '13') {
                return '';
            } else if (value == '14') {
                return '中级职称';
            } else if (value == '15') {
                return '其他';
            } else if (value == '16') {
                return '高级职称';
            } else if (value == '17') {
                return 'CFA';
            } else if (value == '18') {
                return 'CPA';
            }
        },
        formatRewardPunType(value) {
            if (value == '00') {
                return '无';
            } else if (value == '01') {
                return '奖励';
            } else if (value == '02') {
                return '惩罚';
            }
        },
    },
};
</script>
<style lang="less">
.my-label {
    background: #E1F3D8;
}

.el-table {
    border: 1px #c3c3c3 solid;
    border-top: 0;
    // padding-bottom: 5px;
}

.el-collapse-item__content {
    padding-bottom: 0;
}

.el-collapse-item__header {
    font-weight: bold;
    font-size: 18px;
}

.el-collapse-item__content {
    max-height: fit-content;
}
</style>
<style lang="less" scoped>
.app-container {
    padding: 20px;
}

.card-box {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

/deep/.el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-col {
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px #c3c3c3 solid;
    // border-top: 0;
}

.bg-purple-dark {
    font-size: 20px;
    color: #0682ca;
    font-weight: bold;
    background: #ebf3fe;
}

.education .el-col {
    border: 1px #c3c3c3 solid;
    border-top: 0;
}

.education .el-col:not(:last-child) {
    border-right: 0;
}

.education-item {
    font-weight: bold;
    background: #ebf3fe;
}

.education-item:not(:last-child) {
    border-right: 0;
}

.bg-purple {
    font-size: 16px;
    font-weight: bold;
    border: 1px #c3c3c3 solid;
    border-top: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebf3fe;
}
</style>
